@import './variables';
@import '../src/lib/shared/shared';



body:not(.LIV-50__opacity) {
    opacity: 0 !important;
}

.sidebar #order-summary:not(.test-opacity){
    opacity: 0;
}

.sidebar #order-summary.test-opacity{
    opacity: 1;
}

#sidebar-cart:not(.test-opacity){
    opacity: 0;
}

#sidebar-cart.test-opacity{
    opacity: 1;
}

#Media26682507690133:not(.LIV-50__image-load),
#Media26682505953429:not(.LIV-50__image-load),
#Media26682509820053:not(.LIV-50__image-load) {
    opacity: 0 !important;
}

#Media26682507690133.LIV-50__image-load,
#Media26682505953429.LIV-50__image-load,
#Media26682509820053.LIV-50__image-load {
    opacity: 1 !important;
}

.ProductItem__ImageWrapper[href="/products/livefresh-wellness-saftkur-7-tage"]:not(.LIV-50__image-load),
.ProductItem__ImageWrapper[href="/products/klassische-saftkur-5-tage"]:not(.LIV-50__image-load),
.ProductItem__ImageWrapper[href="/products/livefresh-saftkur-3-tage"]:not(.LIV-50__image-load){
    opacity: 0;
}

.ProductItem__ImageWrapper[href="/products/livefresh-wellness-saftkur-7-tage"].LIV-50__image-load,
.ProductItem__ImageWrapper[href="/products/klassische-saftkur-5-tage"].LIV-50__image-load,
.ProductItem__ImageWrapper[href="/products/livefresh-saftkur-3-tage"].LIV-50__image-load{
    opacity: 1;
}


.LIV-50__image-mini-saftkur {
    object-fit: contain !important;
}
.#{$id} {
    &__opacity {
        opacity: 1;
    }

    &__image-saftkur {
        top: 50% !important;
        height: auto !important;
        transform: translateY(-50%);
    }

    &__image-prod-saftkur {
        top: 0 !important;
        object-fit: contain;
    }
}