@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
  .essential_countdown_annoucement_bar_wrapper {
    display: flex !important;

    & + .essential_countdown_annoucement_bar_wrapper {
      display: none !important;
    }
  }

  [data-pf-type='Layout'] {
    & > div[data-pf-type='Section']:first-child {
      display: none;
    }
  }
}
