@import './variables';
@import '../src/lib/shared/shared';

.#{$id} {
    &__mktoFormRow {
        position: relative;
        height: 68px;
        margin-bottom: 10px !important;
    }

    &__mktZipError {
        position: absolute;
        top: calc(100% - 10px);
        left: 20px;
        width:max-content;
    }
}