@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
    .inner {
        .#{$id}__active.form-row {
            display: block !important;
        }

        .#{$id}__hide.form-row {
            display: none !important;
        }

        .form-row {
            .c-form-group {
                display: block;

                .c-btn {
                    min-width: 100%;
                    margin-bottom: 15px;
                    transition: all 0.5s ease;

                    &:hover {
                        border: 2px solid #7190AF;
                        color: #FFF;
                        background: #7190AF;
                    }
                }
            }
        }
    }
}