@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
    .banner_for_july .promo_image .promo_content_inner .promo_list {
        display: none;
    }

    &__banner {
        display: flex;
        max-height: 482px;
        padding: 0;
        background-color: #fff;

        .#{$id}__saleBanner {
            flex: 1 1 30%;
            background-color: #B2263F;
            color: #fff;
            padding: 20px;
            box-sizing: border-box;
            text-align: center;

            h1 {
                font-size: 2.5em;
                margin: 0 0 10px;
            }

            p {
                margin: 10px 0;
            }

            button {
                padding: 10px 20px;
                background-color: #fff;
                color: #000;
                border: none;
                cursor: pointer;
                font-size: 1em;
            }
        }

        .image-section {
            flex: 2 1 60%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            padding: 0;
            box-sizing: border-box;
        }

        .before-after {
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: space-around;
        }

        .before {
            flex: 1 1 35%;
        }

        .after {
            flex: 1 1 45%;
        }

        .before {
            position: relative;
            padding-right: 11px;

            .text {
                position: absolute;
                top: 0;
                right: 18px;
                font-weight: 600;
                font-size: 16px;
                line-height: 30px;
                color: #222221;
                background-color: #fff;
                padding: 11px 24px;
                border-radius: 13px;
                z-index: 1;
            }
        }

        .after {
            position: relative;

            .text {
                position: absolute;
                top: 0;
                left: 18px;
                font-weight: 600;
                font-size: 16px;
                line-height: 30px;
                color: #222221;
                background-color: #fff;
                padding: 11px 24px;
                border-radius: 13px;
                z-index: 1;
            }
        }

        .before img,
        .after img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            // max-width: 500px;
        }

        .before span,
        .after span {
            display: block;
            margin-top: 10px;
            font-size: 1.2em;
            color: #333;
        }
    }
}