@import './variables';
@import '../src/lib/shared/shared.scss';

// QA purpose show the control banner
.lf306 .banner_for_july .promo_image .promo_content_inner .promo_list {
    display: flex;
}

.#{$id} {
    .offer_end:not(.#{$id}__offerEnd) {
        display: none;
    }

    .banner_for_july .promo_image .promo_content_inner .promo_list li.item.item_designed {
        background: #B2263F !important;
    }

    .banner_for_july .promo_image .promo_content_inner .promo_list li.item.item_designed .card {
        background: #B2263F !important;
    }

    .actions {
        width: 206px !important;
        height: 50px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 17px auto 0;

        @include media-query(xxl) {
            width: 190px;
            margin: 12px auto 0;
        }

        @include media-query(xl) {
            margin: 12px auto 0;
        }

        a {
            padding: 11px 38px 16px !important;
            font-weight: 600;
            font-size: 17px !important;
            line-height: 19px;
            width: 100%;
            height: 100%;
            color: #000 !important;

            @include media-query(xxl) {
                padding: 11px 30px 16px !important;
            }

            .shop-sale-btn {
                display: flex;
                align-items: center;
            }

            .shop-sale-btn-text {
                display: flex;
            }

            .shop-sale-btn-icon svg {
                display: flex;
                width: 30px;
                height: 30px;
            }
        }
    }

    .roundel {
        position: absolute;
        top: 8px;
        right: -22px;
        z-index: 99;
    }

    .banner_for_july .promo_image .promo_content_inner .promo_list li.item.item_designed .card .designed_icon h2 {
        font-size: 115px;
    }

    .roundel {
        right: 4px;
    }

    @include media-query(4xl) {
        .banner_for_july .promo_image .promo_content_inner .promo_list li.item.item_designed .card .designed_icon h2 {
            font-size: 100px;
        }
    }

    @include media-query(xxxl) {
        .banner_for_july .promo_image .promo_content_inner .promo_list li.item.item_designed .card .designed_icon h2 {
            font-size: 90px;
        }

        .banner_for_july .promo_image .promo_content_inner .promo_list li.item.item_designed .card .built_icon h3 {
            font-size: 32px;
        }

        .roundel {
            right: 4px;
        }

        .roundel svg {
            width: 145px;
            height: 145px;
        }
    }

    @media screen and (max-width: 1680px) {
        .roundel {
            right: 2px;
        }

        .roundel svg {
            width: 135px;
            height: 135px;
        }
    }

    @include media-query(xxl) {
        .banner_for_july .promo_image .promo_content_inner .promo_list li.item.item_designed .card .designed_icon h2 {
            font-size: 80px;
            transform: translate(-10px, 0px);
        }

        .banner_for_july .promo_image .promo_content_inner .promo_list li.item.item_designed .card .icon {
            max-width: 170px;
            margin: 0 0 -15px 20px;
        }

        .roundel {
            right: 0px;
        }

        .roundel svg {
            width: 130px;
            height: 130px;
        }
    }

    @include media-query(xl) {
        .banner_for_july .promo_image .promo_content_inner .promo_list li.item.item_designed .card .designed_icon h2 {
            font-size: 60px;
            transform: translate(-20px, 0px);
        }

        .banner_for_july .promo_image .promo_content_inner .promo_list li.item.item_designed .card .actions {
            margin-top: 0px;
        }

        .banner_for_july .promo_image .promo_content_inner .promo_list li.item.item_designed .card .actions a {
            font-size: 16px;
            padding: 12px 54px;
        }

        .banner_for_july .promo_image .promo_content_inner .promo_list li.item.item_designed .card .built_icon h3 {
            font-size: 24px;
        }

        .banner_for_july .promo_image .promo_content_inner .promo_list li.item.item_designed .card .icon {
            max-width: 130px;
            margin: 0 0 -10px 20px;
        }

        .roundel {
            right: 0;
        }

        .roundel svg {
            width: 118px;
            height: 118px;
        }
    }

    @include media-query(lg) {
        .banner_for_july .promo_image .promo_content_inner .promo_list li.item.item_designed .card .designed_icon h2 {
            font-size: 90px;
        }

        .banner_for_july .promo_image .promo_content_inner .promo_list li.item.item_designed .card .built_icon h3 {
            font-size: 38px;
        }

        .banner_for_july .promo_image .promo_content_inner .promo_list li.item.item_designed .card .icon {
            max-width: 170px;
            margin: 0 0 -10px 20px;
        }

        .roundel {
            right: 8px;
        }

        .roundel svg {
            width: 145px;
            height: 145px;
        }
    }

    @include media-query(md) {
        .banner_for_july .promo_image .promo_content_inner .promo_list li.item.item_designed .card .designed_icon h2 {
            font-size: 80px;

        }

        .banner_for_july .promo_image .promo_content_inner .promo_list li.item.item_designed .card .built_icon h3 {
            font-size: 38px;
        }

        .banner_for_july .promo_image .promo_content_inner .promo_list li.item.item_designed .card .icon {
            max-width: 170px;
            margin: 0 0 -10px 0px;
        }

        .roundel {
            top: 4px;
            right: 0;
        }

        .roundel svg {
            width: 120px;
            height: 120px;
        }
    }

    @include media-query(sm) {
        .banner_for_july .promo_image .promo_content_inner .promo_list li.item.item_designed .card .designed_icon h2 {
            font-size: 70px;
            transform: translate(0px, 0px);
        }

        .banner_for_july .promo_image .promo_content_inner .promo_list li.item.item_designed .card .built_icon h3 {
            font-size: 32px;
        }

        .banner_for_july .promo_image .promo_content_inner .promo_list li.item.item_designed .card .icon {
            max-width: 150px;
            margin: 0 0 -10px 20px;
        }

        .roundel {
            top: 4px;
            right: 2px;
        }
    }

    @include media-query(sm) {
        .banner_for_july .promo_image .promo_content_inner .promo_list li.item.item_designed .card .designed_icon h2 {
            font-size: 70px;
            transform: translate(-20px, 0px);
        }
    }
}