@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
  #sidr-id-menu-main-menu {
    & a[href*='/request-an-appointment'] {
      background-color: #54b5a7;
      margin: 8px;
      border-radius: 3px;
      text-align: center;

      span {
        font-size: 16px;
        line-height: 32px;
        font-weight: 700;
      }
    }
  }
}
