@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
    &__wrapper {
        margin: 0 0 22px 0;
        display: flex;
        justify-content: center;
        gap: 10px;

        @include media-query(sm) {
            gap: 8px;
        }

        .#{$id}__item {
            .#{$id}__paymentIconWrapper {
                display: flex;
                justify-content: center;
                align-items: center;

                .#{$id}__paymentIcon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 43px;
                    height: 26px;

                    img {
                        border-radius: 3.5px;
                    }


                    @include media-query(sm) {
                        width: 36px;
                        height: 22px;
                    }
                }

                .#{$id}__paymentIcon.#{$id}__borderedImage {
                    border: 0.6px solid #808080;
                    border-radius: 3.5px;

                    img {
                        width: auto !important;
                    }

                    @include media-query(sm) {
                        padding: 3px;
                    }
                }
            }

            .#{$id}__uspTitle {
                color: #000;
                font-weight: 500;
                font-size: 14px;
                line-height: 18px;
                text-transform: capitalize;
            }
        }
    }
}