@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
  &__test {
    display: block;
  }

  &__swiper {
    .swiper-slide {
      width: 100% !important;
    }

    & + .product-item-photo {
      display: none;
    }
  }
}
