@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
  &__hide {
    display: none;
  }

  &-1 {
    .#{$id}__filterHeader {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 30px;

      .filter-text {
        font-family: 'Goudy Old Style';
        font-size: 28px;
        font-weight: 400;
        line-height: 34px;
        color: #414042;
      }

      .#{$id}__sortWrapper {
        align-items: center;

        .w-grid {
          max-width: 217px;
          margin-left: 15px;
        }
      }
    }

    .#{$id}__productGrid {
      position: relative;
      display: flex;
      padding-top: 40px;

      .#{$id}__dataToolbar {
        max-width: 264px;
        margin-left: 30px;
      }

      #Toolbar {
        top: 124px;
        max-height: calc(100vh - 130px);
        padding: 15px 0 0;
        margin-top: 10px !important;
        // border: none !important;
        overflow-y: auto;
        background: #fbfaf8;
        border: 1px solid #e3e2de;

        &::-webkit-scrollbar {
          width: 2px;
        }

        &::-webkit-scrollbar-track {
          box-shadow: none;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 4px;
          background-color: #B9B8BA;
        }

        &>.items-stretch {
          flex-direction: column;

          .w-grid {
            border-bottom: 1px solid #e3e2de;
            border-top: none;
            border-left: none;
            border-right: none;
            max-width: 100%;

            &:hover,
            &:focus {
              border-bottom: 1px solid #e3e2de;
              border-top: none;
              border-left: none;
              border-right: none;
            }

            .z-20.absolute {
              position: initial;
            }
          }
        }

        &:has(.#{$id}__selectedFiltersWrapper):not(a) {

          //if the selectedFiltersWrapper (badges) has the class and is not an anchor tag
          .#{$id}__inStock {
            border-top: none;
          }

          .#{$id}__moreFiltersWrapper .border-b.border-border:last-child {
            border-bottom: none;
          }
        }

        &:has(.#{$id}__selectedFiltersWrapper a) .#{$id}__selectedFiltersWrapper {
          display: flex;
        }

        .#{$id}__inStockText {
          font-size: 15px;
          font-weight: 400;
          line-height: 19px;
          color: #414042;
        }

        .#{$id}__selectedFiltersWrapper {
          display: none;
          flex-wrap: wrap;
          padding: 0 0 20px;
          border-bottom: 1px solid #e3e2de;
          margin: 0 15px;
          gap: 5px;

          a.text-lg {
            font-size: 13px;
            line-height: 17px;
            padding: 4px 10px;
          }

          .#{$id}__resetFiltersBtn {
            display: none;
          }

          a+.#{$id}__resetFiltersBtn {
            margin-top: 10px;
            display: block;
            width: 100%;
            font-size: 15px;
            font-weight: 400;
            line-height: 19.5px;
            text-decoration-line: underline;
            text-decoration-style: solid;
            color: #414042;
            cursor: pointer;
          }
        }

        .#{$id}__contentsWrapper {
          padding: 0;
          gap: 0;
          // background: #fbfaf8;
          // border: 1px solid #e3e2de;

          .peer:checked~.peer-checked\:border-border-active {
            border: none;
          }

          label[for*='product-gridfilter'] {
            padding: 15px 0;
            font-size: 15px;
            font-weight: 400;
            line-height: 19.5px;
            color: #414042;
          }

          button[data-reset],
          .text-heading-sm.text-links.font-heading,
          label[for='Filters'],
          button[type='submit'] {
            display: none;
          }
        }

        .#{$id}__filterBox {
          margin: 0;
          padding: 5px 0 15px 0;
          border-bottom: 1px solid #e3e2de;

          li label {
            font-size: 14px;
            font-weight: 400;
            line-height: 18px;

            [name*="filter_colour"]:checked+span.peer-checked\:border-border-active,
            [name*="filter_rose_type"]:checked+span.peer-checked\:border-border-active,
            [name*="filter_location"]:checked+span.peer-checked\:border-border-active {
              border: 1px solid #53684A !important;

              &::after {
                background-color: #53684A;
              }
            }

            &:hover {
              color: #414042;

              .supports-hover\:group-hover\:border-border-active {
                border: 1px solid #53684A !important;
              }

              [name*="filter_rose_type"]+.supports-hover\:group-hover\:border-border-active,
              [name*="filter_location"]+.supports-hover\:group-hover\:border-border-active {
                &::after {
                  background-color: #53684A;
                }
              }
            }
          }

          .bg-putty-dark.rounded-full {
            margin-left: 0;
          }
        }

        .#{$id}__moreFiltersLabelWrapper {
          .bg-putty-dark.rounded-full {
            margin-left: 0;
          }
        }
      }
    }

    .#{$id}__contents {
      display: flex;
      flex-direction: column;

      &>div {
        order: 0;
      }

      &>div:nth-child(2) {
        padding: 0 15px;
        order: 1;
      }

      &>div:nth-child(3) {
        padding: 0 15px;
        order: 3;
      }

      &>div:nth-child(4) {
        padding: 0 15px;
        order: 2;
      }

      &>div:nth-child(5) {
        padding: 0 15px;
        order: 4;
      }

      &>form {
        order: 5;
      }
    }

    .#{$id}__moreFiltersForm {
      background-color: #fbfaf8;

      .#{$id}__moreFiltersWrapper {
        padding: 0 15px;
        display: flex;
        flex-direction: column;

        label[data-role='button'] {
          font-size: 15px;
          font-weight: 400;
          line-height: 19.5px;
          color: #414042;

          [data-facet*='filter'] {
            display: none;
          }
        }

        li label {
          font-size: 14px;
          font-weight: 400;
          line-height: 18px;

          [name*="filter_rose_category"]:checked+span.peer-checked\:border-border-active,
          [name*="filter_size"]:checked+span.peer-checked\:border-border-active,
          [name*="filter_bloom_size"]:checked+span.peer-checked\:border-border-active,
          [name*="custom.availability"]:checked+span.peer-checked\:border-border-active,
          [name*="key_features"]:checked+span.peer-checked\:border-border-active {
            border: 1px solid #53684A !important;

            &::after {
              background-color: #53684A;
            }
          }

          &:hover {
            color: #414042;
            
            .supports-hover\:group-hover\:border-border-active {
              border: 1px solid #53684A !important;
              &::after {
                background-color: #53684A !important;
              }
            }
          }
        }
      }
    }

    .#{$id}__inStock {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 15px;
      padding: 15px 0 20px;
      border-top: 1px solid #e3e2de;
      border-bottom: 1px solid #e3e2de;
    }

    .#{$id}__toggle {
      position: relative;
      display: inline-block;

      .toggle__input {
        display: none;
      }

      .toggle__label {
        display: block;
        width: 34px;
        height: 18px;
        background-color: #fff;
        border: 1px solid #69686a;
        border-radius: 99px;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }

      &.active-toggle .toggle__label {
        background-color: #53684a;
      }

      .toggle__input:checked+.toggle__label::after {
        left: 19px;
      }

      .toggle__label::after {
        content: '';
        position: absolute;
        top: 3px;
        left: 3px;
        width: 12px;
        height: 12px;
        background-color: #53684a;
        border-radius: 50%;
        transition: left 0.3s ease;
      }

      &.active-toggle .toggle__label::after {
        background-color: #ffffff;
      }
    }

    .#{$id}__moreFiltersLabel {
      position: relative;

      [data-toggle] {
        display: none;
      }

      &::after {
        content: url("data:image/svg+xml,%3Csvg class='' role='presentation' width='9' height='16' viewBox='0 0 9 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m.96.89-.85.848L6.334 7.96.111 14.183l.848.848L7.182 8.81l.85-.848H8.03l.001-.002-.848-.848h-.001z' fill='currentColor'%3E%3C/path%3E%3C/svg%3E");
        position: absolute;
        top: 12px;
        right: 0;
        rotate: 90deg;
        transition: transform 0.3s ease-in-out;
      }

      &.active-toggle-icon::after {
        transform: rotate(-180deg);
      }
    }
  }

  &-2 {

    .#{$id}__gridContents,
    .#{$id}__stockAvailabilityContents,
    .#{$id}__moreFiltersWrapper,
    .#{$id}__sortByFilterParent,
    input[id*='product-gridsort_bydropdown']+.w-grid {
      max-width: 160px;
      background: #fff;
      font-size: 15px;
      font-weight: 400;
      line-height: 19.5px;
      color: #414042;

      @include media-query(xl) {
        max-width: 150px;
        font-size: 13px;
        line-height: 17px;
      }
    }

    .#{$id}__contentsWrapper {
      @include media-query(xl) {
        gap: 10px;
      }
    }

    .#{$id}__gridContents {
      label[for*="product-gridfilter"] {
        gap: 3px;

        svg {
          width: 12px;
          height: 12px;
        }

        span.bg-icons {
          width: 18px;
          height: 18px;
          font-size: 11px;
        }
      }
    }

    .#{$id}__stockAvailabilityContents {
      .top-full {
        width: 100%;
      }
    }

    .#{$id}__gridContents,
    .#{$id}__stockAvailabilityContents {
      label {
        svg {
          width: 12px;
          height: 12px;
        }

        +.h-1.w-full {
          display: none;
        }
      }
    }

    .#{$id}__sortByFilterParent {
      margin-left: 15px;
    }

    .#{$id}__sortByFilterWrapper {
      margin-left: auto;
      display: flex;


      .gap-gutter {
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
      }
    }

    #Toolbar {
      background: #f7f6f2;

      .contents .w-grid.gap-gutter {
        justify-content: flex-end;

        @include media-query(xl) {
          width: 70px;
        }
      }
    }

    .#{$id}__moreFiltersForm {
      &>div:first-child {
        display: none;
      }
    }

    label[for*='product-gridfilter']~.z-20.absolute {
      left: 0;
      width: 100%;

      &>div:not(las) {
        background: #f7f6f2;

        ul {
          border-top: 1px solid #E3E2DE;
          display: grid !important;
          grid-template-columns: repeat(6, auto);

          span.checkbox {
            border: 1px solid #b9b8ba;
            background: #fff;
          }
        }
      }
    }

    .#{$id}__filterContainer {
      width: 100%;
      // border-bottom: 1px solid #E3E2DE;
    }

    .#{$id}__filterWrapper {
      padding: 0 30px 15px;
      background: #f7f6f2;

      ul {
        padding: 40px 0 60px;
        display: grid;
        grid-template-columns: repeat(6, auto);
        gap: 15px;
        border-top: 1px solid #E3E2DE;

        span.checkbox {
          border: 1px solid #b9b8ba;
          background: #fff;
        }
      }

      li label {
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;

        .bg-putty-dark.rounded-full.ml-auto {
          margin-left: 0;
        }

        .checkbox + .peer-checked\:text-links {
          color: #69686A;
        }

        .#{$id}__checkbox:checked + .checkbox + .peer-checked\:text-links {
          color: #414042;
        }

        .#{$id}__checkbox:hover + .checkbox + .peer-checked\:text-links {
          color: #414042;
        }
      }
    }

    button[form*='product-grid'][type='submit'] {
      margin-top: 0;
      width: calc(50% - 7.5px);
      margin-left: 15px;
      // order: 2;
    }

    button[form*='product-grid'][data-reset*='filter'],
    .#{$id}__stockReset:not(.#{$id}__hide) {
      margin-top: 0;
      width: calc(50% - 7.5px);
    }

    .#{$id}__filterWrapper:not(:has(.button-secondary)) button[form*='product-grid'][type='submit'],
    button[form*='product-grid'][type='submit'].#{$id}__applyBtn {
      margin-top: 0;
      width: 100%;
      margin-left: 0;
    }

    .#{$id}__stockReset:not(.#{$id}__hide)+button[form*='product-grid'][type='submit'] {
      margin-top: 0;
      width: calc(50% - 7.5px);
      margin-left: 10px;
    }

    input[name*="filter_colour"]:checked+.checkbox {
      border: 1px solid #414042 !important;
    }
  }
}