@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
  &__giftCodeTitle {
    display: none;
  }

  &__btnSubmitGiftCode {
    top: 0;
    right: 0;
    width: 100%;
    max-width: 80px;
    height: 45px;
    margin-top: 0;
    color: white;
    background-color: black;
  }
}
