@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
  .ab-pause-scrolling,
  body.ab-pause-scrolling,
  &.ab-pause-scrolling {
    &:has(.ab-iam-root > iframe) {
      overflow: unset;
      touch-action: unset;
    }

    .ab-iam-root[role='complementary']:has(iframe) {
      display: none !important;
    }

    &.#{$id}__modalShow {
      overflow: hidden !important;
      touch-action: none !important;
      .ab-iam-root[role='complementary']:has(iframe) {
        display: block !important;
      }

      .#{$id}__fakeCrossButton {
        position: fixed;
        cursor: pointer;
        width: 25px;
        height: 18px;
        z-index: 99999;
        background-color: #1e1e1e;

        &::after {
          content: '\2715';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }

  &__subsButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    font-family: '__Poppins_2dbf9b', '__Poppins_Fallback_2dbf9b', Arial, sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 120%;
    letter-spacing: 0.46px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 12px;
    background-color: #fff;
    padding: 16px 5px;
    color: #000;
    cursor: pointer;
  }

  &__noOddsWrapper {
    width: 50% !important;
  }
}
