/* stylelint-disable font-family-no-missing-generic-family-keyword */
@import './variables';
@import '../src/lib/shared/shared';

.ProductItem__Wrapper a {
    position: relative;
}

.#{$id} {
    &__hide{
        display: none !important;
    }

    &__hidden {
        visibility: hidden !important;
    }

    &__unavailable {
        text-decoration: line-through;
        cursor: context-menu !important;
        opacity: 0.4;
    }

    &__purchased {
        background-color: #6782A4 !important;
    }

    &__add-to-cart-container {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: rgba(255 255 255 / 75%);
        cursor: default;
    }

    &__add-to-cart-container:hover {
        display: block;
    }


    &__add-to-cart-sizes {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 0 12px 16px;
        column-gap: 10px;
        row-gap: 10px;
    }
    
    &__sizes-button {
        padding: 10px 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 17px;
        background: #FFF;
        border: 1px solid #DEDEDE;
        border-radius: 4px;
        cursor: pointer;
    }

    &__add-to-cart-title-container {
        display: flex;
        flex-direction: row;
        padding: 15px 0 8px 15px;
        color: #454545;
        font-weight: 400;
        font-size: 16px;
        font-style: normal;
        line-height: 17px;
    }

    &__add-to-cart-icon {
        padding-right: 8px;
        line-height: 17px;
    }

    &__add-to-cart-title {
        color: #454545;
        font-weight: 400;
        font-size: 16px;
        font-style: normal;
        line-height: 17px;
    }

    &__Image__Loader .spinner {
        width: 40px;
        height: 40px;
        color: #e5e7eb;
        fill:  #454545;
        ;
    }
    
    // Animation Spin
    &__Image__Loader .animation-spin {
        // -webkit-animation: spin 2s infinite linear;
        animation: spin 2s infinite linear;
    }
    @keyframes spin {
        0% {
            // -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }

        100% {
            // -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
        }
    }

    &__cart-icon-mbl {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        margin: 8px;
    }

    &__add-to-cart-mbl-container {
        position: fixed;
        bottom: 0;
        z-index: 1000;
        width: 100%;
        height: max-content;
        max-height: 65%;
        overflow: scroll;
        background: #fff;
        border-radius: 16px 16px 0 0;
        transform: translateY(100vh);
        transition: transform .5s var(--drawer-transition-timing),visibility .5s var(--drawer-transition-timing);

        & .sno371__Image__Loader {
            display: flex;
            justify-content: center;
        }
    }

    &__animate {
        transform: translateY(0);
    }

    &__close-button {
        position: absolute;
        right: 0;
        padding: 24px;
    }

    &__stop-scroll {
        touch-action: none;
    }

    &__add-to-cart-mbl-title {
        margin: 24px;
        color: #454545;
        font-weight: bold;
        font-size: 16px;
        font-family: 'Gordita Regular';
        font-style: normal;
        line-height: 17px;
    }

    &__sizes-button-container {
        display: flex;
        justify-content: space-between;
        margin: 16px;
        padding: 12px;
        background: #FFF;
        border: 1px solid #DEDEDE;
        border-radius: 4px;

        & .sno371__sizes-button {
            color: #454545;  
            font-weight: 400;
            font-size: 16px;
            font-style: normal;
            line-height: 17px;
            border: none;
        } 
    }

    &__all-sizes-mbl {
        padding-bottom: 30px;
    }

    &__atc-button-container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__atc-button {
        margin-right: 10px;
    }

    &__atc-icon {
        display: inline-flex;
    }

    &__sold-out{
        display: flex;
        justify-content: space-between;
        opacity: 0.4;

        & .sno371__atc-icon {
            display: none;
        }
    }

}