.rd216 .sizeguide-wrapper {
    margin: 10px 0 5px 0;
}

.rd216 .sizeguide-wrapper .link-sizeguide {
    font-size: 13px;
}

.rd216 .link-sizeguide {
    color: var(--color-sharkBlack);
    text-decoration: underline;
    text-underline-offset: 2px;
    background: url(https://d31hba4f1d8ahx.cloudfront.net/RD/216/size-guide.svg) no-repeat 0 center;
    padding-left: 25px;
    font-weight: 700;
}

.rd216 .link-sizeguide:hover {
    opacity: 0.8;
}


/* Overlay */
.rd216 #size-guide-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    z-index: 1110;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* Modal */
.rd216 #size-guide-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 96%;
    max-width: 554px;
    background: #fff;
    z-index: 1111;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
}

.rd216 #size-guide-overlay.show {
    opacity: 1;
    visibility: visible;
}

.rd216 #size-guide-modal.show {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
}

/* Initial hidden modal scaled down slightly */
.rd216 #size-guide-modal {
    transform: translate(-50%, -50%) scale(0.95);
}

/* Modal Header */
.rd216 .custom-modal-header {
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
}

.rd216 .custom-modal-header h2 {
    margin: 0 0 .8rem 0;
    font-size: 24px;
}

.rd216 .highlights-dialog__close {
    top: 15px;
    right: 15px;
}

.rd216 .custom-modal-body {
    padding: 16px;
}

.rd216 .custom-modal-footer {
    padding: 16px 16px 24px 16px;
    text-align: center;
}

.rd216 .button-primary {
    color: #fff;
    padding: 12px 18px;
    /* border: none; */
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid var(--color-brandPurple);
    font-size: 15px;
    font-weight: 700;
}

.rd216 .size-guide-tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}

.rd216 .tab {
    text-align: center;
    padding: 10px 16px;
    background: var(--color-altoSilver);
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-bottom: 1px solid #000;
    color: var(--color-sharkBlack);
    transition: background 0.3s ease;
}

.rd216 .tab:hover {
    background: #e0e0e0;
}

.rd216 .tab.active {
    background: var(--color-bg);
    color: var(--color-sharkBlack);
    border: 1px solid #000;
    border-bottom: 0;
    border-radius: 2px 2px 0px 0px;
    padding-top: 12px;
    margin-top: -2px;
}

/* Tab Content */
.rd216 .tab-content {
    display: none;
}

.rd216 .tab-content.active {
    display: block;
}

.rd216 .tab-content h3 {
    font-size: 20px;
    text-align: center;
    margin: 0 0 16px 0;
}

.rd216 .size-options {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 370px;
    margin: 0 auto;
}

.rd216 .size-options .size-option {
    width: 33.33%;
    text-align: center;
    margin-bottom: 34px;
}

.rd216 .size-options p {
    margin: 0;
    padding: 0;
    line-height: 1.4;
    font-size: 14px;
}

.rd216 .size-options .size-icon {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 10px;
}

.rd216 .size-options .size-icon img {
    max-width: 100%;
    height: auto;
}

.rd216 .size-guide-note {
    max-width: 350px;
    margin: 10px auto 0 auto;
    font-size: 13px;
    line-height: 1.3;
}

#tab-bedrooms .size-options .size-icon {
    height: auto;
}

#tab-bedrooms .size-options .align-top .size-icon {
    align-items: flex-start;
    height: 63px;
}

#tab-runners .size-options .size-icon {
    height: 78px;
}


@media screen and (max-width: 767px) {
    .rd216 .tab {
        padding: 6px 12px;
    }
}

@media screen and (max-width: 389px) {
    .rd216 #size-guide-modal .custom-modal-header {
        padding: 20px 16px 8px;
    }

    .rd216 .size-guide-tabs {
        margin-bottom: 20px;
    }

    .rd216 .tab-content h3 {
        margin: 0 0 12px 0;
    }

    .rd216 .size-options {
        max-width: 320px;
    }

    .rd216 .size-options .size-option {
        margin-bottom: 16px;
    }

    .rd216 .size-options .size-icon {
        height: 66px;
    }

    .rd216 .size-guide-note {
        margin: 10px auto 0 auto;
    }

    .rd216 .custom-modal-footer {
        padding: 0px 16px 8px 16px;
    }
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}