@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
  .product-selection {
    margin: 0 auto;
  }

  .js-cluster-wrapper[id='16477143'] {
    display: none;
  }

  .#{$id}__mainWrapper {
    width: 100%;
    margin: 25px auto;
    .#{$id}__content {
      display: flex;
      justify-content: space-between;
      .#{$id}__left {
        width: calc(50% - 16px);
      }
      .#{$id}__right {
        width: calc(50% - 16px);
      }

      @media screen and (max-width: 767px) {
        flex-direction: column;
        padding: 0 16px;
        .#{$id}__left,
        .#{$id}__right {
          width: 100%;
        }
      }
    }

    .swiper-wrapper {
      user-select: none;
    }

    .swiper-slide {
      img {
        max-width: 100%;
        height: auto;
      }
    }

    .#{$id}__desktopSwiper {
      .swiper-pagination {
        display: none;
      }

      .swiper-button-next,
      .swiper-button-prev {
        display: flex;
        width: 40px;
        height: 40px;

        &.swiper-button-disabled {
          display: none;
        }

        &::after {
          display: none;
        }
      }
    }

    .#{$id}__mobileSwiper {
      .swiper-pagination,
      .swiper-button-next,
      .swiper-button-prev {
        display: none;
      }

      @media screen and (min-width: 768px) {
        .swiper-wrapper {
          margin: 8px 0 0;
        }
        .swiper-slide {
          border: 1px solid #b3b3b3;
          &.swiper-slide-thumb-active {
            border-color: #262626;
          }
        }
      }

      @media screen and (max-width: 767px) {
        margin: 9px 10px;
        .swiper-button-next,
        .swiper-button-prev {
          display: flex;

          &.swiper-button-disabled {
            display: none;
          }

          &::after {
            display: none;
          }
        }

        .swiper-button-next {
          display: flex;
          right: -6px;
          width: 20px;
          align-items: center;
          z-index: 99;
          background: #fff;
        }

        .swiper-button-prev {
          display: flex;
          left: -6px;
          width: 20px;
          align-items: center;
          z-index: 99;
          background: #fff;
        }
        .swiper-wrapper {
          //margin: 9px 10px;
        }

        .swiper-slide {
          width: 10px !important;
          height: 10px;
          border: 1px solid #b3b3b3;
          border-radius: 50%;
          background-color: #f5f5f5;
          img {
            display: none;
          }
          &.swiper-slide-thumb-active {
            border-color: #000;
            background-color: #000;
          }
        }
        .swiper-pagination {
          position: static;
        }
      }
    }

    @media (min-width: 576px) {
      max-width: 540px;
    }
    @media (min-width: 768px) {
      max-width: 740px;
    }

    @media (min-width: 992px) {
      max-width: 960px;
    }

    @media (min-width: 1200px) {
      max-width: 1140px;
    }
  }

  .#{$id}__mainPrice {
    font-family: Passion One;
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;
    color: #f26724;
  }

  .#{$id}__prodRatings {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0 0 8px;
    span:first-child {
      display: flex;
    }

    span:last-child {
      font-family: Lato;
      font-weight: 700;
      font-size: 18px;
      line-height: 18px;
      color: #262626;
    }

    @media screen and (max-width: 767px) {
      margin: 37px 0 8px;
    }
  }

  .#{$id}__prodName {
    font-family: Passion One;
    font-weight: 400;
    font-size: 44px;
    line-height: 100%;
    color: #262626;
    margin: 0 0 5px;

    @media screen and (max-width: 767px) {
      font-size: 28px;
    }
  }

  .#{$id}__prodDescription {
    font-family: Source Sans Pro;
    font-weight: 400;
    font-style: Italic;
    font-size: 16px;
    line-height: 22.88px;
    color: #262626;
    margin: 0 0 10px;
  }

  .#{$id}__disclaimer {
    font-family: Source Sans Pro;
    font-weight: 400;
    font-style: Italic;
    font-size: 12px;
    line-height: 17.16px;
    text-align: center;
    color: #191919;
    b {
      font-weight: 700;
    }
  }

  .#{$id}__buttonsWrapper {
    display: inline-block;
    width: 100%;
    margin: 24px 0 9px;

    #AddToCart {
      font-family: 'Passion One', serif !important;
      border-radius: 30px;
      justify-content: center;
      align-items: center;
      background: #26b522;
      color: #fff;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      height: 50px;
      line-height: 50px;
      font-size: 20px;
      text-align: center;
      width: 100%;
      font-weight: normal;
      border: none;
      float: left;

      .btn-money {
        font-weight: bold;
      }

      .divisor {
        margin: 0 3px;
      }
      .btn-label,
      .btn-items {
        font-weight: bold;
      }

      .btn-svg svg {
        width: calc(20px + 2px);
        height: calc(20px + 3px);
        position: relative;
        top: 4px;
        max-height: 100%;
        margin: 0 7px;
        path {
          fill: #fff;
        }
      }

      &:hover {
        background-color: #45910d;
      }
    }

    #button-out-of-stock {
      border-radius: 30px;
      margin-top: 15px;
      margin-bottom: 10px;
      background: #ccc;
      opacity: 0.7;
      color: #fff;
      margin: 20px 0;
      text-transform: uppercase;
      height: 50px;
      line-height: 50px;
      font-size: 20px;
      text-align: center;
      width: 100%;
      font-weight: normal;
      border: none;
      float: left;
      margin: 0;
    }
  }

  .#{$id}__extraUsp {
    margin: 8px 0 0 !important;
  }

  .flavor {
  }

  .flavor label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
  }

  .flavor {
    &.flavor-desktop {
      @media screen and (max-width: 767px) {
        display: none;
      }
    }
    &.flavor-mobile {
      position: relative;
      display: none;
      .active-flavor {
        display: flex;
        align-items: center;
        width: 100%;
        border: 2px solid #f58d5c;
        border-radius: 10px;
        padding: 14px 12px;
        cursor: pointer;
        .icon {
          display: flex;
          margin-right: 10px;
        }
        .indicator-icon {
          margin-left: auto;
          svg {
            transition: 0.2s ease-in-out;
          }
        }
        span:nth-child(2) {
          font-family: 'Source Sans Pro';
          font-weight: 400;
          font-size: 14px;
          line-height: 100%;
          color: #262626;
        }
      }
      .flavor-options-hidden {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 90px;
        width: 100%;
        background-color: #fff;
        border: 2px solid #f58d5c;
        border-radius: 10px;
        overflow: hidden;
        z-index: 99;
        .flavor-option {
          border-radius: 0;
          border-color: transparent;
          background-color: #fff;
          border: 0;

          span:nth-child(2) {
            font-family: 'Source Sans Pro';
            font-weight: 400;
            font-size: 14px;
            line-height: 100%;
            color: #262626;
          }

          &:hover {
            background: rgba(242, 103, 36, 0.1019607843) !important;
          }
        }
      }

      &.active {
        .flavor-options-hidden {
          display: block;
        }

        .indicator-icon {
          svg {
            transform: rotate(180deg);
          }
        }
      }

      @media screen and (max-width: 767px) {
        display: block;
      }
    }

    .flavor-label {
      font-family: 'Source Sans Pro';
      font-weight: 700;
      font-size: 16px;
      line-height: 22.88px;
      margin: 0 0 12px;
    }
  }

  .flavor-options {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
  }

  .flavor-option {
    display: flex;
    align-items: center;
    padding: 16px;
    background-color: #fff;
    border: 2px solid #d9d9d9;
    border-radius: 10px;
    gap: 10px;
    span:first-child {
      /* Add styles for the icon here */
      display: flex;
    }

    span:last-child {
      font-family: Source Sans Pro;
      font-weight: 400;
      font-size: 16px;
      line-height: 100%;
    }

    &.flavor-active {
      border-color: #f58d5c;
      background: #f267241a;
    }

    &:not(.flavor-disabled) {
      cursor: pointer;
    }

    &.flavor-disabled {
      color: #ccc !important;
      cursor: not-allowed;

      span {
        color: #ccc !important;
      }
    }
  }

  .pricing {
    display: flex;
    gap: 15px;
    margin-top: 55px;
    @media screen and (max-width: 1200px) {
      flex-wrap: wrap;
    }
  }

  .pricing .pack-option {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px 0 10px 10px;
    border: 1px solid #d9d9d9;
    padding: 13px 15px;
    cursor: pointer;

    &:not(:has(.discount)) {
      border-radius: 10px;
    }

    &:not(:has(.discount)).pack-active {
      background-color: #d0571d;
      color: #fff;
    }

    &:has(.discount).pack-active {
      background-color: #d0571d;
      color: #fff;
      border-color: transparent;
      border-radius: 10px 0 10px 10px;
      .discount {
        background-color: #f26724;
        border-color: transparent;
        color: #fff;
      }
    }

    span:first-child {
      font-weight: 400;
      font-size: 16px;
      line-height: 100%;
      padding-bottom: 4px;
    }
    span:nth-child(2) {
      font-family: 'Passion One';
      font-weight: 400;
      font-size: 20px;
      line-height: 100%;
    }
    .discount {
      position: absolute;
      top: -29px;
      right: -1px;
      width: 90px;
      border: 1px solid #d9d9d9;
      border-bottom: 0;
      border-radius: 10px 10px 0 0;
      font-weight: 400;
      font-size: 16px;
      line-height: 22.88px;
      text-align: center;
      padding: 2px 0;
      color: #151515;
    }

    @media screen and (max-width: 1200px) {
      width: calc(50% - 7.5px);
      margin-bottom: 27px;

      &:nth-child(3),
      &:nth-child(4) {
        margin-bottom: 0;
      }
    }
  }
  .pricing-options {
    margin-top: 43px;

    input {
      display: none;
    }

    .option + .option {
      margin-top: 16px;
    }

    .option:first-child {
      position: relative;
      padding: 16px;
      border: 2px solid #d9d9d9;
      border-radius: 10px;

      &:has(input:checked) {
        border: 2px solid #f26724;
        background: #f267241a;
        .delivery-options {
          display: block;
          border-radius: 10px;

          &.active {
            position: relative;
            .other-options {
              position: absolute;
              width: 100%;
              display: block;
              top: 41px;
              background-color: #fff;
            }

            .active-option {
              span:last-child {
                svg {
                  transform: rotate(180deg);
                }
              }
            }
          }
        }

        .usp-lists {
          margin-left: 0;
          padding-left: 0;
        }
      }

      input:not(:checked) + label {
        span:first-child {
          width: 24px;
          height: 24px;
          border-radius: 50%;
          border: 2px solid #595959;
        }
      }

      input:checked + label {
        span:first-child {
          position: relative;
          width: 24px;
          height: 24px;
          border-radius: 50%;
          border: 2px solid #f26724;

          &:after {
            content: '';
            position: absolute;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #f26724;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }

      .price {
        display: flex;
        align-items: center;
        gap: 4px;
        color: #f26724;
        margin-right: 85px;
        strike {
          font-family: 'Source Sans Pro';
          font-weight: 400;
          font-size: 16px;
          line-height: 100%;
          color: #262626;
        }

        @media screen and (max-width: 767px) {
          margin-right: 0px;
        }
      }

      label {
        @media screen and (max-width: 767px) {
          margin-top: 11px;
        }
      }
    }

    .option:last-child {
      padding: 16px;
      border: 2px solid #d9d9d9;
      border-radius: 10px;

      &:has(input:checked) {
        border: 2px solid #f26724;
        background: #f267241a;
      }

      input:not(:checked) + label {
        span:first-child {
          width: 24px;
          height: 24px;
          border-radius: 50%;
          border: 2px solid #595959;
        }
      }

      input:checked + label {
        span:first-child {
          position: relative;
          width: 24px;
          height: 24px;
          border-radius: 50%;
          border: 2px solid #f26724;

          &:after {
            content: '';
            position: absolute;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #f26724;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }

    label {
      display: flex;
      align-items: center;
      span:nth-child(2) {
        font-family: 'Passion One';
        font-weight: 400;
        font-size: 24px;
        line-height: 100%;
        padding-left: 10px;
        @media screen and (max-width: 767px) {
          font-size: 20px;
        }
      }

      span:last-child {
        font-family: 'Passion One';
        font-weight: 400;
        font-size: 24px;
        line-height: 100%;
        text-align: right;
        color: #595959;
        margin-left: auto;
      }
    }

    .delivery-options {
      display: none;
      margin: 10px 0 0px 0;
      .active-option {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 8px 8px 17px;
        border: 1px solid #595959;
        border-radius: 10px;
        background: #ffffff80;
        cursor: pointer;
        span:first-child {
          font-family: 'Source Sans Pro';
          font-weight: 400;
          font-size: 16px;
          line-height: 22.88px;
        }
        span:last-child {
          display: flex;
          svg {
            transition: all 0.2s ease-in-out;
          }
        }
      }
      .other-options {
        display: none;
      }

      .option-item {
        padding: 8px 8px 8px 17px;
        cursor: pointer;
      }
    }
  }

  .option-badge {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #f26724;
    border-radius: 0px 7px 0 10px;
    width: 95px;
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-size: 16px;
    line-height: 22.88px;
    color: #fff;
    text-align: center;
  }

  .usp-lists {
    list-style-type: none;
    flex-direction: column;
    margin-top: 12px;
    li {
      display: flex;
      align-items: center;
      margin: 0 0 8px;
      span:first-child {
        display: flex;
        flex-shrink: 0;
        margin-right: 10px;
        svg {
          width: 24px;
          height: 24px;
        }
      }
      span:last-child {
        font-family: 'Source Sans Pro';
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        color: #595959;
      }
    }
  }

  .tabs-accordion {
    margin-top: 38px;
    margin-bottom: 20px;
    .tabs-accordion-item {
      clear: both;
      border: 1px solid var(--active-tab-border-color, #444);
      margin: 5px 0;
    }

    .tabs-accordion-title {
      position: relative;
      display: flex;
      justify-content: space-between;
      background: #f4f4f4;
      color: #353535;
      padding: 10px 15px;
      text-transform: capitalize;
      cursor: pointer;
    }

    .tabs-accordion-title svg {
      width: 40px;
      position: absolute;
      top: 50%;
      right: 15px;
      display: block;
      width: 20px;
      height: 20px;
      transform: translateY(-50%);
      fill: #353535;
      transition: ease all 0.3s;
    }

    .tabs-accordion-content {
      background: #fff;
      font-size: 16px;
      overflow: hidden;
      max-height: 0; /* Start with 0 height for transition */
      transition: max-height 0.3s ease-out;
      padding: 0 10px 0px 10px;
    }

    .tabs-accordion-item.active .tabs-accordion-content {
      display: block;
      max-height: 500px; /* Maximum height when open */
      padding: 20px 10px 10px 10px;
    }
    .tabs-accordion-item.active {
      border-color: #555555;
    }

    .tabs-accordion-item.active .tabs-accordion-title {
      background: #555555;
      color: #fff;
    }

    .tabs-accordion-item.active .tabs-accordion-title svg {
      transform: translateY(-50%) rotate(180deg); /* Rotate icon on open */
      fill: #fff;
    }

    .product-pack {
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
    }

    .pack-info {
      margin-bottom: 20px;
    }

    .pack-title {
      font-family: Source Sans Pro;
      font-weight: 400;
      font-size: 20px;
      line-height: 20px;
      margin: 0;
      color: #262626;
      margin: 0 0 5px;
    }

    .pack-list {
    }

    .pack-list li {
      font-family: Source Sans Pro;
      font-weight: 400;
      font-size: 20px;
      line-height: 20px;
    }
  }
}
