/* stylelint-disable font-family-no-missing-generic-family-keyword */
/* stylelint-disable font-family-name-quotes */
@import './variables';
@import '../src/lib/shared/shared';

.#{$id} {
  &__hidden {
    display: none !important;
  }

  &__loaderParent {
    position: relative;
    margin: 8px 20px 6.5px;
  }

  &__loader {
    position: absolute;
    top: 0;
    right: -6px;
    display: inline;
    width: 0;
    height: 0;
    padding: 5px;
    border: 2px solid #ccc;
    border-right-color: #888;
    border-radius: 22px;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  &__mengeSection {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 8px;
    margin-bottom: 40px;
    animation: fade-in 2s;
  }

  @keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  &__pairButton:last-child {
    margin-right: 0 !important;
  }

  &__pairButton {
    margin-right: 8px;
    padding: 5px 26px;
    color: #454545;
    font-weight: 500;
    font-size: 12px;
    font-family: 'Roboto';
    font-style: normal;
    line-height: 16px;
    text-align: center;
    background: #d3d3d3;
    border-radius: 2px;
    box-shadow: 0 2px 2px rgba(0 0 0 / 1%);
  }

  &__selected {
    padding: 8px 26px 6.5px;
    color: #fff;
    font-size: 15px;
    background: #6782a4;
    box-shadow: 0 4px 6px rgba(0 0 0 / 25%);
  }

  &__selected > &__tooltipContainer {
    top: 24px !important;
    left: 32px !important;
  }

  &__tooltipContain {
    position: relative;
  }

  &__tooltipContainer {
    position: absolute;
    top: 19px;
    animation: fade-in 2s;
  }

  &__tooltip {
    position: relative;
    display: flex;
    flex-direction: row;
  }

  &__tooltip-arrow::before {
    position: absolute;
    top: -9px;
    border-color: transparent transparent #C64C43;
    border-style: solid;
    border-width: 11px;
    content: '';
  }

  &__tooltip-arrow {
    width: fit-content;
    margin-top: 11px;
    margin-left: -6px;
    padding: 5px 14px;
    color: #fff;
    background: #C64C43;
    border-radius: 2px;
  }

  &__tooltip-arrow-label {
    color: #FFF;
    font-weight: 400;
    font-size: 12px;
    font-family: 'Gordita Regular';
    font-style: normal;
    line-height: 12px;
    text-align: center;
  }

  &__priceSection {
    display: flex;
    justify-content: center;
  }

  &__strikePrice {
    margin-right: 8px;
    color: #646464;
    letter-spacing: 1px;
    text-decoration: line-through;
  }

  &__discountedPrice {
    color: #C64C43;
    letter-spacing: 1px;
  }
}
