@import './variables';
@import '../src/lib/shared/shared.scss';
a.QuantitySelector__Button.Link.Link--primary:last-child {
    position: relative;
}

a.QuantitySelector__Button.Link.Link--primary:last-child::after {
    // display: none;
    content: "";
    position: absolute;
    bottom: 46px;
    right: 10px;
    border-top: 10px solid transparent;
    border-top-color: transparent;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    @include mediaQuery(sm) {
        right: 8px;
        transform: scaleY(-1);
        top: 48px;
    }
    @include mediaQuery(xsm) {
        bottom: 51px;
    }
}

.#{$id} {
    &_show-arrow.QuantitySelector__Button.Link.Link--primary:last-child::after {
        // display: block !important;
        border-top: 10px solid #6782A4;
        border-top-color: #6782A4;
    }
    .CartItem__Actions &_speech_bubble_container {
        display: none;
        @include mediaQuery(sm) {
            display: block !important;
        }
        @include mediaQuery(xsm) {
            display: block !important;
        }
    }
    .CartItem__Meta &_speech_bubble_container {
        @include mediaQuery(sm) {
            display: none !important;
        }
    }
    &_bubble_txt_wrapper {
        // position: absolute;
        background: #6782A4;
        border-radius: 0px;
        padding: 7px 26px 7px 8px;
        margin-bottom: 24px;
    }
    &_bubble_txt_header {
        font-family: 'Gordita Regular';
        font-style: normal;
        font-weight: 700;
        font-size: 13px;
        line-height: 16px;
        padding-bottom: 5px;
        /* identical to box height, or 123% */
        color: #FFFFFF;
    }
    &_bubble_txt {
        font-family: 'Gordita Regular';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        /* identical to box height, or 123% */
        color: #FFFFFF;
    }
    &_btn_outer_circle {
        // border: 1px solid black;
        width: 32px;
        height: 32px;
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 50%;
        transform: scale(1.5);
        background: #6782A4;
        opacity: 0.5;
        animation: button-opacity 2s ease-in 1;
    }
    &_btn_inner_circle {
        // border: 1px solid red;
        width: 32px;
        height: 32px;
        position: absolute;
        background: #6782A4;
        top: 0;
        right: 0;
        border-radius: 50%;
        animation: button-rescale 3s ease-in 1;
    }
}

@keyframes button-rescale {
    0%,
    100% {
        transform: scale(1);
    }
    25% {
        transform: scale(0.9);
    }
    50% {
        transform: scale(0.9);
    }
    75% {
        transform: scale(0.9);
    }
}

@keyframes button-opacity {
    0%,
    100% {
        opacity: 0.5;
    }
    25% {
        opacity: 0.5;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 0.5;
    }
}