@import './variables';
@import '../src/lib/shared/shared.scss';

body {
  #search-popdown {
    grid-column: 1 / -1;
    background: #fff;
    padding-bottom: 30px;
    margin-left: -16px;
    width: calc(100% + 32px);

    & .#{$id}__searchFindText {
      text-align: center;
      pointer-events: none;
      margin: 0;
      padding: 0.75rem;
      font-weight: 600;
    }

    & .search__predictive__outer {
      height: auto;

      .search__predictive__main {
        position: relative;
      }

      .search__predictive__close {
        text-align: left;
        width: auto;
        height: 100%;
        position: absolute;
        top: 50%;
        right: 3%;
        transform: translate(0, -50%);
      }

      & form {
        width: 100%;
        margin-bottom: 0;
        position: relative;

        & button {
          position: absolute;
          top: 47%;
          left: 1%;
          transform: translate(0, -50%);
        }
        & div.#{$id}__searchIcon {
          position: absolute;
          top: 50%;
          left: 1%;
          -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
          display: flex;
          justify-content: center;
        }
        & button:not(.#{$id}__searchIcon) {
          display: none;
        }

        & input {
          border: 1px solid #ccc;
          border-radius: 15px;
          margin-bottom: 0;
          padding: 8px 30px;
        }
      }
    }
  }
}
