@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
  &__formModal {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: grid;
    place-items: center;
    background: url('//res.cloudinary.com/spiralyze/image/upload/f_auto/experity/10021000/1002__desktop_1.webp')
      0 0 / cover no-repeat;
    background-attachment: fixed;
    padding: 50px 0;
  }

  &__formModalWrapper {
    max-width: 580px;
    width: 100%;
    margin: 0 auto;
    position: relative;
  }

  &__formModalWrapper-section {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 540px;
    flex: 0 0 540px;
    height: auto;
    -webkit-box-shadow: 0px 4px 64px 0px rgba(27, 43, 84, 0.08);
    box-shadow: 0px 4px 64px 0px rgba(27, 43, 84, 0.08);
    margin: 0;
  }

  &__from {
    height: 100%;
  }
}
