@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
  .#{$id}__categoryWrapper {
    background: linear-gradient(180deg, #f1f1f1 0%, rgba(241, 241, 241, 0) 100%);
    padding: 30px 0 20px;
    border-bottom: solid 1px #c6c6c6;
    h1 {
      font-family: 'Inter' !important;
      font-size: 25px;
      font-weight: 400;
      line-height: 36px;
      letter-spacing: -0.75px;
      text-align: center;

      @media screen and (max-width: 767px) {
        margin-bottom: 10px;
      }
    }

    .#{$id}__category-list {
      display: flex;
      align-items: center;
      justify-content: center;
      list-style-type: none;
      margin: 0;
      li {
        white-space: nowrap;
        padding: 0 20px;
        margin-bottom: 0;

        &.item-hide {
          display: none;
        }
        a {
          font-family: 'Futura';
          font-size: 14px;
          font-weight: 600;
          line-height: 24px;
          color: #333333;
          //padding: 0 20px;

          @media screen and (max-width: 450px) {
            font-size: 12px;
          }
        }

        @media screen and (max-width: 846px) {
          &:first-child {
            padding-left: 0;
          }
        }

        @media screen and (max-width: 846px) {
          padding: 0 15px;
        }
      }

      @media screen and (max-width: 846px) {
        overflow-x: auto;
        justify-content: flex-start;
        &::-webkit-scrollbar {
          display: none;
        }
      }

      @media screen and (max-width: 767px) {
        width: calc(100% + 20px);
      }
    }

    @media screen and (max-width: 767px) {
      padding: 15px 0 14px;
    }
  }
}
