@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
  &__hide,
  .product-sizes,
  .product-info-price .flockr,
  .product-info-price #price_match,
  #preoderblock,
  .product-info-cta,
  .sp_accordion,
  .product-features,
  .product-accordion:not(.#{$id}__product-accordion),
  [data-role='roomvo'] {
    display: none;
  }

  &-1 {
    .column.main {
      .#{$id}__parentWrapper {
        & > .upsell-title {
          position: relative;
          margin: 0;
          padding: 45px 0 50px 0;
          background-color: #f9f2e4;

          &::before {
            content: '';
            height: 100%;
            position: absolute;
            width: 200vw;
            left: -50vw;
            display: block;
            top: 0;
            background-color: #f9f2e4;
            z-index: -1;
          }

          @media screen and (max-width: 767px) {
            padding: 35px 0 20px 0;
            text-align: left;
            order: -1;
            background-color: #fff;
            &:before {
              background-color: #fff;
            }
          }
        }
        & > .products.wrapper {
          position: relative;
          margin: 0;
          padding-bottom: 45px;
          background-color: #f9f2e4;

          &::before {
            content: '';
            height: 100%;
            position: absolute;
            width: 200vw;
            left: -50vw;
            display: block;
            top: 0;
            background-color: #f9f2e4;
            z-index: -1;
          }

          @media screen and (max-width: 767px) {
            padding-bottom: 0;
            background-color: #fff;
            order: -1;
            &:before {
              background-color: #fff;
            }
          }
        }

        @media screen and (max-width: 767px) {
          display: flex;
          flex-direction: column;
        }
      }

      & > .product-section.accfeat {
        display: none;
      }

      .product-info-main {
        & > .product-reviews-summary {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 16px;

          .#{$id}__bestsellerImage {
            margin-right: 12px;
          }

          @media screen and (max-width: 992px) {
            margin-top: 16px;
          }

          @media screen and (max-width: 767px) {
            display: none;
          }
        }

        & > .page-title-wrapper {
          @media screen and (max-width: 767px) {
            display: none;
          }
        }

        & > .widget.block-static-block {
          display: none;
        }

        @media screen and (max-width: 767px) {
          display: flex;
          flex-direction: column;
          min-height: max-content;
          .sample-add-form {
            width: 100%;
            margin-top: 12px;
            order: -1;
          }

          & > .fp-calculator > .fp-require {
            margin-bottom: 0;
          }
        }
      }

      .gallery-placeholder {
        position: relative;
        .fotorama__stage {
          .fotorama__stage__frame img {
            width: 100%;
          }
        }
        .fotorama__nav-wrap {
          @media screen and (max-width: 1199px) and (min-width: 993px) {
            margin-top: 0;
          }
          .fotorama__nav {
            margin-top: 0;
            height: max-content !important;
          }
        }

        .amlabel-position-wrapper {
          display: none !important;
        }
        .flockr-c-p {
          width: max-content;
          top: 17px;
          left: 20px;
          justify-content: flex-start;
          @media screen and (max-width: 767px) {
            top: 13px;
            left: 12px;
          }
        }
        .flockr-base.flockr-mes {
          padding: 8px 0;
        }
      }

      & > .product-section.details {
        display: none;
      }

      .product-reviews-summary div.reviews-actions {
        font-size: 14px !important;
        margin-top: 0;
      }
    }

    .pdp-reviews#reviews:not(.#{$id}__mobileReviewSection) {
      background-color: #f9f2e4;
      position: relative;

      .pdp-reviews-container {
        margin: 45px 40px;
      }

      .pdp-reviews-summary {
        & > .pdp-reviews-cms,
        & > button {
          display: none;
        }
      }

      &::before {
        content: '';
        height: 100%;
        position: absolute;
        width: 200vw;
        left: -50vw;
        display: block;
        top: 0;
        background-color: #f9f2e4;
        z-index: -1;
      }

      .pdp-reviews-list-container {
        &.#{$id}__addHeight {
          height: min-content !important;
          overflow: hidden;

          & > .pdp-review:not(.#{$id}__hide) {
            border-bottom: none;
          }
        }

        @media (min-width: 768px) {
          margin-bottom: 38px;
        }
      }

      .pdp-review {
        padding: 20px 40px 40px 0px;
        &.#{$id}__hide {
          display: none;
        }
      }

      @include media-query(sm) {
        display: none;
      }
    }

    .#{$id}__mobileReviewSection {
      display: none;

      .pdp-reviews-list,
      .pdp-reviews-cms,
      button[data-role='revform'] {
        display: none;
      }

      @media screen and (max-width: 767px) {
        display: block;
        background-color: #f9f2e4;
        position: relative;
        padding: 17px 0 27px 0;
        .pdp-reviews-summary {
          margin-bottom: 15px;
        }

        .swiper-wrapper {
          .pdp-review {
            border-bottom: none;
            padding-bottom: 35px;
            height: initial;
          }
        }

        .swiper-pagination {
          position: static;

          .swiper-pagination-bullet {
            border: solid 1px #000;
            background-color: #f9f2e4;
            opacity: 1;
          }

          .swiper-pagination-bullet-active {
            background-color: #000;
          }
        }

        &::before {
          content: '';
          height: 100%;
          position: absolute;
          width: 200vw;
          left: -50vw;
          display: block;
          top: 0;
          background-color: #f9f2e4;
          z-index: -1;
        }
      }
    }

    .#{$id}__product-section {
      max-width: 1100px;
      width: 100%;
      background-color: #fff;
      padding: 50px 0px 50px 0px;
      .#{$id}__product-accordion-tab {
        &:first-child {
          border-top: 1px solid #787878;
        }
      }
      .#{$id}__product-accordion-tab.#{$id}__open {
        border-bottom: none;
        h2 {
          &::after {
            content: '\e91a';
          }
        }
      }

      &::before {
        background-color: #fff;
      }

      @media screen and (max-width: 1023px) {
        padding: 30px 0px 40px 0px;
        .#{$id}__product-accordion {
          max-width: 100%;
          margin: 0;
        }
      }

      @media screen and (max-width: 1023px) {
        padding: 20px 0px 40px 0px;
      }
    }

    .#{$id}__productDesWrapper {
      max-width: 1030px;
      width: 100%;
      padding: 0 40px 0 0px;
      .#{$id}__title {
        font-size: 30px;
        line-height: 40px;
        color: #2f2f2f;
        margin-bottom: 19px;
      }
      .#{$id}__content {
        list-style: outside none;
        .#{$id}__item {
          display: flex;
          margin-bottom: 15px;
          font-size: 16px;
          line-height: 22px;
          color: #202020;
          &::before {
            content: '\25CF';
            top: 1px;
            position: relative;
            float: left;
            color: #000;
            text-indent: 0px;
            speak: none;
            padding-right: 6px;
            font-size: 8px;
          }
        }
      }
      .#{$id}__subtitle {
        margin-bottom: 0;
      }

      @media screen and (max-width: 1023px) {
        padding: 0 20px 0 0px;
      }
    }
  }

  .#{$id}__readMoreReviews {
    display: flex;
    justify-content: center;
    line-height: 17px;
    color: #202020;
    text-decoration: underline;
    cursor: pointer;

    & + button {
      display: none;
    }
  }

  .#{$id}__benefitSection {
    padding: 52px 40px;
    background: #fff;

    @include media-query(md) {
      padding: 0;
    }

    @media screen and (max-width: 767px) {
      margin: 40px 0 35px 0;
    }

    .#{$id}__benefitsTitle {
      font-weight: 500;
      font-size: 30px;
      line-height: 40px;
      color: #2f2f2f;

      @include media-query(md) {
        font-size: 23px;
        line-height: 30px;
      }
    }

    .#{$id}__benefits-wrapper {
      display: flex;

      @include media-query(md) {
        flex-direction: column;
      }

      .#{$id}__benefit {
        display: flex;
        margin: 0 40px 12px 0;

        @include media-query(md) {
          margin: 0 0 12px 0;
        }

        &-text {
          position: relative;
          margin-left: 13px;
          color: #202020;
          font-size: 16px;
          line-height: 20px;
        }

        .#{$id}__icon {
          svg {
            width: 13px;
            height: 12px;
          }
        }
      }

      .#{$id}__benefit-image {
        width: 300px;
        object-fit: contain;
      }
    }

    .#{$id}__benefit-content {
      @include media-query(md) {
        margin-bottom: 30px;
      }
    }

    .#{$id}__benifitDetailsCta {
      display: block;
      width: max-content;
      text-decoration: underline;
      cursor: pointer;
      color: #000;

      @media screen and (max-width: 767px) {
        text-decoration: none;
        border: 1px solid #000000;
        padding: 14px 17px;
      }
    }
  }

  &__cardSection {
    padding: 52px 0;

    .#{$id}__cards {
      display: grid;
      grid-template-columns: repeat(4, minmax(300px, 1fr));
      gap: 50px;

      @include media-query(xl) {
        grid-template-columns: repeat(4, minmax(200px, 1fr));
        gap: 20px;
      }

      @include media-query(md) {
        grid-template-columns: repeat(2, minmax(300px, 1fr));
        gap: 20px;
      }

      @include media-query(sm) {
        grid-template-columns: repeat(1, minmax(300px, 1fr));
        gap: 20px;
      }

      .#{$id}__card {
        .#{$id}__image {
          @media screen and (max-width: 767px) {
            width: calc(100% + 30px);
            margin-left: -15px;
          }
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .card-content {
      .#{$id}__cardTitle {
        margin: 15px 0 11px 0;
        font-weight: 600;
        font-size: 19px;
        line-height: 30px;
        color: #202020;
      }

      .#{$id}__cardDescription {
        font-size: 16px;
        line-height: 22px;
        color: #202020;
        a {
          text-decoration: underline;
        }
      }
    }

    @media screen and (max-width: 767px) {
      padding: 35px 0;
    }
  }

  //kabir

  &-1 {
    .sample-add-form {
      max-width: 385px;
      margin: 0 auto;

      form {
        display: flex;

        button {
          width: 50% !important;
          padding: 20px 0 !important;
          text-transform: none !important;

          @media screen and (max-width: 390px) {
            font-size: 14px !important;
          }
        }

        .#{$id}__roomVisualizerBtn {
          margin: 0 0 0 6px;
          background-color: #fff;
          color: #000 !important;
          border: 1px solid #000000;
          box-shadow: none;
          cursor: pointer;
        }
      }

      @media screen and (max-width: 767px) {
        & + .#{$id}__uspsWrapper {
          display: none;
        }
      }
    }

    .#{$id}__uspsWrapper {
      max-width: 385px;
      margin: 0 auto;

      .uspsList {
        display: flex;
        margin-top: 30px;

        .#{$id}__uspsItem {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: calc(100% / 3);

          .#{$id}__text {
            font-size: 13px;
            line-height: 16px;
            color: #202020;
            margin-top: 6px;

            a {
              font-weight: bold;
              text-decoration: underline;
              color: #202020;
            }
          }

          &:nth-child(2) {
            margin: 0 8px;
          }
        }
      }
    }

    .#{$id}__mobileHeader {
      display: none;
      .#{$id}__uspsWrapper {
        width: calc(100% + 30px);
        max-width: calc(100% + 30px);
        margin-left: -15px;
        background-color: #f9f2e4;
      }
      .uspsList {
        align-items: center;
        justify-content: center;
        margin-top: 0;
        padding: 13px 4px 18px;
        border-top: 1px solid #c4c4c4;
        .#{$id}__uspsItem {
          max-width: 144px;
          width: 100%;
          text-align: center;

          a {
            text-decoration: none !important;
          }

          &:nth-child(3) {
            max-width: 116px;

            span {
              font-weight: bold;
            }

            @media screen and (max-width: 390px) {
              max-width: 100px;
            }
          }

          @media screen and (max-width: 390px) {
            .#{$id}__text {
              font-size: 10px;
            }
          }
        }
        .#{$id}__icon {
          display: none;
        }
      }

      .product-reviews-summary {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 15px 0 6px 0;
        .action.view span:first-of-type:before {
          content: '(';
        }
        .action.view span:first-of-type:after {
          content: ')';
        }
      }
      .page-title-wrapper {
        margin-bottom: 5px;
        text-align: center;
      }

      .#{$id}__bestsellerImage {
        margin-right: 12px;
      }

      @media screen and (max-width: 767px) {
        display: block;
      }
    }
  }

  &__show {
    position: fixed;
    bottom: -1px;
    left: 0;
    z-index: 2147483631;
    animation: slide-in-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  &__stickyATC {
    width: 100%;
    height: 58px;
    display: none;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

    &.slide-out-bottom {
      position: fixed;
      bottom: -1px;
      left: 0;
      z-index: 2147483631;
      animation: slide-out-bottom 1s cubic-bezier(0.47, 0, 0.745, 0.715) both;
    }

    .#{$id}__atcBtn {
      flex: 1;
      width: 100%;
      height: 100%;
      margin: 0 !important;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      background-color: #c9a361;
      box-shadow: none !important;
      &.#{$id}__disabled {
        background: #a57d38 !important;
        color: #fff;
        opacity: 0.5;
        pointer-events: none;
      }

      @media screen and (max-width: 390px) {
        font-size: 14px;
      }
    }

    .#{$id}__orderSampleWrapper {
      flex: 1;

      .#{$id}__orderSampleBtn {
        width: 100%;
        height: 100%;
        margin: 0 !important;
        background-color: #6c7c69 !important;
        box-shadow: none !important;
        text-transform: none;
        &.#{$id}__disabled {
          background: #a57d38 !important;
          color: #fff;
          opacity: 0.5;
          pointer-events: none;
        }

        @media screen and (max-width: 390px) {
          font-size: 14px !important;
        }
      }
    }

    @media screen and (max-width: 767px) {
      display: flex;
    }
  }

  &__show ~ #hubspot-messages-iframe-container {
    bottom: 50px !important;
  }

  // sakib
  &__floorDetailsSection {
    padding: 65px 0 65px 0;
    border-top: 1px solid #787878;
    .product-details {
      padding: 0;

      .room-preview-text {
        background: #be903b;
      }

      .#{$id}__floorMeasurement {
        .#{$id}__floorDetailsTitle {
          font-weight: 500;
          font-size: 30px;
          line-height: 40px;
          color: #2f2f2f;
        }

        .#{$id}__floorMeasurementCol {
          margin-top: 38px;

          h4 {
            font-weight: 600;
            font-size: 19px;
            line-height: 26px;
            color: #202020;
          }

          .#{$id}__measurementTitle {
            font-weight: 600;
            font-size: 16px;
            line-height: 36px;
            color: #202020;
          }

          .#{$id}__measurementValue {
            font-size: 16px;
            line-height: 36px;
            color: #202020;
          }

          @media screen and (max-width: 767px) {
            margin-top: 20px;
          }
        }
      }

      .#{$id}__floorSpecification {
        .#{$id}__floorSpecificationCol {
          margin-top: calc(40px + 38px);

          h4 {
            font-weight: 600;
            font-size: 19px;
            line-height: 26px;
            color: #202020;
          }

          .#{$id}__specificationTitle {
            font-weight: 600;
            font-size: 16px;
            line-height: 36px;
            color: #202020;
          }

          .#{$id}__specificationValue {
            font-size: 16px;
            line-height: 36px;
            color: #202020;
          }

          @media screen and (max-width: 767px) {
            margin-top: 0;
          }
        }
      }

      .#{$id}__roomPreview {
        margin-top: calc(40px + 38px);
      }

      .#{$id}__product-detail-col-desktop {
        @media screen and (max-width: 1023px) {
          display: none;
        }
      }

      .#{$id}__floorSpecification-last-child {
        @media screen and (max-width: 767px) {
          margin-bottom: 0;
          .tooltip {
            .tooltip-content {
              left: 50%;
              right: 0;
              transform: translateX(-50%);

              &:before,
              &:after {
                left: 50%;
              }
            }
          }
        }
      }

      @include media-query(sm) {
        max-width: 100%;
      }
    }

    .#{$id}__product-detail-col-mobile {
      display: none;
      @media screen and (max-width: 1023px) {
        display: block;
        margin-top: 30px;
        .room-preview-text {
          background: #be903b;
        }
      }
    }

    @media screen and (max-width: 767px) {
      padding: 40px 0 40px 0;
    }
  }

  @keyframes slide-in-bottom {
    0% {
      transform: translateY(1000px);
      opacity: 0;
    }

    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes slide-out-bottom {
    0% {
      transform: translateY(0);
      opacity: 1;
    }

    100% {
      transform: translateY(1000px);
      opacity: 0;
    }
  }
}
