@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
  &__hide,
  .product-sizes,
  .product-info-price .flockr,
  .product-info-price #price_match,
  #preoderblock,
  .product-info-cta,
  .sp_accordion,
  .product-features,
  .product-accordion:not(.#{$id}__product-accordion) {
    display: none;
  }

  &-1 {
    .column.main {
      & > .upsell-title {
        position: relative;
        margin: 0;
        padding: 45px 0 50px 0;
        background-color: #f9f2e4;

        &::before {
          content: '';
          height: 100%;
          position: absolute;
          width: 200vw;
          left: -50vw;
          display: block;
          top: 0;
          background-color: #f9f2e4;
          z-index: -1;
        }
      }

      & > .products.wrapper {
        position: relative;
        margin: 0;
        padding-bottom: 45px;
        background-color: #f9f2e4;

        &::before {
          content: '';
          height: 100%;
          position: absolute;
          width: 200vw;
          left: -50vw;
          display: block;
          top: 0;
          background-color: #f9f2e4;
          z-index: -1;
        }
      }

      .product-info-main {
        & > .product-reviews-summary {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 16px;

          .#{$id}__bestsellerImage {
            margin-right: 12px;
          }
        }
      }
    }

    .pdp-reviews#reviews:not(.#{$id}__mobileReviewSection) {
      background-color: #f9f2e4;
      position: relative;

      .pdp-reviews-summary {
        & > .pdp-reviews-cms,
        & > button {
          display: none;
        }
      }

      &::before {
        content: '';
        height: 100%;
        position: absolute;
        width: 200vw;
        left: -50vw;
        display: block;
        top: 0;
        background-color: #f9f2e4;
        z-index: -1;
      }

      .pdp-reviews-list-container {
        &.#{$id}__addHeight {
          height: min-content !important;
          overflow: hidden;

          & > .pdp-review:not(.#{$id}__hide) {
            border-bottom: none;
          }
        }

        @media (min-width: 768px) {
          margin-bottom: 38px;
        }
      }

      .pdp-review {
        &.#{$id}__hide {
          display: none;
        }
      }

      @include media-query(md) {
        display: none;
      }
    }

    .#{$id}__mobileReviewSection {
      display: none;

      .pdp-reviews-list,
      .pdp-reviews-cms,
      button[data-role='revform'] {
        display: none;
      }

      @include media-query(md) {
        display: block;
        background-color: #f9f2e4;
        position: relative;

        .pdp-reviews-summary {
          margin-bottom: 15px;
        }

        .swiper-wrapper {
          .pdp-review {
            border-bottom: none;
            padding-bottom: 35px;
            height: initial;
          }
        }

        .swiper-pagination {
          position: static;

          .swiper-pagination-bullet {
            border: solid 1px #000;
            background-color: #f9f2e4;
            opacity: 1;
          }

          .swiper-pagination-bullet-active {
            background-color: #000;
          }
        }

        &::before {
          content: '';
          height: 100%;
          position: absolute;
          width: 200vw;
          left: -50vw;
          display: block;
          top: 0;
          background-color: #f9f2e4;
          z-index: -1;
        }
      }
    }

    .#{$id}__product-section {
      background-color: #fff;
      .#{$id}__product-accordion-tab.#{$id}__open {
        border-bottom: none;
        h2 {
          &::after {
            content: '\e91a';
          }
        }
      }

      &::before {
        background-color: #fff;
      }
    }

    .#{$id}__productDesWrapper {
      .#{$id}__title {
        font-size: 30px;
        line-height: 40px;
        color: #2f2f2f;
        margin-bottom: 19px;
      }
      .#{$id}__content {
        list-style: outside none;
        .#{$id}__item {
          display: flex;
          margin-bottom: 15px;
          font-size: 16px;
          line-height: 22px;
          color: #202020;
          &::before {
            content: '\25CF';
            top: 1px;
            position: relative;
            float: left;
            color: #000;
            text-indent: 0px;
            speak: none;
            padding-right: 6px;
            font-size: 8px;
          }
        }
      }
      .#{$id}__subtitle {
      }
    }
  }

  .#{$id}__readMoreReviews {
    display: flex;
    justify-content: center;
    line-height: 17px;
    color: #202020;
    text-decoration: underline;
    cursor: pointer;

    & + button {
      display: none;
    }
  }

  .#{$id}__benefitSection {
    padding: 52px 40px;
    background: #fff;

    @include media-query(md) {
      padding: 0;
    }

    .#{$id}__benefitsTitle {
      font-weight: 500;
      font-size: 30px;
      line-height: 40px;
      color: #2f2f2f;

      @include media-query(md) {
        font-size: 23px;
        line-height: 30px;
      }
    }

    .#{$id}__benefits-wrapper {
      display: flex;

      @include media-query(md) {
        flex-direction: column;
      }

      .#{$id}__benefit {
        margin: 0 40px 12px 0;

        @include media-query(md) {
          margin: 0 0 12px 0;
        }

        &-text {
          position: relative;
          margin-left: 4px;
          color: #202020;
          font-size: 16px;
          line-height: 20px;
        }

        .#{$id}__icon {
          svg {
            width: 13px;
            height: 12px;
          }
        }
      }

      .#{$id}__benefit-image {
        width: 300px;
        object-fit: contain;
      }
    }

    .#{$id}__benefit-content {
      @include media-query(md) {
        margin-bottom: 30px;
      }
    }

    .#{$id}__benifitDetailsCta {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &__cardSection {
    padding: 52px 0;

    .#{$id}__cards {
      display: grid;
      grid-template-columns: repeat(4, minmax(300px, 1fr));
      gap: 50px;

      @include media-query(xl) {
        grid-template-columns: repeat(4, minmax(200px, 1fr));
        gap: 20px;
      }

      @include media-query(md) {
        grid-template-columns: repeat(2, minmax(300px, 1fr));
        gap: 20px;
      }

      @include media-query(sm) {
        grid-template-columns: repeat(1, minmax(300px, 1fr));
        gap: 20px;
      }

      .#{$id}__card {
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .card-content {
      .#{$id}__cardTitle {
        margin: 15px 0 11px 0;
        font-weight: 600;
        font-size: 19px;
        line-height: 30px;
        color: #202020;
      }

      .#{$id}__cardDescription {
        font-size: 16px;
        line-height: 22px;
        color: #202020;
      }
    }
  }

  //kabir

  &-1 {
    .sample-add-form {
      max-width: 385px;
      margin: 0 auto;

      form {
        display: flex;

        button {
          width: 50% !important;
          padding: 20px 0;
        }

        .#{$id}__roomVisualizerBtn {
          margin: 0 0 0 6px;
          background-color: #fff;
          color: #000 !important;
          border: 1px solid #000000;
          box-shadow: none;
          cursor: pointer;
        }
      }
    }

    .#{$id}__uspsWrapper {
      max-width: 385px;
      margin: 0 auto;

      .uspsList {
        display: flex;
        margin-top: 30px;

        .#{$id}__uspsItem {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: calc(100% / 3);

          .#{$id}__text {
            font-size: 13px;
            line-height: 16px;
            color: #202020;
            margin-top: 6px;

            a {
              font-weight: bold;
              text-decoration: underline;
              color: #202020;
            }
          }

          &:nth-child(2) {
            margin: 0 8px;
          }
        }
      }
    }
  }

  // sakib
  &__floorDetailsSection {
    .product-details {
      padding: 0;

      .room-preview-text {
        background: #be903b;
      }

      .#{$id}__floorMeasurement {
        .#{$id}__floorDetailsTitle {
          font-weight: 500;
          font-size: 30px;
          line-height: 40px;
          color: #2f2f2f;
        }

        .#{$id}__floorMeasurementCol {
          margin-top: 38px;

          h4 {
            font-weight: 600;
            font-size: 19px;
            line-height: 26px;
            color: #202020;
          }

          .#{$id}__measurementTitle {
            font-weight: 600;
            font-size: 16px;
            line-height: 36px;
            color: #202020;
          }

          .#{$id}__measurementValue {
            font-size: 16px;
            line-height: 36px;
            color: #202020;
          }
        }
      }

      .#{$id}__floorSpecification {
        .#{$id}__floorSpecificationCol {
          margin-top: calc(40px + 38px);

          h4 {
            font-weight: 600;
            font-size: 19px;
            line-height: 26px;
            color: #202020;
          }

          .#{$id}__specificationTitle {
            font-weight: 600;
            font-size: 16px;
            line-height: 36px;
            color: #202020;
          }

          .#{$id}__specificationValue {
            font-size: 16px;
            line-height: 36px;
            color: #202020;
          }
        }
      }

      .#{$id}__roomPreview {
        margin-top: calc(40px + 38px);
      }
    }
  }
}
