@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {

    // kabir
    &-1 {
        .pdp-reviews#reviews {
            background-color: #f9f2e4;
            position: relative;

            .pdp-reviews-summary {

                &>.pdp-reviews-cms,
                &>button {
                    display: none;
                }
            }

            &::before {
                content: '';
                height: 100%;
                position: absolute;
                width: 200vw;
                left: -50vw;
                display: block;
                top: 0;
                background-color: #f9f2e4;
                z-index: -1;
            }

            .pdp-reviews-list-container {
                @media (min-width: 768px) {
                    margin-bottom: 38px;
                }
            }

            .pdp-review {
                &.#{$id}__hide {
                    display: none;
                }
            }
        }

        .#{$id}__mobileReviewSection {
            .pdp-reviews-list {
                display: none;
            }
        }
    }

    .#{$id}__readMoreReviews {
        display: flex;
        justify-content: center;
        line-height: 17px;
        color: #202020;
        text-decoration: underline;
        cursor: pointer;

        &+button {
            display: none;
        }
    }

    //sakib
    .sp_accordion,
    .product-features,
    .product-accordion {
        display: none;
    }

    .#{$id}__benefitSection {
        padding: 64px 40px 52px;
        background: #fff;

        .#{$id}__benefitsTitle {
            font-size: 30px;
            color: #2f2f2f;
            line-height: 40px;
        }

        .#{$id}__benefits-wrapper {
            display: flex;

            .#{$id}__benefit {
                margin: 0 40px 12px 0;

                &-text {
                    position: relative;
                    margin-left: 4px;
                    color: #202020;
                    font-size: 16px;
                    line-height: 20px;
                }

                .#{$id}__icon {
                    svg {
                        width: 13px;
                        height: 12px;
                    }
                }
            }
        }
    }
}