@import './variables';
@import '../src/lib/shared/shared';

[data-test-id="price"].text-19-15 {
    font-size: 16px;
    @include media-query(lg) {
    font-size: 14px;
    }
}

[data-test-id="price"].text-19-15.leading-7, [data-test-id="price"].text-19-15.leading-tight {
    line-height: 28px;
}

.BLA-27__desktop .BLA-27__product .leading-loose {
        line-height: 3.2;
    
}

span[data-test-id="old-price"]+ .self-baseline > span {
    line-height: 24px !important;
}

// .BLA-27__sale-item [data-test-id="price"] {
//     line-height: 24px !important;
// }

.cart-drawer .text-right .text-body3 {
    font-size: 12px;
    line-height: 14px;
    @include media-query(lg) {
        font-size: 11px;
        line-height: 13px;
    }
}

.cart-drawer .flex.flex-col.items-end > div {
    font-size: 16px;
    line-height: 32px;
    @include media-query(lg) {
        font-size: 13px;
        line-height: 22px;
    }
}


.#{$id} {
    &__collections {
        [data-test-id="price"].text-19-15 {
            font-size: 16px;
            @include media-query(lg) {
                font-size: 14px;
            }
        }
        
        [data-test-id="price"].text-19-15.leading-7 {
            line-height: 19px;
            @include media-query(lg) {
                line-height: 28px;
            }
        }

        &__sale-item [data-test-id="price"] {
            line-height: 24px !important;
        }

    }

    &__product {
        [data-testid="price"].text-h45 {
            font-size: 30px;
            line-height: 46px;
            @include media-query(lg) {
                font-size: 20px;
                line-height: 29px;
            }
        }


        [data-test-id="price"].text-h4 {
            font-size: 30px;
            line-height: 46px;
            @include media-query(lg) {
                font-size: 20px;
                line-height: 29px;
            }
        }

        [data-testid="price"].text-body1 {
            font-size: 20px;
            line-height: 37px;
            @include media-query(lg) {
                font-size: 14px;
                line-height: 25px;
            }
        }
    } 

    &__cart-pg {
        .root .gap-y-6 .text-right .text-body3 {
            font-size: 12px;
            line-height: 14px;
            @include media-query(lg) {
                font-size: 11px;
                line-height: 13px;
            }
        }

        .root .gap-y-6.grid .flex.flex-col.items-end > div {
            font-size: 16px;
            line-height: 32px;
            @include media-query(lg) {
                font-size: 13px;
                line-height: 22px;
            }
        }
    }

    &__sale-collection {
        [data-test-id="price"].text-19-15 {
            font-size: 16px;
            @include media-query(lg) {
                font-size: 14px;
            }
        }
        
        [data-test-id="price"].text-19-15.leading-tight {
            line-height: 24px;
        }
    }
}