@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
    .sidebar-label > span.icon-filter{
        display: none;
    }
    .column-left{
        .filter-search{
            display: flex;
            font-weight: bold;
            align-items: center;
            text-transform: uppercase;
        }
    }
    .filters-toolbar__sortby{
        .filter-sortby{
            border: 1px solid #dadada;
            padding: 8px 14px 6px 15px;
            max-width: 70%;
            border-radius: 4px;

            ul{
                min-width: 59%;
                li{
                    span{
                        display: block;
                        padding: 4px 14px 3px 15px;
                        cursor: pointer;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
                .active{
                    background-color: #f4f4f4;
                    color: #66787f;
                }
            }
        }
    }
    .test-123{
        top: 9px !important;
        left: -15px !important;
    }
    
}

