@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
    &__hide {
        display: none !important;
    }

    &__adjusted--margin {
        margin-right: 0 !important;
    }

    &__row-padding {
        padding-right: 24px;

        @include mediaQuery(sm) {
            padding-right: 0;
        }

    }

    &__quantity--selector {
        position: relative;
    }

    &__pulse {
        &--container {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(20%, -50%);
            cursor: pointer;
        }

        &--teal {
            background: rgba(103, 130, 164, 1);
            margin: 10px;
            height: 32px;
            width: 32px;
            border-radius: 50%;
            transform: scale(1);
            box-shadow: 0 0 0 6px rgba(103, 130, 164, 0.5);
            animation: pulse-teal linear 2s 2 alternate;
        }
    }

    &__tooltip {
        display: block;
        position: relative;
        padding: 7px 8px;
        margin-bottom: 24px;
        background-color: #6782A4;
        font-size: 13px;
        font-weight: 400;
        line-height: 16px;
        color: #fff;

        &.cartpage-adjustments {
            width: 100%;
            max-width: 154px;
            float: right;

            @include mediaQuery(sm) {
                max-width: 100px;
                margin-top: 50px;
            }
        }

        @include mediaQuery(sm) {
            display: none;
        }

        &.#{$id}__tooltip-mobile {
            display: none;

            @include mediaQuery(sm) {
                display: block;
                width: 100%;
                max-width: 154px;
                margin-top: 24px;
            }

            & .#{$id}__tooltip--uparrow {
                //right: 64p
                position: absolute;
                top: -16px;
                right: 45px;
                transform: rotate(180deg);
            }
        }

        &--headline {
            display: block;
            margin-bottom: 5px;
            font-weight: 700;
        }

        &--downarrow {
            position: absolute;
            top: calc(100% - 2px);
            right: 45px;

            @include mediaQuery(md) {
                right: 64px;
            }
        }

        &--leftarrow {
            position: absolute;
            top: 5px;
            left: 0;
            transform: rotate(90deg) translateY(100%);

            @include mediaQuery(sm) {
                top: auto;
                bottom: 8px;
            }
        }

        &.arrow-adjust {


            // & .#{$id}__tooltip--downarrow {
            //     //right: 64px
            // }

            & .#{$id}__tooltip--leftarrow {
                @include mediaQuery(md) {
                    top: 20px;

                }

                @include mediaQuery(sm) {
                    top: auto;
                    bottom: 42px;
                }
            }
        }
    }
}


@keyframes pulse-teal {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 6px rgba(103, 130, 164, 0.5);
    }

    50% {
        transform: scale(0.9);
        box-shadow: 0 0 0 6px rgba(103, 130, 164, 0);
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 0 6px rgba(103, 130, 164, 0.5);
    }
}