@import './variables';
@import '../src/lib/shared/shared.scss';

body {
  .#{$id}__modal {
    & .modal__dialog {
      & .modal__content {
        & .#{$id}__modalImage {
          margin: 15px 0 20px;
        }
      }

      & .#{$id}__modalLink {
        display: inline-block;
      }
      & .#{$id}__modal__close {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 9;
        display: block;
        padding: 10px;
        background-color: #43790d;
        border-radius: 0 5px;
        cursor: pointer;

        &:hover {
          background-color: #315d06;
        }

        & > span {
          display: block;
          width: 20px;
          height: 20px;
          overflow: hidden;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
          text-indent: -9999px;
          font-size: 1px;
          background-image: -webkit-gradient(
              linear,
              left top,
              left bottom,
              color-stop(45%, transparent),
              color-stop(45%, rgb(255, 255, 255)),
              color-stop(55%, rgb(255, 255, 255)),
              color-stop(55%, transparent)
            ),
            -webkit-gradient(linear, left top, right top, color-stop(45%, transparent), color-stop(45%, rgb(255, 255, 255)), color-stop(55%, rgb(255, 255, 255)), color-stop(55%, transparent));
          background-image: -o-linear-gradient(
              transparent 45%,
              rgb(255, 255, 255) 45%,
              rgb(255, 255, 255) 55%,
              transparent 55%
            ),
            -o-linear-gradient(left, transparent 45%, rgb(255, 255, 255) 45%, rgb(255, 255, 255) 55%, transparent
                  55%);
          background-image: linear-gradient(
              transparent 45%,
              rgb(255, 255, 255) 45%,
              rgb(255, 255, 255) 55%,
              transparent 55%
            ),
            linear-gradient(
              to right,
              transparent 45%,
              rgb(255, 255, 255) 45%,
              rgb(255, 255, 255) 55%,
              transparent 55%
            );
        }
      }
    }
  }
}
