@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
  &-1 {
    .space-page-section-ins {
      padding-bottom: 0;
    }
    .space-page-content {
      .#{$id}__hideCasinoRanking,
      & > .wp-block-liquid-speech-balloon,
      & > .ranking-banner,
      & > .update-log {
        display: none;
      }

      .post-modified-info + p ~ div:not(.#{$id}__showCasinoRanking),
      .post-modified-info + p ~ p,
      .post-modified-info + p ~ ul,
      .post-modified-info + p ~ h2,
      .post-modified-info + p ~ h3,
      .post-modified-info + p ~ h4,
      .post-modified-info + p ~ ol,
      .post-modified-info + p ~ hr {
        display: none;
      }

      .#{$id}__showCasinoRanking {
        padding-bottom: 0;
        & > *:not(.block-wrapper) {
          display: none;
        }
      }
    }
  }

  .#{$id}__bonus + a {
    display: none;
  }

  .#{$id}__reviews + a {
    display: none;
  }
}
