@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
    .volume-discount {
        margin-top: 20px;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: #f9f9f9;
    }

    #item-quantity {
        width: 100%;
    }

    #discount-info {
        margin-top: 10px;
        font-weight: bold;
        display: flex;
        align-items: center;
    }

    #quantity-display {
        margin-left: 10px;
        padding: 5px;
        width: 50px;
        border: 1px solid #ddd;
        border-radius: 3px;
        text-align: center;
        background-color: #fff;
        color: #333;
    }

    #add-to-bag {
        margin-top: 10px;
        padding: 10px 20px;
        background-color: #80e096;
        color: #131313;
        opacity: 1;
        border: none;
        cursor: pointer;
    }

    .quantity-range {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

}