@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
  .billing-dropdown {
    border-radius: 12px;
    background: #c9bff9;
    padding: 4px;
    cursor: pointer;
    font-family: inherit;
    font-size: 14px;
    width: 100%;
    max-width: 360px;
    position: relative;

    @media screen and (max-width: 480px) {
      max-width: 100%;
    }
  }

  .billing-dropdown-container {
    background-color: #fff;
    border: solid 1px #d1cfcd;
    border-radius: 10px;
    overflow: hidden;

    &:has(.billing-options:not(.visible)) {
      border-color: #6241ff;
    }
  }

  .billing-selected {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 8px 12px 7px;

    .billing-total {
      color: #6241ff;
    }

    &.open {
      .dropdown-icon svg {
        transform: rotate(180deg);
      }
    }
  }

  .billing-info {
    display: flex;
    align-items: center;

    .dropdown-icon {
      margin-left: 10px;
      svg {
        transition: all 0.2s ease;
      }
    }
  }

  .billing-options {
    display: none;
    flex-direction: column;
  }

  .billing-options.visible {
    display: flex;
  }

  .billing-option {
    border-top: 1px solid #d1cfcd;
    padding: 8px 12px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    transition: background 0.2s;

    &:hover {
      background: #6241ff;

      .billing-total,
      .billing-per-month,
      .billing-duration {
        color: #fff;
      }
    }
  }

  .billing-option.active:not(.hover) {
    background: #6241ff;

    .billing-total,
    .billing-per-month,
    .billing-duration {
      color: #fff;
    }
  }

  .billing-left {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .billing-right {
    text-align: right;
  }

  .billing-duration {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #0c0c14;
  }

  .billing-per-month {
    font-size: 12px;
    line-height: 17px;
    color: #5c5958;
    padding-top: 4px;
  }

  .billing-total {
    font-size: 14px;
    line-height: 17px;
    font-weight: bold;
    color: #1ea885;
  }

  .billing-badge {
    margin-top: 6px;
    font-size: 13px;
    background: #00d084;
    color: white;
    padding: 2px 6px;
    border-radius: 4px;
    width: fit-content;
    display: inline-block;
  }

  .billing-save-badge {
    background: #27ddb1;
    color: #0c0c14;
    font-size: 12px;
    line-height: 17px;
    padding: 2px 6px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 18px;
  }

  .plan-features {
    max-width: 400px;
    margin-top: 20px;

    @media screen and (max-width: 600px) {
      margin-top: 18px;
    }

    & + div {
      display: none;
    }

    .#{$id}__moneyBackImageWrapper {
      margin: 0 0 18px;

      img {
        max-width: 100%;
        height: auto;
      }

      @media screen and (max-width: 910px) {
        display: none;
      }
    }
  }

  .plan-features h3 {
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 600;
  }

  .feature-item {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 12px;

    color: #5c5958;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }

  .tick-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #f7f5ff;
  }

  /* Optional: Style inline icon inside the last item */
  .feature-item img {
    height: 20px;
    vertical-align: middle;
    margin-left: 6px;
  }

  .discount-applied-msg {
    div {
      font-size: 12px;
      line-height: 17px;
    }

    .discount-icon {
      display: flex;
      margin-right: 6px;
    }
  }

  .savings-icon {
    display: flex;
    margin-right: 6px;
  }
  .billing-warning-msg {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 17px;
    a {
      font-size: 12px;
      line-height: 20px;
      color: #372580;
    }

    .savings-text {
      text-decoration: underline;
    }
  }

  main > div > div:nth-child(-n + 3) {
    display: none;
  }

  [name='account-form'] span:has(a[href*='/dashboard']) {
    display: none;
  }

  &-payment {
    & > div:not(.pricing-box-content) {
      @media screen and (max-width: 600px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
      }
    }

    & > div.pricing-box-content {
      & > div > div:last-of-type {
        @media screen and (max-width: 600px) {
          display: none;
        }
      }
    }
  }

  &-details {
    & > div {
      & > div:nth-child(2) {
        @media screen and (max-width: 600px) {
          order: -1;
          margin-top: 0;
          margin-bottom: 26px;
        }
      }
    }
  }

  .#{$id}__signWrapper {
    &.#{$id}__mobile {
      display: none;

      @media screen and (max-width: 600px) {
        display: block;
        margin: 0 auto;
      }
    }

    &.#{$id}__desktop {
      @media screen and (max-width: 600px) {
        display: none;
      }
    }
  }

  .#{$id}__summaryTitle {
    display: none;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    color: #0c0c14;
    margin: 0 0 6px;

    @media screen and (max-width: 600px) {
      display: block;
    }
  }

  [data-testid='pay'] + div {
    display: none;
  }

  .#{$id}__moneyBackImageWrapper {
    &.#{$id}__mobileImage {
      display: none;
      margin: 15px 0;

      // & + div {
      //   display: none;
      // }

      @media screen and (max-width: 910px) {
        display: block;
      }
    }
  }

  .guarantee-box {
    border-radius: 1rem;
    background: #f7f5ff;
    display: flex;
    padding: 1.25rem;
    flex-direction: row;
    align-items: flex-start;
    gap: 1rem;
    align-self: stretch;
    margin-top: 1.5rem;
  }

  .guarantee-box .left-box {
    flex: 0 0 2.625rem;
  }

  .guarantee-box h4 {
    font-size: 0.875rem;
    color: #38257f;
    font-weight: 700;
    letter-spacing: -0.0175rem;
    margin: 0;
    padding: 0 0 0.5rem 0;
  }

  .guarantee-box p {
    font-size: 0.75rem;
    color: #0c0c14;
    font-weight: 400;
    margin: 0;
    padding: 0;
  }

  .rating-section {
    display: flex;
    justify-content: space-around;
    margin: 2rem 0;
  }

  .rating-section img {
    max-width: 100%;
    height: auto;
  }
  @media screen and (max-width: 767px) {
    .pro006 .rating-section img {
      max-width: 94%;
    }
  }
}
