.systemNav{
	display: none;
}
.scan-102-3x{
	position: relative;
}
.scan-102-3x .scan-102-3x-dropdown{
	display: flex;
    flex-direction: column;
    background: #000;
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
}
.scan-102-3x .scan-102-3x-dropdown .scan-102-3x-custom-build{
	background-color: #A8A8A9;
}
.scan-102-3x .scan-102-3x-dropdown .scan-102-3x-custom-build p{
	text-align: center;
    font-weight: bold;
    color: #fff;
}
.scan-102-3x .scan-102-3x-dropdown .scan-102-3x-menu{
	display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.scan-102-3x .scan-102-3x-dropdown .scan-102-3x-menu .scan-102-3x-menu-item{
	display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
    text-decoration: none;
	
}
.scan-102-3x .scan-102-3x-dropdown .scan-102-3x-menu .scan-102-3x-menu-item .title{
	text-decoration: none;
	color: #fff;
	
}
.scan-102-3x .scan-102-3x-dropdown .scan-102-3x-menu .scan-102-3x-menu-item .icon{
	display: table-cell;
    background: url(/images/homepages/computerhardware/homepage-icons.svg?v=18) no-repeat;
    background-size: 525px 168px;
    width: 50px;
    height: 58px;
    color: #000;
}

.scan-102-3x .scan-102-3x-dropdown .scan-102-3x-menu .scan-102-3x-menu-item .icon.proGaming{
	background-position: -54px 8px;
}
.scan-102-3x .scan-102-3x-dropdown .scan-102-3x-menu .scan-102-3x-menu-item .icon.watercooled{
	background-position: -228px -40px;
    background-size: 550px 176px;
    width: 40px;
}
.scan-102-3x .scan-102-3x-dropdown .scan-102-3x-menu .scan-102-3x-menu-item .icon.homeOffice{
	background-position: -171px 8px;
    width: 25px;
}
.scan-102-3x .scan-102-3x-dropdown .scan-102-3x-menu .scan-102-3x-menu-item .icon.proAudio{
	background-position: -322px 6px;
    width: 38px;
}
.scan-102-3x .scan-102-3x-dropdown .scan-102-3x-menu .scan-102-3x-menu-item .icon.proVideo{
	background-position: -375px 6px;
    width: 38px;
}
.scan-102-3x .scan-102-3x-dropdown .scan-102-3x-menu .scan-102-3x-menu-item .icon.proGraphics{
	background-position: -272px 6px;
    width: 34px;
}
.scan-102-3x .scan-102-3x-dropdown .scan-102-3x-menu .scan-102-3x-menu-item .icon.customLaptop{
	background-position: -422px 6px;
}
.scan-102-3x .scan-102-3x-dropdown .scan-102-3x-menu .scan-102-3x-menu-item .icon.deepLearning{
	background-position: -60px -37px;
    width: 38px;
}

.scan-102-3x .scan-102-3x-dropdown .scan-102-3x-cta-container{
	display: flex;
	padding: 10px 0;
}
.scan-102-3x .scan-102-3x-dropdown .scan-102-3x-cta-container .scan-102-3-view-all{
	margin: auto auto;
    border: 1px solid #fff;
    padding: 4px 34px;
    color: #fff;
    border-radius: 6px;
    text-decoration: none;
}

.scan-102-3x-none{
	display: none !important;
}



    




    