@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
    &__productGrid {
        display: flex;

        #Toolbar > .items-stretch {
            flex-direction: column;

            .w-grid {
                .z-20.absolute {
                    position: initial;
                }
            }
        }
    }
}