@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
    &__hide {
        display: none;
    }

    &__filterHeader {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px;

        .filter-text {
            font-family: 'Goudy Old Style';
            font-size: 28px;
            font-weight: 400;
            line-height: 34px;
            color: #414042;
        }

        .#{$id}__sortWrapper {
            align-items: center;

            .w-grid {
                margin-left: 15px;
            }
        }
    }

    &__productGrid {
        position: relative;
        display: flex;
        padding-top: 40px;

        .#{$id}__dataToolbar {
            max-width: 264px;
            margin-left: 30px;
        }

        #Toolbar {
            position: relative !important;
            padding-top: 10px !important;
            border: none !important;

            &>.items-stretch {
                flex-direction: column;

                .w-grid {
                    border-bottom: 1px solid #E3E2DE;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                    max-width: 100%;

                    &:hover,
                    &:focus {
                        border-bottom: 1px solid #E3E2DE;
                        border-top: none;
                        border-left: none;
                        border-right: none;
                    }

                    .z-20.absolute {
                        position: initial;
                    }
                }
            }

            .#{$id}__selectedFiltersWrapper {
                flex-wrap: wrap;
                padding: 0 15px 20px;
                gap: 5px;

                a.text-lg {
                    font-size: 13px;
                    line-height: 17px;
                    padding: 4px 10px;
                }
            }

            .#{$id}__contentsWrapper {
                padding: 0;
                gap: 0;
                background: #FBFAF8;
                border: 1px solid #E3E2DE;

                .peer:checked~.peer-checked\:border-border-active {
                    border: none !important;
                }

                label[for*="product-gridfilter"] {
                    padding-right: 15px;
                    padding-left: 15px;
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 19.5px;
                    color: #414042;
                }

                button[data-reset],
                .text-heading-sm.text-links.font-heading,
                label[for="Filters"],
                button[type="submit"] {
                    display: none;
                }
            }

            .#{$id}__filterBox {
                margin: 0 15px;
                padding: 0 0 15px 0;
                border-bottom: 1px solid #E3E2DE;

                li label {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 18px;
                }
            }
        }
    }

    &__contents {
        display: flex;
        flex-direction: column;

        & > div {
            order: 0;
        }

        & > div:nth-child(2) {
            order: 1;
        }

        & > div:nth-child(3) {
            order: 2;
        }

        & > div:nth-child(4) {
            order: 4;
        }

        & > div:nth-child(5) {
            order: 3;
        }

        & > form {
            order: 5;
        }
    }

    &__moreFiltersForm {
        background-color: #FBFAF8;

        .#{$id}__moreFiltersWrapper {
            padding: 0 15px;
            display: flex;
            flex-direction: column;

            label[data-role="button"] {
                font-size: 15px;
                font-weight: 400;
                line-height: 19.5px;
                color: #414042;

                [data-facet*="filter"] {
                    display: none;
                }
            }

            li label {
                font-size: 14px;
                font-weight: 400;
                line-height: 18px;
            }
        }
    }

    &__inStock {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 15px;
        padding: 15px 0 20px;
        border-top: 1px solid #E3E2DE;
        border-bottom: 1px solid #E3E2DE;
    }

    &__toggle {
        position: relative;
        display: inline-block;
        
        .toggle__input {
            display: none;
        }
        
        .toggle__label {
            display: block;
            width: 34px;
            height: 18px;
            background-color: #fff;
            border: 1px solid #69686A;
            border-radius: 99px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        
        &.active-toggle .toggle__label {
            background-color: #53684A;
        }
        
        .toggle__input:checked + .toggle__label::after {
            left: 19px;
        }
        
        .toggle__label::after {
            content: '';
            position: absolute;
            top: 3px;
            left: 3px;
            width: 12px;
            height: 12px;
            background-color: #53684A;
            border-radius: 50%;
            transition: left 0.3s ease;
        }

        &.active-toggle .toggle__label::after {
            background-color: #ffffff;
        }
    }
}