@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
  #main-cart-items:has(.#{$id}__productWrapper) {
    padding-bottom: 20px;
  }
  .#{$id}__productWrapper {
    max-width: 565px;
    width: 100%;
    height: max-content;
    border: 1px solid #8b888e;
    border-radius: 10px;

    @media screen and (max-width: 749px) {
      margin: 0 auto;
    }
  }
  .#{$id}__productContainer {
  }
  .#{$id}__productInfo {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid #8b888e;
  }
  .#{$id}__image {
    width: 80px;
    height: 80px;

    img {
      width: 100%;
      height: auto;
      border-radius: 8.73px;
    }

    @media screen and (max-width: 630px) {
      width: 54px;
      height: 54px;
    }
  }
  .#{$id}__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 270px;
    width: 100%;
    padding: 0 19px 0 15px;

    .#{$id}__infoTitle {
      font-size: 16px;
      font-weight: 700;
      line-height: 19.36px;
      text-align: left;
      color: #2e2a39;
      padding-bottom: 7px;
    }

    .#{$id}__extraInfo {
      display: flex;
      align-items: center;
      width: 100%;
    }

    .#{$id}__discount {
      max-width: 64px;
      width: 100%;
      font-size: 10px;
      font-weight: 500;
      line-height: 12.1px;
      text-align: center;
      padding: 5px 8px;
      background-color: #271d42;
      color: #fff;
      border-radius: 100px;
      box-sizing: border-box;
    }

    .#{$id}__discountText {
      font-family: 'Inter';
      font-size: 10px;
      font-weight: 600;
      line-height: 12.1px;
      text-align: left;
      color: #2e2a39;
      padding-left: 5px;
    }
  }
  .#{$id}__text {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 700;
    line-height: 19.36px;
    color: #2e2a39;
    @media screen and (max-width: 630px) {
      font-size: 12px;
      line-height: 15px;
      margin-bottom: 6px;
    }
  }

  .#{$id}__button {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 182px;
    width: 100%;
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 800;
    line-height: 14.52px;
    text-align: center;
    color: #ffffff;
    background-color: #ed3e81;
    text-decoration: none;
    padding: 14px 12px 13px 13px;
  }

  .#{$id}__freeProductsWrapper {
    background-color: #efeef0;
    border-radius: 0 0 10px 10px;
  }
  .#{$id}__freeProductsContainer {
    display: flex;
    align-items: center;
    padding: 0 15px;
  }
  .#{$id}__divider {
    display: block;
    width: 6px;
    height: 6px;
    background-color: #271d42;
    border-radius: 50%;
    margin: 0 20px;
  }
  .#{$id}__freeProduct {
    display: flex;
    align-items: center;
    .#{$id}__imageWrapper {
      width: 40px;
      height: 40px;

      img {
        width: 100%;
        height: auto;
      }
    }

    .#{$id}__texts {
      padding-left: 5px;
      .#{$id}__highlight {
        font-family: Inter;
        font-size: 14px;
        font-weight: 700;
        line-height: 16.94px;
        text-align: left;
        color: #ed3e81;
      }
      .#{$id}__subtext {
        font-family: Inter;
        font-size: 14px;
        font-weight: 700;
        line-height: 16.94px;
        text-align: left;
        color: #2e2a39;
      }
    }
  }
}
