@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
  .#{$id}__casinoSlider {
    display: flex;
    overflow-x: hidden;
    flex-wrap: nowrap;
    scroll-behavior: smooth;

    .#{$id}__casinoSlider-item {
      &-image {
        img {
        }
      }
      &-icon {
      }
    }
  }
}
