@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
    .recently-viewed-section .overflow-scroller {
        overflow: visible !important;
    }

    &__slider-item {
        &:first-child {
            margin-left: 40px;
        }

        &:last-child {
            margin-right: 40px;
        }

        .grid-product__content {
            margin: 0 20px;
        }
    }
}