@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
  .banner.flt {
    .container.bdinpad {
      img.bnrprd-v2 {
        display: none !important;
      }
      .bnrrgt {
        .bnrhd1 {
          @include max-media-query(sm) {
            font-size: 18px;
          }
        }
        .bnrhd2 {
          text-align: center;
          @include max-media-query(sm) {
            font-size: 26px;
          }
        }

        .bnrrgt-hding,
        & > ul.bnrlist {
          display: none;
        }

        .#{$id}__banner_list {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          width: 100%;
          margin: 0 auto;

          @include max-media-query(sm) {
            max-width: 400px;
          }

          // .banner_prod-mob {
          //   display: none;
          //   @include max-media-query(sm) {
          //     display: block;
          //     width: 50%;
          //     text-align: center;
          //     margin-top: 20px;
          //     img {
          //       height: auto;
          //     }
          //   }
          // }
          .banner__points {
            width: 100%;
            margin-top: 25px;
            display: flex;
            max-width: 900px;
            margin: 25px auto 0;
            @include max-media-query(xlg) {
              margin: 12px auto 0;
            }

            @include max-media-query(lg) {
              margin: 20px 0 0;
            }

            @include max-media-query(sm) {
              width: 100%;
              flex-wrap: wrap;
              justify-content: start;
              row-gap: 10px;
              margin: 20px 0 0;
            }
            li {
              display: flex;
              align-items: center;
              gap: 10px;
              width: calc(100% / 4);

              img {
                width: 44px;
                height: 44px;
                @include max-media-query(sm) {
                  width: 40px;
                  height: 40px;
                }
              }
              p {
                font-size: 15px;
                line-height: 20px;
                letter-spacing: 0;
                text-transform: uppercase;
                @include max-media-query(mlg) {
                  font-size: 12px;
                }

                @include max-media-query(sm) {
                  max-width: 127px;
                }

                @include max-media-query(xsm) {
                  font-size: 10px;
                }
              }

              @include max-media-query(sm) {
                width: calc(100% / 2);
                gap: 5px;
              }
            }
          }
        }
        img.bnrprd-v2-mob {
          @include max-media-query(sm) {
            display: none !important;
          }
        }
        @include min-media-query(sm) {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
        }

        @include max-media-query(xlg) {
          .bnrbtnbx-v2 {
            margin: 12px 0 0 0;
          }
        }

        @include max-media-query(lg) {
          .bnrbtnbx-v2 {
            margin: 20px 0 0 0;
          }
        }
      }
    }

    @include max-media-query(xlg) {
      padding: 5px 0;
    }
  }

  .banner {
    .#{$id}__video-wrapper {
      position: relative;
      overflow: hidden;
      .video-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparent;
        z-index: 1;
        // background-image: url(https://cdn.shopify.com/s/files/1/0267/7080/0737/files/thumbnail_l_-_v2.jpg?v=1706274934);
        // background-position: center;
        // background-size: cover;
        // background-repeat: no-repeat;
      }
    }

    .#{$id}__heroVideo {
      margin: 25px 50px 0;
      max-width: 450px;
      border: solid 1px #000;
      z-index: 22;

      @include max-media-query(xlg) {
        max-width: 300px;
        margin: 12px 50px 0;
      }
      @include max-media-query(lg) {
        display: flex;
        margin: 20px auto 0;
        max-width: 320px;
      }
    }

    img.bnrprd-v2-mob + .#{$id}__heroVideo {
      // display: none;
    }

    @include max-media-query(lg) {
      img.bnrprd-v2 + .#{$id}__heroVideo {
        display: none;
      }

      img.bnrprd-v2-mob + .#{$id}__heroVideo {
        display: block;
      }
    }
  }
}
