@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
  &__custom-tip-style {
    background: none !important;
    padding: 0 !important;
    margin: 0 !important;
    font-style: italic;
    font-size: 17.5px;
  }
}
