@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
  &__notifyContainer {
    & .#{$id}__notifyBody {
      position: fixed;
      top: 0;
      left: 50%;
      transform: translate(-50%);
      background: green;
      z-index: 9999;
    }
  }
}
