@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
    &-1 {
        .upcart-checkout-button {
            background: #000;
        }
    
        .#{$id}__atcText {
            display: flex;
            justify-content: center;
    
            svg {
                margin-right: 5px;
            }
            span {
                color: #fff;
                background: #000 !important;
            }
    
        }
    }
}