@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
  .#{$id}__upsell-notification.active {
    display: flex;
    margin-top: 10px;
    max-width: 100%;
    margin-bottom: 0;
    padding: 8px 5px;
    justify-content: center;
    background: transparent;
    color: #333;
    border: 1px solid #f1b215;
  }
}
