/* stylelint-disable value-no-vendor-prefix */
/* stylelint-disable selector-class-pattern */
/* stylelint-disable font-family-no-missing-generic-family-keyword */
@import './variables';
@import '../src/lib/shared/shared';

.#{$id} {
    &__hide {
        display: none;
    }

    &__collection-grid-wrapper-desktop-unisex > &__collection-grid:first-child{
        display: none;
    }

    &_sale-variation-mobile .SectionHeader__Heading {
        margin-bottom: 0 !important;
    }

    &_sale-variation-desktop .CollectionStoryMenu,
    &_sale-variation-desktop .liking-badge,
    &_sale-variation-mobile .CollectionStoryMenu {
       display: none !important;
   }

   &__collection-grid-wrapper-desktop-women, &__collection-grid-wrapper-desktop-men, &__collection-grid-wrapper-desktop-unisex{
        padding: 0 50px;
        @include mediaQuery(xlg) {
            padding: 24px;
            padding-top: 0;
        }
   }

   &_sale-variation-desktop &__collection-grid {
        display: flex;
        flex-direction: row;
        margin-bottom: 16px;
   }

   &_sale-variation-desktop &__collectionHeaderWrapper {
        margin: 0 50px;
        margin-bottom: 30px;
        @include mediaQuery(xlg) {
            margin: 0 24px;
            margin-bottom: 30px;
        }
   }

   &_sale-variation-mobile &__collectionHeaderWrapper {
        margin: 20px 0 30px 10px;
        @include mediaQuery(xxsm) {
            margin: 20px 0 30px 15px;
        }
   }

   &_sale-variation-desktop &__collection-img:not(:last-child) {
        margin-right: 16px;
    }   

    &_sale-variation-desktop &__collection-img {
        position: relative;
    }

    &_sale-variation-desktop .collection-image-title {
        position: absolute;
        bottom: 16px;
        left: 12px;
        color: #FFF;
        font-weight: 700;
        font-size: 30px;
        font-family: 'Gordita Bold';
        font-style: normal;
        line-height: 26px;
    }

    &_sale-variation-desktop .PageHeader .SectionHeader, &_sale-variation-mobile .PageHeader .SectionHeader {
        display: flex;
    }
    
    &_sale-variation-desktop .PageHeader .Container, &_sale-variation-mobile .PageHeader .Container {
        padding: 0 50px;
        @include mediaQuery(xlg) {
            padding: 0 24px;
        }
    }

    &_sale-variation-mobile .PageHeader .Container {
        @include mediaQuery(xlg) {
            padding: 0 14px;
        }
    }

    &_sale-variation-desktop .PageHeader, &_sale-variation-mobile .PageHeader {
        margin-bottom: 0;
    }
    
    &_sale-variation-desktop .breadcrumb, &_sale-variation-mobile .breadcrumb {
        margin: 0 35px;
        padding: 0 8px 8px 16px;
        @include mediaQuery(xlg) {
            margin: 0 8px;
        }
    }

    &_sale-variation-mobile .breadcrumb {
        @include mediaQuery(xlg) {
            margin: 0;
        }
    }
    
    &_sale-variation-desktop .CollectionInner, &_sale-variation-mobile .CollectionInner {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @include mediaQuery(xlg) {
            margin-top: 0;
        }
    }

    &_sale-variation-mobile:not(.sno363__collection-grid-wrapper-mobile-unisex) &__collection-grid:nth-of-type(3),
    &_sale-variation-mobile:not(.sno363__collection-grid-wrapper-mobile-unisex) &__collection-grid:nth-of-type(4)  {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    &_sale-variation-mobile &__collection-img {
        position: relative;
        padding-bottom: 8px;
        padding-left: 10px;
    }

    &_sale-variation-desktop &__collection-grid-wrapper-desktop-men &__collection-grid-main,
    &_sale-variation-desktop &__collection-grid-wrapper-desktop-women &__collection-grid-main
     {
        padding-top: 14px;
    }

    &_sale-variation-mobile &__collection-grid-main {
        padding-top: 14px;
        padding-right: 24px;
        padding-left: 14px;
        @include mediaQuery(sm) {
            padding-right: 15px;
            padding-left: 6px;
            
        }
    }

    &_sale-variation-mobile .collection-image-title {
        position: absolute;
        bottom: 16px;
        left: 12px;
        display: flex;
        flex-wrap: wrap;
        padding: 0 8px;
        color: #FFF;
        font-weight: 700;
        font-size: 22px;
        font-family: 'Gordita Bold';
        font-style: normal;
        line-height: 26px;
    }

    &_sale-variation-mobile .collection-image-title p {
        display: none;    

        @include mediaQuery(xsm) {
            display: block;
        }
    }

    &_sale-variation-mobile &__collectionHeader {
        display: flex;
        padding: 12px;
        color: #1C1C1C;
        font-weight: 700;
        font-size: 24px;
        font-family: 'Gordita Medium';
        font-style: normal;
        line-height: 27px;
        @include mediaQuery(xxsm) {
            padding: 4px;
            font-size: 20px;
        }
    }

    &_sale-variation-desktop &__collectionHeader {
        color: #1C1C1C;
        font-weight: 700;
        font-size: 24px;
        font-family: 'Gordita Bold';
        font-style: normal;
        line-height: 27px;
        letter-spacing: 0.01em;
    }

    &__collection-img {
        width: 100%;
    }

    &__collection-img img {
        width: -webkit-fill-available;
    }
}