@import './variables';
@import '../src/lib/shared/shared.scss';

// body{
//     -webkit-animation: 1s ease 0s normal forwards 1 fadein;
//     animation: 1s ease 0s normal forwards 1 fadein;
//     }
    
    
    
    
//     @keyframes fadein{
//     0% { opacity:0; }
//     66% { opacity:0; }
//     100% { opacity:1; }
//     }
    
    
    
    
//     @-webkit-keyframes fadein{
//     0% { opacity:0; }
//     66% { opacity:0; }
//     100% {opacity:1; }
//     }

@-moz-document url-prefix() {
    .rg-8-1-similar-container .similar-product--cart {
      font-weight: normal !important;
    }
  }
  @media not all and (min-resolution:.001dpcm)
  { @supports (-webkit-appearance:none) {
  
    .rg-8-1-similar-container .similar-product--cart {
          font-weight: normal !important;
        }
  }}

  .product-smiliar{
    top: 0 !important;
  }
 
.#{$id} {
    // .swiper-container-horizontal{
    //     height: 100%; 
    //     max-height: 100vw;
    //     min-height: 0;
    //     min-width: 0;
    //     max-width: 100vw; 
    //     width: 100%;
    //     overflow: hidden;
    //   }
    // .sm-screen-bp{
    //     display: none;
    // }
    .add-another-to-save{
        position: relative;
        width: fit-content;
        /* border: 1px solid red; */
        padding: 5px 0;
        background: white;
        padding-right: 10px;
        /* margin-right: 10px; */
        /* bottom: 0; */
        text-align: center;
        text-transform: uppercase;
        top: -23px;
        margin: 0;
        margin-bottom: -28px;
    }
    &-similar-container{
        .prev-button-slider{
            display: none;
        }
        .next-button-slider{
            display: none;
        }
        
        .prod-wrapper{
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        .similar-product{
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            &:nth-child(2){
                margin: 0 10px;
            }
            &:last-child{
                margin-right: 20px;
            }
            &--cart{
                position: absolute;
                bottom: 65px;
                background-color: #fff;
                color: #000;
                /* height: auto; */
                font-size: 10px;
                border: 1px solid #B4B4B4;
                border-radius: 5px;
                width: 90%;
                padding: 0 12px;
                &:focus{
                    outline: none;
                }
            }
            .product-name{
                font-weight: bold;
                margin-top: 20px;
            }
            &--size{
                position: absolute;
                bottom: 65px;
                border: 1px solid #B4B4B4;
                background-color: #fff;
                width: 90%;
                border-radius: 4px;
                .parsed-size-list{
                    margin-top: 16px;
                    .swatches{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        p{
                            padding: 0;
                            margin: 0;
                            text-transform: uppercase;
                            font-family: proxima nova,Helvetica,Verdana,sans-serif;
                        }
                    }
                }
                ul{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    margin: 6px;
                    li{
                        // background: #000;
                        //     color: #fff;
                            display: flex;
                            justify-content: center;
                            padding: 2px 6px;
                            align-items: center;
                            border-radius: 6px;
                            margin: 0;
                        &:hover{
                            background: #000;
                            color: #fff !important;
                        }
                        &::before{
                            display: none;
                        }
                        a{
                            color: inherit;
                            text-decoration: none;
                        }
                    }
                }
                .close-size{
                    position: absolute;
                    right: 0;
                    background-color: transparent;
                    color: #000;
                    border: none;
                    font-size: 8px;
                    padding: 0;
                    margin-right: 5px;
                    &:focus{
                        outline: none;
                    }
                }
            }
        
    
    // left: 16px;
        }
    }
    &-none{
        display: none !important;
    }
    .discount-banner{
        background-color: #E5EEEA;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 10px;
        margin-top: 10px;
        a{
            color: #002716;
            text-decoration: none;
            font-size: 12px !important;
            font-family: proxima nova,Helvetica,Verdana,sans-serif !important
        }
    }
    // #prevSlideButton.prev-button-slider{
    //     display: none;
    // }
    // #nextSlideButton.next-button-slider{
    //     display: none;
    // }
    
}
#cart-table > tbody > tr > td.item-details > div.product-list-item > div.item-name-container > div.promo.first{
    display: none;
}
#cart-table > tbody > tr > td.item-details > div.product-list-item > div.item-name-container > div.promo.first{
    // padding: 10px;
    // background-color: #E5EEEA;
    // color: #000;
    // // font-family: proxima nova,Helvetica,Verdana,sans-serif !important;
    // font-style: normal;
    // /* font-weight: 400; */
    // font-size: 10px;
    // line-height: 1.38462em;
    // letter-spacing: .075em;
    // color: #363536;
    // text-transform: capitalize;
    // margin-top: 10px;
}
#cart-table > tbody > tr > td.item-total > div > span{
    color: #6A9C5A !important;
}

@media screen and (max-width: 767px){
    // .lg-screen-bp{
    //     display: none;
    // }
    #cart-items-form > fieldset > p.add-another-to-save{
        left: 0;
        right: 0;
        margin: auto;
        padding-left: 10px;
    }
    #rg-8-1-quick-cart.similar-product--cart{
        font-size: 10px !important;
        // bottom: 44px;
        padding: 0px 5px;

    }
    .rg-8-1-similar-container .prod-wrapper{
        justify-content: space-around;
    }
    
    #rg-8-1-quick-size{
        // bottom: 44px;
        
    }
    .pt_cart .cart-footer .rg-8-1-cart-coupon-code input{
        width: calc(100% - 130px) !important;
    }
    .pt_cart .cart-footer .rg-8-1-cart-coupon-code{
        position: relative;
        top: 0 !important;
        width: 100% !important;
    }
}
@media screen and (max-width: 991px){
    #cart-items-form > fieldset > div > div.rg-8-1-similar-container > div > div:nth-child(2){
        margin-left: 4px;
        margin-right: 4px;
    }
    #rg-8-1-quick-cart.similar-product--cart{
        font-size: 8px;
        bottom: 44px;
        padding: 0px 5px;

    }
    
    #rg-8-1-quick-size{
        bottom: 44px;
        
    }
    #cart-items-form > fieldset > div > div.rg-8-1-similar-container > div > div > p{
        text-align: center;
        margin-top: 6px;
        font-size: 9px;
    }

}

@media screen and (max-width: 439px){
    #prevSlideButton.prev-button-slider{
        display: inline-flex;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 59px;
        z-index: 1;
        background: transparent;
        border: none;
        margin: auto 0;

        &:focus{
            outline: none;
        }

    }
    #nextSlideButton.next-button-slider{
        display: flex;
        position: absolute;
        top: 0;
        z-index: 19;
        bottom: 0;
        right: calc(100% - 310px);
        /* left: 0; */
        background: transparent;
        border: none;
        margin: auto 0;
        &:focus{
            outline: none;
        }
    }
    #cart-items-form > fieldset > div > div.rg-8-1-similar-container{
        overflow: hidden;
        position: relative;
    }
    #cart-items-form > fieldset > div > div.rg-8-1-similar-container > .prod-wrapper{
        display: -webkit-box;
        // transform: translateX(-77px);
        transform: translateX(var(--tranX));
        --tranX: -124px;
        transition: all 0.5s ease-in-out;
    }
    // #cart-items-form > fieldset > div > div.rg-8-1-similar-container > div > div:nth-child(2){
    //     margin-left: 10px;
    //     margin-right: 10px;
    // }
    #rg-8-1-quick-size{
        width: 100%;
        border-radius: 4px;
        bottom: 38px;
    }
    #rg-8-1-quick-cart{
        bottom: 38px;
    }
    #rg-8-1-quick-size ul {
        justify-content: space-between;
    }
    #rg-8-1-quick-size ul li{
        margin: 4px;
        border: 1px solid grey;
        width: 60px;
    }
    // #prevSlideButton{
    //     display: flex;
    // }
    // #cart-items-form > fieldset > div > div.rg-8-1-similar-container .prev-button-slider{
    //     display: flex;
    // }
    #cart-items-form > fieldset > div > div.rg-8-1-similar-container .prod-wrapper .similar-product {
        margin-left: 20px;
        margin-right: 20px;
    }
    #cart-items-form > fieldset > div > div.rg-8-1-similar-container > div.product-indecator{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
    #cart-items-form > fieldset > div > div.rg-8-1-similar-container > div.product-indecator span{
        // padding: 0 10px;
        // border: 2px solid red($color: #000000);
        width: 20px;
        height:2px;
        background: #DEDEDE;
        border-radius: 2px;
        margin: 0 2px;
        transition: all 0.5s ease-in-out;
    }
    
}

// .pt_cart .rg-8-1-cart-coupon-code input{
//     width: auto
// }

// .pt_cart #update-cart{
//     width: auto;
// }

.bg-red-danger{
    background: #7C7C7C !important;
}
#prevSlideButton img{
    transform: rotate(180deg);
}
.rg-8-1-cart-coupon-code{
    position: relative;
    top: 72px;
}

@media(max-width: 1199px){
    .pt_cart .cart-footer .rg-8-1-cart-coupon-code input{
        width: 200px;
    }
}

@media(max-width: 1024px){
    .pt_cart .cart-footer .rg-8-1-cart-coupon-code input{
        width: 200px;
    }
    .pt_cart .cart-footer .rg-8-1-cart-coupon-code{
        position: relative;
        top: 2px;
        width: 46%;
    }
}



