@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
    .product-recommendations-wrapper:not(.#{$id}__rebuyRecomendations) {
        display: none;
    }
    .indiv-product .hp-title {
        margin-top: 0;
    }

    .#{$id}__rebuyRecomendations {
        .indiv-product-title-text {
            min-height: 40px;

            @include media-query(sm) {
                min-height: 59px;
            }
        }
    }
}