@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
  div.homepage-banner:not(.product_strip) {
    margin-top: 0;
  }
  .blog_head_aa {
    margin-top: 0px;
  }
  .bg-overlay {
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    z-index: 9999999999;
    opacity: 1;
    visibility: visible;

    @media screen and (max-width: 1023px) {
      background-color: #fff;
    }
  }

  .search_content .block-search {
    width: 100%;
    padding-left: 0;

    &.active {
      .block.block-content {
        display: block !important;
      }
    }

    .search-autocomplete {
      margin-top: 0;
    }

    @media screen and (max-width: 1023px) {
      margin: 0;
    }
  }

  .#{$id}__fakeSearchBar .block.block-content {
    @media screen and (max-width: 1023px) {
      display: none !important;
    }
  }

  .hide_content {
    opacity: 0;
  }

  .hide_content .overlay-contents {
    transform: translateY(-300px);
  }
  .#{$id}__modal:not(.hide_content) .overlay-contents {
    transform: translateY(0);

    label[for='minisearch-input-top-search'] {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 15px;
      overflow: unset;
      border: 0;
      clip: unset;
      height: max-content;
      margin: 0px;
      padding: 0;
      position: absolute;
      width: auto;

      &::before {
        content: '';
        background-image: url(https://www.luxuryflooringandfurnishings.co.uk/static/version1721728202/frontend/Ayko/lff/en_GB/images/search-icon.png);
        height: 25px;
        width: 25px;
        display: inline-block;
        background-repeat: no-repeat;
        background-size: 25px;
        background-position: center center;
      }
    }

    #minisearch-autocomplete-top-search {
      @media screen and (max-width: 767px) {
        margin-top: 0px;
        left: 0;
      }

      @media screen and (max-width: 480px) {
        height: 75dvh;
        overflow-y: overlay;
      }
    }
  }
  .overlay-contents {
    background: #ffffff;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999999999;
    transition: transform 0.5s ease-in-out;
  }
  .search_content {
    position: relative;
  }

  .search_content form #minisearch-input-top-search {
    height: 66px;
    border-top: 1px solid #000;
    border-bottom: 2px solid #000;
    background: #fff;
    padding-left: 55px;
    margin: 0;
    padding-right: 50px;
    position: static;
  }

  .block-search .control {
    @media screen and (max-width: 992px) {
      padding: 0;
    }
  }

  .custom_cross_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 40px;
    height: 40px;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 11;
    .custom_cross_btn {
    }
  }

  .custom_logo_div {
    display: flex;
    justify-content: center;
    padding: 5px 0 10px;
  }

  .custorm_logo {
    width: 80px;
    height: 60px;
  }

  .page-wrapper {
    .panel.wrapper {
      .widget.block-static-block {
        @media screen and (min-width: 1024px) {
          justify-content: flex-end;
          ul.left {
            display: none;
          }
        }
      }
    }

    .page-header .header.content {
      padding: 12px 40px 0 40px;
      .c-header__main__logo {
        @media screen and (min-width: 1024px) {
          order: 0;
          margin-left: 0;
        }
      }
      .header-usps-search {
        @media screen and (min-width: 1024px) {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 75%;
          order: 1;
          margin-left: 10px;

          & > .block-search {
            width: 45%;
            margin-top: 0;
            padding-top: 0;
            input {
              height: 45px !important;
              padding-left: 50px !important;
              border: none !important;
              background-color: #f4f4f4 !important;
            }

            button.action.search {
              &::before {
                color: #c1c1c1 !important;
                margin-left: 20px !important;
              }
            }
          }
        }
      }

      .#{$id}__widgetContainer {
        margin-left: 25px;
        .#{$id}__widgetBox {
          display: flex;
        }

        .#{$id}__uspsItem {
          display: flex;
          align-items: center;
          padding: 3px 0;

          .#{$id}__svg {
            svg {
              width: 30px;
              height: 22px;
            }
          }

          .#{$id}__image {
            width: 40px;
            height: 21px;
            margin-bottom: 4px;
          }

          .#{$id}__content {
            margin-left: 9px;
            color: #202020;
            .#{$id}__title {
              font-size: 12px;
              font-weight: 700;
              //line-height: 20px;
              line-height: 12px;
              @media screen and (max-width: 1150px) {
                //font-size: 10px;
              }
            }

            .#{$id}__subtitle {
              font-size: 11px;
              font-weight: 400;
              line-height: 19px;
              @media screen and (max-width: 1150px) {
                font-size: 11px;
                white-space: nowrap;
              }
            }
          }

          &:last-child {
            margin-left: 25px;
            @media screen and (max-width: 1150px) {
              margin-left: 10px;
            }
          }
        }

        @media screen and (max-width: 1023px) {
          display: none;
        }

        @media screen and (max-width: 1150px) {
          margin-left: 10px;
        }
      }

      .header-right {
        @media screen and (min-width: 1024px) {
          max-width: 212px;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-end;
          padding-top: 9px;
          order: 2;

          .icon-phone {
            display: none;
          }
          .minicart-wrapper {
            margin-top: 25px;
          }
        }
      }

      .minicart-wrapper .action.showcart {
        @media screen and (min-width: 1024px) {
          display: flex;
          align-items: center;
          .text {
            display: contents;
            text-transform: capitalize;
          }

          .counter.qty {
            position: static !important;
            padding-left: 3px;
          }

          &::before {
            width: 50px;
          }
        }
      }

      ul.links-wrapper {
        line-height: 17px;
      }

      @media screen and (max-width: 1150px) {
        padding: 12px 20px 0 20px;
      }
    }
  }
}
