@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
  .match-container {
    .match-list {
      & > [data-analytics-placement='topevent'] {
        .#{$id}__bettingWrapper {
          width: 108px;
          display: flex;
          justify-content: center;
          position: relative;
          padding-top: 2px;
          padding-bottom: 7px;
          z-index: 9999;
          cursor: pointer;

          svg {
            width: 40px;
            height: 40px;
          }

          @media screen and (max-width: 575.98px) {
            width: 63px;
            align-items: center;
            padding-bottom: 0;
            svg {
              width: 38px;
              height: 38px;
            }
          }
        }

        &:hover {
          .icn.icn-chevron-right {
            display: none;
          }
        }
      }
    }
  }

  .#{$id}__container {
    display: flex;

    .post-excerpt {
      flex-basis: auto !important;
      width: calc(100% - 108px) !important;
      padding-left: 0 !important;
      @media screen and (max-width: 575.98px) {
        width: calc(100% - 63px) !important;
      }
    }
  }
}
