@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
    &__hide,
    .header-share-buttons-wrapper,
    .custom-excerpt.mobile:after,
    .entry-content > ol,
    .entry-content>p:nth-of-type(1) {
        display: none;
    }

    .post-title-container.with-excerpt .author-details .author-with-reviewer-details:first-child {
        border-right: none;
    }

    .post-title-container.with-excerpt .author-details .editor_wrap {
        width: 100%;
    }

    &__postTitleContainer {
        @include media-query(xxl) {
            margin: 0 45px 30px 0;
        }
    }

    body.single .section.main-content {
        margin-top: 32px;
    }

    .post-title-container.wrapper {
        display: flex;
        margin-bottom: 30px;

        .wrapper {
            display: flex;
            flex-direction: column;

            
            .custom-excerpt:not(.mobile) {
                margin-top: 0;
            }

            .post-details-container {
                order: 1;
            }
        }

        .box.promo {
            margin-top: auto;
            margin-left: 50px;

            @include media-query(xxl) {
                margin-left: 0;
            }
        }
    }

    &__container {
        max-width: 100%;
        display: flex;
        flex-direction: column;

        @include media-query(md) {
            margin-top: 20px;
        }

        .#{$id}__tableHeader {
            margin-top: 0;
            margin-bottom: 24px;
            font-family: Arial;
            font-weight: 700;
            font-size: 24px;
            line-height: 1;
            color: #222222;
        }

        .#{$id}__card {
            display: flex;
            background: #fff;
            padding: 14px 16px;
            gap: 15px;
            border-bottom: 1px solid #222222;

            @include media-query(md) {
                padding: 16px;
            }
        }

        .#{$id}__card.#{$id}__cardMobile {
            display: block;
        }

        .#{$id}__card.highlighted {
            background: #FAFAFA;
            border: 2px solid #0177A5;

            .number {
                color: #006C9B;
                background: #fff;
                border: 1px solid #006C9B;
            }
        }

        .image-wrapper {
            display: flex;
            gap: 10px;
            height: max-content;
        }

        .number {
            height: 32px;
            width: 32px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: Arial;
            font-weight: 700;
            font-size: 15px;
            line-height: 1.2;
            color: #006C9B;
            background: #EAEAEA;
        }

        .logo {
            min-width: 140px;
            display: flex;
            justify-content: center;
            max-height: max-content;

            @include media-query(md) {
                display: none;
            }
        }

        .logo img,
        .logo-mobile img {
            width: 100px;
            height: 60px;
            object-fit: contain;
            border: 1px solid #CCCCCC;
        }

        .logo-mobile {
            display: none;

            @include media-query(md) {
                display: block;
                margin-left: 16px;
            }
        }

        .content-wrapper {
            width: 100%;
        }

        .content {
            display: flex;
            flex: 1;
            margin: 8px 0 0;

            @include media-query(md) {
                display: block;
            }
        }

        .title-box {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .title-text-link {
            font-family: Arial;
            font-weight: 700;
            font-size: 19.5px;
            line-height: 1.5;
            text-decoration: underline;
            color: #1A73E8;
        }

        .title-text {
            font-family: Arial;
            font-weight: 700;
            font-size: 19.5px;
            line-height: 1.5;
            color: #222222;
        }

        .editor-badge {
            padding: 4px 5px;
            font-weight: 700;
            font-size: 12px;
            line-height: 100%;
            letter-spacing: 1.2;
            text-transform: uppercase;
            background: #B30202;
            color: #fff;
            border-radius: 3px;
        }

        .content-details {
            margin: 0;
            max-width: 640px;
            display: flex;
            font-family: Arial;
            font-weight: 400;
            font-size: 15.5px;
            line-height: 1.5;
            color: #444444;

            @include media-query(xxl) {
                max-width: 500px;
            }

            @include media-query(xl) {
                max-width: 400px;
            }

            @include media-query(md) {
                max-width: 100%;
            }
        }

        .action-wrapper {
            display: flex;
            justify-content: space-between;
            flex: 1;

            @include media-query(md) {
                margin-top: 8px;
                align-items: center;
            }
        }

        .action-btn {
            height: 40px;
            margin-top: 4px;

            // @include media-query(md) {
            //     margin-top: 0;
            // }
        }

        .website-btn {
            padding: 10px 30px;
            border-radius: 3px;
            font-weight: 700;
            font-size: 17px;
            line-height: 1;
            text-align: center;
            text-decoration: none;
            background: #B30202;
            color: #fff;
            text-transform: uppercase;
        }

        .free-trial-wrapper {
            display: flex;
            justify-content: center;
            flex: 1;

            @include media-query(md) {
                justify-content: start;
            }
        }

        .free-trial-text {
            height: max-content;
            font-family: Arial;
            font-weight: 700;
            font-size: 15.5px;
            line-height: 1.3;
            text-align: center;
            text-decoration: underline;
            text-transform: capitalize;
            color: #1A73E8;
        }
    }
}