@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {

  &__hide {
    display: none;
  }

  .#{$id}__videoContainer {
    width: 480px;
    height: 742px;
    position: relative;
    margin-left: auto;

    video {
      position: absolute;
      top: 30px;
      right: -40px;
      border-radius: 250px;
      width: 450px;
      height: 627px;
      border: 15px solid transparent;
      object-fit: cover;
      outline: 1px solid #000;
    }

    &+img {
      display: none;
    }

    .#{$id}__soundController {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 90px;
      padding: 5px 9px;
      background: #fff;
      border-radius: 100px;
      left: 63%;
      top: 80%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      cursor: pointer;

      @media only screen and (max-width: 1023px) and (min-width: 768px) {
        top: 120%;
      }

      @include media-query(sm) {
        left: 50%;
        top: 87%;
      }

      .#{$id}__text {
        font-size: 8px;
        line-height: 10px;
        color: #626262;
        margin-left: 5px;
      }
    }

    .#{$id}__playButton {
      position: absolute;
      left: 63%;
      top: 45%;
      transform: translate(-50%, -50%);
      cursor: pointer;
      z-index: 99;

      svg {
        @include media-query(sm) {
          width: 37px;
          height: 37px;
        }
      }

      @media only screen and (max-width: 1023px) and (min-width: 768px) {
        top: 83%;
      }

      @include media-query(sm) {
        left: 50%;
        top: 50%;
      }
    }

    &.#{$id}__mobile {
      display: none;
    }

    @media only screen and (max-width: 1023px) and (min-width: 768px) {
      &.#{$id}__desktop {
        width: 320px;
        height: 403px;

        video {
          top: 130px;
          width: 320px;
          height: 403px;
        }
      }
    }

    @include media-query(sm) {
      &.#{$id}__mobile {
        display: inline-block;
        vertical-align: middle;
        width: 273px;
        height: 405px;
        margin: 25px 0 5px -15px;
        top: 0;

        video {
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          width: 273px;
          height: 405px;
        }
      }

      &.#{$id}__desktop {
        display: none;
      }
    }
  }

  &__volumnPillBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 8px 5px 9px;
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translate(-50%, -50%);
    border-radius: 100px;
    background: #fff;
    cursor: pointer;
    z-index: 99;

    &-text {
      margin-left: 2px;
      font-weight: 500;
      font-size: 8px;
      line-height: 10px;
      color: #626262;
    }

    &-icon {
      display: flex;
    }
  }

  .#{$id}__video::-webkit-media-controls {
    opacity: 0 !important;
  }

  .#{$id}__video::-webkit-media-controls-enclosure {
    opacity: 0 !important;
  }

  .#{$id}__video::-webkit-media-controls-panel {
    opacity: 0 !important;
  }

  .#{$id}__video::-webkit-media-controls-play-button {
    opacity: 0 !important;
  }
}