@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
  .#{$id}__videoActive {
    .#{$id}__video {
      width: 310px;

      @media screen and (max-width: 767px) {
        height: 340px;
      }
    }
  }
  .#{$id}__video {
    width: 378px;
    height: 378px;
    object-fit: cover;

    @media screen and (max-width: 768px) {
      height: 330px;
    }
  }
  .#{$id}__videoThumbnail {
    opacity: 1;
  }
}
