@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
  .#{$id}__casinoWrapper {
    .mui-t5yac0 {
      &.#{$id}__highlighted {
        .mui-nyuugy {
          border: 2px solid #feaf12;
          background: linear-gradient(0deg, #ffffff, #ffffff),
            linear-gradient(360deg, rgba(255, 255, 255, 0.2) 79.67%, rgba(255, 154, 0, 0.2) 117.02%);
          box-shadow: 0px 0px 4px 0px #ffae14;

          & > .mui-uzk0s {
            box-shadow: -2px -1px 5px 0px #ffae14;

            &::after {
              content: '';
              position: absolute;
              display: block;
              width: 5px;
              background: #0e812f;
              height: 7px;
              top: 0;
              left: 18px;
              box-shadow: 2px -2px 2px -1px #ffae14;
            }
          }
        }

        .#{$id}__ribbonWrapper {
          box-shadow: -1px -1px 4px 0px #ffae14;
          display: flex;
          position: absolute;
          top: -7px;
          left: -2px;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;

          .mui-uzk0s {
            position: static;
          }
        }
        .#{$id}__ribbonTag {
          position: static;
          //filter: drop-shadow(0px -1px 0.5px #ffae14);
          &::after {
            filter: drop-shadow(0px -1px 0.5px #ffae14);
          }
        }

        &[data-colored='true'] {
          .mui-nyuugy {
            border: 2px solid var(--set-bgColor);
            background: linear-gradient(0deg, #ffffff, #ffffff),
              linear-gradient(
                360deg,
                rgba(255, 255, 255, 0.2) 79.67%,
                rgba(255, 154, 0, 0.2) 117.02%
              );
            box-shadow: 0px 0px 4px 0px var(--set-bgColor);

            .#{$id}__ribbonWrapper {
              box-shadow: -1px -1px 4px 0px var(--set-bgColor);
            }
            .#{$id}__ribbonTag {
              position: static;
              //filter: drop-shadow(0px -1px 0.5px #ffae14);
              &::after {
                filter: drop-shadow(0px -1px 0.5px var(--set-bgColor));
              }
            }
          }
        }
      }

      .#{$id}__ribbonWrapper {
        & + img[alt='ribbon'] {
          display: none;
        }
      }

      .#{$id}__ribbonTag {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -7px;
        left: 22px;
        font-size: 12px;
        font-weight: 700;
        line-height: 14px;
        text-align: center;
        color: #fff;
        height: 30px;
        padding: 0 10px 0 6px;
        background-color: var(--set-bgColor);
        border-bottom-right-radius: 5px;
        &::after {
          content: '';
          position: absolute;
          top: 0px;
          right: -12px;
          border: 0 solid transparent;
          border-right-width: 12px;
          border-left-width: 0px;
          border-bottom: 5px solid var(--set-tinyColor);
        }
      }

      .mui-nyuugy {
        @media screen and (max-width: 567px) {
          padding: 24px 45px 24px;
          .mui-1wi8pyb {
            margin-top: 12px;
          }
          .mui-f14zgk {
            font-size: 16px;
            line-height: 1.2;
          }
        }

        @media screen and (max-width: 375px) {
          padding: 24px 25px 24px;
        }

        @media screen and (min-width: 992px) {
          padding: 24px 19px 16px 20px;

          .mui-1wi8pyb {
            margin-top: 10px;
          }
        }
      }
      .mui-uzk0s {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 23px;
        min-height: 30px;
        top: -7px;
        left: -1px;
        font-size: 12px;
        font-weight: 700;
        line-height: 14px;
        border-radius: 0;
        border-bottom-left-radius: 5px;
        background-color: #0e812f;
        color: #f2f2f2;
      }

      .mui-f14zgk {
        font-size: 16px;
        word-spacing: 0;
      }

      .mui-qqopv4 {
        @media screen and (min-width: 992px) {
          margin-left: 14px;
          max-width: 40%;
          flex-basis: 40%;
        }

        @media screen and (min-width: 1200px) {
          max-width: 40%;
          flex-basis: 40%;
        }

        @media screen and (max-width: 567px) {
          margin-bottom: 36px;
          padding-left: 0;
        }
      }

      .mui-1xqlz4u {
        @media screen and (min-width: 992px) {
          justify-content: flex-start;
        }

        @media screen and (max-width: 567px) {
          margin-bottom: 36px;
        }
      }

      .mui-1k04mn {
        align-items: flex-start;
        flex-wrap: nowrap;

        @media screen and (max-width: 991px) {
          flex-wrap: wrap;
        }
      }

      .mui-jcipg8 {
        flex-wrap: nowrap;
        .#{$id}__bonusElement {
          max-width: 100%;
          margin-top: 0;
          margin-left: 25px;

          & + div {
            @media screen and (min-width: 992px) {
              display: none;
            }
          }

          @media screen and (max-width: 991px) {
            display: none;
          }
        }

        @media screen and (max-width: 991px) {
          & > div {
            margin-bottom: 0;
          }
        }
      }

      .#{$id}__depositeWrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        box-sizing: border-box;
        margin-left: 8px;

        & > .MuiGrid-root {
          max-width: 100%;
          margin-top: 0;

          @media screen and (max-width: 991px) {
            margin-top: 0;
          }
        }

        .#{$id}__bonusElement {
          display: none;

          @media screen and (max-width: 991px) {
            display: block;
          }
        }

        .#{$id}__depositeContainer {
          margin-top: 8px;

          @media screen and (max-width: 991px) {
            margin-top: 0px;
          }

          @media screen and (max-width: 567px) {
            margin-top: 0px;
          }
        }

        .#{$id}__minimumDeposit {
          word-spacing: 0px;
        }

        @media screen and (max-width: 991px) {
          flex-direction: row;
          margin-left: 0;
          margin-top: 24px;

          & > div:first-child {
            display: none;
          }
        }
      }

      .mui-1ckvxhl {
        @media screen and (min-width: 992px) {
          font-size: 10px;
        }
      }

      .mui-1sawerp {
        margin-top: 0;
        @media screen and (max-width: 991px) {
          margin-top: 16px;
        }

        @media screen and (max-width: 567px) {
          margin-top: 0px;
        }
      }
      // .outButton[data-click-target='Toplist General'] {
      //   // border: 3px solid;
      //   // border-radius: 6px;
      //   // background: linear-gradient(85deg, #0e832f -15.44%, #0c762a 117.59%);

      //   border: solid 3px transparent;
      //   border-radius: 6px;
      //   background: linear-gradient(#0e832f, #0c762a) padding-box,
      //     linear-gradient(90deg, #1fc14c, #1d5c2f) border-box;
      //   box-shadow: none;
      //   .mui-aw3xrg {
      //     font-weight: 700;
      //     & + span {
      //       display: none;
      //     }

      //     @media screen and (max-width: 567px) {
      //       font-size: 14px;
      //       line-height: 17px;
      //     }

      //     @media screen and (max-width: 375px) {
      //       font-size: 12px;
      //     }
      //   }

      //   .#{$id}__imageWrapper {
      //     width: 62px;
      //     height: 31px;
      //     margin: 0 auto;
      //     @media screen and (max-width: 567px) {
      //       width: 98px;
      //       height: 49px;
      //       margin: 0 0 0 5px;
      //     }
      //   }

      //   @media screen and (min-width: 992px) {
      //     height: 63px;
      //   }

      //   @media screen and (max-width: 567px) {
      //     flex-direction: row;
      //     align-items: center;
      //     justify-content: center;
      //     height: 60px;
      //   }
      // }
    }
  }
}
