/* stylelint-disable font-family-no-missing-generic-family-keyword */
@import './variables';
@import './lib/shared/shared';

body:not(.sno345__update-image-slider) {
    opacity: 0;
}

body.sno345__update-image-slider {
    opacity: 1;
}

.product-gallery__main .product-slideshow__details {
    display: none;
}


.product-description.hidden-pocket{
    margin-top: 24px;
}

.#{$id} {
    &__modal-main-wrapper .product-gallery__container {
        display: flex;
    }

    &__hide {
        display: none !important;
    }

    &__overflow {
        overflow-y: hidden !important;
    }

    &__show {
        display: block !important;
    }

    &__visible {
        visibility: visible !important;
    }

    &__modal-main-wrapper {
        position: fixed;
        top: 0;
        z-index: 2000;
        width: 100%;
        height: auto;
        margin: auto;
        margin-right: 14px;
        overflow: scroll;
        background-color: #FFF;
        visibility: hidden;

        & .product-gallery__main {
            width: 100% !important;
            height: unset !important;
        }

        /* stylelint-disable-next-line no-duplicate-selectors */
        & .product-gallery__container {
            height: 100vh;
        }

        & .product-gallery__thumbs {
            display: block !important;
        }

        & .product-gallery-main-wrapper .swiper-container{
            overflow-x: hidden;
        }
    }
    

    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        display: none;
        width: 100%;
        height: 100%;
        background: white;
        visibility: hidden;
        transition: all 0.3s;
    }

    &__close {
        position: absolute;
        top: 0;
        right: 0;
        padding: 14px;
        cursor: pointer;
    }

    &__product-gallery-wrapper:not(:first-child) {
        display: none;
    }

    &__product-gallery-main-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100% !important;
        margin: 0 60px 0 50px;
        padding-top: 55px;
    }

    &__product-gallery-container-top {
        display: flex;
        flex-direction: row;
        margin-bottom: 16px;

    }

    &__product-gallery-container-bottom {
        display: flex;
        flex-direction: row;
    }

    &__product-image-wrapper {
        position: relative;
        cursor: pointer;
    }

    &__product-title-wrapper {
        position: absolute;
        right: 8px;
        bottom: 6px;
        background-color: #ECECEC;
        border-radius: 26px;
    }

    &__btn-active {
        box-shadow: 0 8px 15px rgb(0 0 0 / 10%);
    }

    &__product-slideshow__title {
        display: inline-block;
        padding: 8px;
        padding-right: 32px;
        color: #000F76 !important;
        font-size: 12px;
        text-align: center;
        @include mediaQuery(lg) {
            font-size: 10px;
        }
        @include mediaQuery(md) {
            font-size: 8px;
            line-height: 12px;
        }
    }

    &__product-gallery-wrapper:not(:last-child) {
        margin-bottom: 16px;
    }
    
    &__product-gallery-container-bottom>div {
        width: 33%;
    }

    &__product-gallery-container-bottom>div:not(:last-child) {
        margin-right: 16px;
    }

    &__product-gallery-container-top>div {
        width: 50%;
    }

    &__product-gallery-container-top>div:not(:last-child) {
        margin-right: 16px;
    }
    
    &__product-slideshow__action {
        position: absolute;
        top: 50%;
        right: 8px;
        display: flex;
        height: 16px;
        transform: translateY(-50%);
    }

    &__product-slideshow__tooltip {
        position: absolute;
        bottom: 48px;
        left: 50%;
        width: 95%;
        padding: 8px 16px;
        background: #f7f7f7;
        border-radius: 2px;
        box-shadow: 0 8px 32px #9696964d;
        transform: translateX(-50%);
        transition: opacity .3s ease-in;
        @include mediaQuery(lg){
            padding: 8px;
                
            }
        
    }

    &__product-slideshow__tooltip p {
        font-size: 12px;
        @include mediaQuery(lg){
        font-size: 8px;
            
        }
    }

    &__product-slideshow__tooltip::after {
        position: absolute;
        right: 0;
        bottom: -8px;
        color: hsl(270deg 60% 50% / 15%) ;
        border-color: #f7f7f7 hsla(0deg 0% 100% / 0%);
        border-style: solid;
        border-width: 16px 16px 0;
        content: "";
    }

    &__view-more-container {
        display: flex;
        width: max-content;
        margin: 0 auto;
        margin-bottom: 9px;
        padding: 12px 35px;
        background: #ECECEC;
        border: 1px solid #ECECEC;
        box-shadow: 0 8px 24px rgb(236 236 236 / 36%);
    }

    &__view-more-btn {
        color: #1C1C1C;
        font-weight: 500;
        font-size: 13px;
        font-family: 'Gordita Medium';
        line-height: 13px;
        text-align: center;
    }

    &__modal-main-wrapper .swiper-button-prev::after {
        content: url("data:image/svg+xml,%3Csvg width='54' height='54' viewBox='0 0 54 54' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d_1047_2623)'%3E%3Ccircle cx='27' cy='26' r='19' transform='rotate(-180 27 26)' fill='white'/%3E%3C/g%3E%3Cpath d='M20.4756 26.4869L29.3785 35.1936L31.1591 33.4522L24.0368 26.4869L31.1591 19.5216L29.3785 17.7803L20.4756 26.4869Z' fill='%231C1C1C'/%3E%3Cdefs%3E%3Cfilter id='filter0_d_1047_2623' x='0' y='0' width='54' height='54' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='1'/%3E%3CfeGaussianBlur stdDeviation='4'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_1047_2623'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_1047_2623' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
    }

    &__modal-main-wrapper .swiper-button-next::after {
        content: url("data:image/svg+xml,%3Csvg width='54' height='54' viewBox='0 0 54 54' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d_1047_2619)'%3E%3Ccircle cx='27' cy='26' r='19' fill='white'/%3E%3C/g%3E%3Cpath d='M33.5244 25.5131L24.6215 16.8064L22.8409 18.5478L29.9632 25.5131L22.8409 32.4784L24.6215 34.2197L33.5244 25.5131Z' fill='%231C1C1C'/%3E%3Cdefs%3E%3Cfilter id='filter0_d_1047_2619' x='0' y='0' width='54' height='54' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='1'/%3E%3CfeGaussianBlur stdDeviation='4'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_1047_2619'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_1047_2619' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
    }

    &__modal-main-wrapper .product-gallery-main-wrapper {
        width: 78% !important;
        height: 100% !important;
        margin: 0 auto;
        margin-left: 75px;
    }

    &__modal-main-wrapper .product-gallery__thumbs .swiper-slide:not(.swiper-slide-thumb-active) {
        opacity: 0.5;
    }

    &__cover {
        opacity: 0;
    }

    &__modal-main-wrapper .product-gallery__main.swiper-container{
        padding-bottom: 60px;
    }

    &__modal-main-wrapper .product-gallery__thumbs .swiper-slide{
        @include mediaQuery(md){
            width: 70px!important;
            height: 70px!important;
        }
    }

    &__modal-main-wrapper .product-gallery__thumbs .swiper-slide:not(:last-child){
        @include mediaQuery(md){
            margin-bottom: 10px;
        }
    }

}