@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
  .tooltip-wrapper {
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-left: 5px;
    vertical-align: middle;

    &.touch-active {
      .tooltip-text {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
      }
    }
  }

  #ouibounce-modal {
    .tooltip-wrapper {
      transform: translateY(0px);
    }
  }

  .tooltip-wrapper:focus {
    outline: none;
  }

  .tooltip-icon {
    font-weight: bold;
    border: 1px solid #000;
    border-radius: 50%;
    font-size: 12px;
    background-color: #fff;
    line-height: 1;
    display: flex !important;
    width: 20px;
    height: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .tooltip-text {
    display: flex;
    position: absolute;
    bottom: 130%; /* instead of bottom */
    left: 50%;
    transform: translateX(-45%);
    background-color: #fff;
    color: #0f1111;
    padding: 10px;
    border-radius: 5px;
    width: 230px;
    font-size: 14px;
    white-space: normal;
    text-align: left;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 1000;
    border: 1px solid #bbbfbf;
    border-color: #bbbfbf;
    box-shadow: 0 2px 5px rgba(15, 17, 17, 0.15);

    svg {
      width: 12px;
      height: 12px;
      flex-shrink: 0;
    }

    @media screen and (max-width: 767px) {
      transform: translateX(-50%);
    }

    @media screen and (max-width: 580px) {
      left: -70px;
    }

    @media screen and (max-width: 480px) {
      left: 115px;
    }

    @media screen and (max-width: 370px) {
      left: 30px;
    }

    @media screen and (max-width: 350px) {
      left: -30px;
    }
  }

  .tooltip-text::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-16px);
    border-width: 6px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
    @media screen and (max-width: 767px) {
      transform: translateX(-50%);
    }

    @media screen and (max-width: 580px) {
      left: 195px;
    }

    @media screen and (max-width: 480px) {
      left: 11px;
    }

    @media screen and (max-width: 370px) {
      left: 95px;
    }

    @media screen and (max-width: 350px) {
      left: 155px;
    }
  }

  /* Show tooltip on hover, focus, or touch */
  // .tooltip-wrapper:hover .tooltip-text,
  // .tooltip-wrapper:focus .tooltip-text,
  // .tooltip-wrapper.touch-active .tooltip-text {
  //   @media screen and (min-width: 768px) {
  //     opacity: 1;
  //     visibility: visible;
  //     pointer-events: auto;
  //   }
  // }

  .#{$id}__text {
    font-size: 14px !important;
    font-style: italic;
    margin: 10px 0 !important;
    padding: 0 !important;
    color: #000 !important;
  }
}
