@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
  .header-return {
    display: none !important;
  }

  .FE-Form-Validator__step2 .fe-progress-bar {
    background: linear-gradient(90deg, #0891B2 50%, #0891B2 50%) !important;
  }

  .sales-form-wrapper,
  .sales-form-title {

    background-color: #fff !important;
  }

  &__techConnectContainer {
    padding: 0px 48px 0;

    @media screen and (max-width: 1023px) {
      & {
        padding: 17px 17px;
      }
    }

    &+.fe-static-page-content {
      display: none;
    }

    .#{$id}__title {
      margin: 64px 0 24px 0;
      font-size: 56px;
      font-weight: 700;
      // font-family: Degular;
      line-height: 67px;
      color: #111827;

      @include media-query(lg) {
        margin: 40px 0 16px 0;
        font-size: 30px;
        line-height: 34px;
      }
    }

    .#{$id}__subTitle {
      margin: 0 0 48px 0;
      color: #0f172a;
      font-size: 24px;
      font-weight: 400;
      line-height: 32px;

      @include media-query(lg) {
        margin: 0 0 32px 0;
        font-size: 20px;
        line-height: 22px;
      }
    }

    .#{$id}__lists {
      padding: 0;
      margin: 0 0 48px 0;
      display: flex;
      flex-direction: column;
      gap: 40px;
      list-style-type: none;

      @include media-query(lg) {
        gap: 12px;
      }

      .#{$id}__item {
        display: flex;
        align-items: center;
        max-width: 580px;
        gap: 24px;

        .#{$id}__itemText {
          color: #111827;
          font-size: 24px;
          font-style: normal;
          font-weight: 600;
          line-height: 32px;

          @include media-query(lg) {
            font-size: 18px;
            line-height: 22px;
          }
        }

        .#{$id}__itemIcon {
          width: 104px;
          height: 82px;

          @include media-query(lg) {
            width: 70px;
            height: 64px;

            svg {
              width: 70px;
              height: 64px;
            }
          }
        }
      }
    }

    .#{$id}__contactUs {
      width: 100%;
      max-width: 587px;
      margin-bottom: 48px;

      @include media-query(lg) {
        margin-bottom: 0px;
      }

      .#{$id}__contactUsTitle {
        color: #0f172a;
        font-size: 24px;
        font-style: italic;
        font-weight: 400;
        line-height: 33px;

        .#{$id}__bold {
          font-weight: 700;
        }

        @include media-query(lg) {
          font-size: 16px;
          line-height: 24px;

        }
      }
    }
  }

  &__salesForm {
    max-width: 512px;
    margin-top: 96px !important;
    padding: 32px 48px 24px !important;
    background: #F4F4F5;
    border-radius: 8px;

    @include media-query(lg) {
      margin: 24px auto 24px !important;
      padding: 36px 16px 16px !important;
    }

    .bm_form_heading {
      margin: 0 auto 16px;

      @include media-query(lg) {
        margin: 0 auto 0;
      }

      p {
        margin: 0 auto 24px;
        color: #18181B;
        text-align: center;
        font-size: 30px;
        font-weight: 700;
        line-height: 36px;

        @include media-query(lg) {
        margin: 0 auto 16px;
          font-size: 24px;
          line-height: 28px;
        }
      }

      .fe-progress-bar {
        width: 88%;
        border: 2px solid #0891B2;
        background: #ECFEFF;

        span {
          display: none;
        }
      }

      .#{$id}__progressCounter {
        margin-top: 4px;
        color: #18181B;
        font-size: 14px;
        text-align: center;
        font-weight: 500;
        line-height: 21px;
      }

      .fe-progress-bar.fe-step1-complete {
        background: linear-gradient(90deg, #0891B2 50%, #ECFEFF 50%);
      }
    }

    .mktoForm {
      padding-top: 16px;

      .iti * {
        border-radius: 24px 0 0 24px !important;
      }

      #fe-form-question {
        h3 {
          color: #111827;
          text-align: center;
          font-size: 20px;
          font-weight: 600 !important;
          line-height: 30px;

          @include media-query(lg) {
            margin: 0;
            font-size: 18px;
            line-height: 24px;
          }
        }
      }

      #fe-form-answers {
        margin: 32px auto 40px !important;
        width: 100% !important;
        display: flex;
        flex-direction: column;
        gap: 16px;

        @include media-query(lg) {
          margin: 16px auto !important;
          gap: 12px;
        }

        button.fe-answer-btn {
          margin-bottom: 0 !important;

          label {
            padding: 12px 24px !important;
            border-radius: 24px;
            border: 1px solid #D4D4D8;
          }
        }
      }

      .fe-next-button {
        margin-top: 0 !important;
        text-align: center;

        button {
          width: 260px;
          color: #FFF;
          font-weight: 700;
          font-size: 16px;
          line-height: 24px;
          text-align: center;
          border-radius: 50px;
          background: #0E7490;
        }
      }

      .mktoButtonWrap {
        display: flex;
        justify-content: center;

        .multi-step-step1-btn {
          width: 260px !important;
          color: #FFF;
          font-weight: 700;
          font-size: 16px !important;
          line-height: 24px;
          text-align: center;
          border-radius: 50px;
          background: #0E7490 !important;
        }
      }
    }

    form.mktoForm {
      // .mktoFormRow.fe_show {
      //   display: flex !important;
      //   flex-direction: column !important;
      // }

      // .mktoFormRow:nth-of-type(3) .mktoFormCol {
      //   width: 100% !important;
      // }

      .mktoFormRow {

        input {
          padding: 12px 24px !important;
          border-radius: 24px !important;
          border: 1px solid #D4D4D8 !important;
          box-shadow: none !important;
        }

        .mktoFieldDescriptor {
          .iti--allow-dropdown {
            width: 100% !important;
          }

          ul.iti__country-list {
            width: 450px !important;
            border-radius: 0 !important;
            overflow-x: hidden !important;
          }
        }
      }
    }

    .bm_formCta {
      float: none !important;
      display: flex;
      justify-content: center;
      margin-top: 24px;
      text-align: center;
      color: #111827;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      text-decoration-line: underline;
    }
  }

  .#{$id}__logoSection {
    background-image: none;

    .logo-color {
      background-color: #ecfeff;

      .bmsection-content {
        padding-top: 48px !important;
        color: #2b2927;
        text-align: center;
        font-size: 32px;
        font-weight: 700;
        line-height: 48px;

        @include media-query(lg) {
          padding-top: 28px !important;
          font-size: 20px;
          line-height: 28px;
        }
      }
    }

    .logos {
      gap: 40px;
      justify-content: center;
      
      .logo {
        padding: 0 !important;
        width: 104px;
        height: 104px;
        display: flex;
        align-items: center;
  
        img {
          width: 100%;
        }
      }

      .logo:nth-child(2) {
        width: 56px;
        height: 56px;
  
        img {
          width: 100%;
        }
      }
    }
  }

  .#{$id}__weKnowSection {
    padding: 72px 0;
    background: #fafafa;

    @include media-query(lg) {
      padding: 50px 0;
    }

    .bm_know_tech_section {
      .bm_know_heading {
        color: #18181b;
        font-size: 40px;
        font-weight: 700;
        line-height: 48px;

        @include media-query(lg) {
          font-size: 24px;
          line-height: 28px;
        }
      }

      .bm_knowtech_para {
        margin: 24px 0 0;
        color: #18181b;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;

        @include media-query(lg) {
          font-size: 18px;
          line-height: 24px;
        }
      }

      .bm_knowtech_content {
        padding-bottom: 0;
      }

      .color-content {
        display: none;
      }

      .bm_tech_position_text {
        display: none;
      }
    }
  }

  &__bmTechSection {
    padding: 80px 0;
    background: #fff;

    @include media-query(lg) {
      padding: 50px 0;
    }

    .bm_tech_position_text {

      .bm_position_para {
        margin: 32px 0 24px !important;
        color: #18181B;
        text-align: center;
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;

        @include media-query(lg) {
          margin: 16px 0 16px !important;
          font-size: 24px;
          line-height: 28px;
        }
      }
    }
  }

  .#{$id}__footerSection {
    background: #fafafa;
    border-top: none;

    .bm_fotter_section {
      display: flex;
      flex-direction: column;
      padding-top: 80px;
      padding-bottom: 80px;

      @include media-query(lg) {
        padding-top: 50px;
        padding-bottom: 50px;
      }

      .dots.bm_dots {
        display: none;
      }

      .bm_fotter_text {
        color: #18181b;
        text-align: center;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 58px;
        margin-bottom: 48px;

        @include media-query(lg) {
          font-size: 28px;
          line-height: 32px;
          margin-bottom: 24px;
        }
      }

      .fotter_contact_btn {
        width: 200px;
        height: auto;
        margin: 0;
        padding: 12px 0;
        border-radius: 50px;
        background: #0e7490;
        color: #fff;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
      }
    }
  }
}