@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
  .icon-lists-product:not(.#{$id}__uspsWrapper) {
    display: none;
  }

  .#{$id}__description {
    border-radius: 5px;
    .description-container {
      position: relative;
      //border: 1px solid;
      border-radius: 5px;
      //   border-image-source: linear-gradient(90deg, #fd03c2 0%, #8605ff 100%);
      //   border-image-slice: 1;
      //   background-color: #f9f0f7;
      padding: 11px 18px;
      overflow: hidden;

      @media screen and (max-width: 767px) {
        padding: 13px 11px 13px 18px;
      }
      p {
        font-family: Poppins;
        font-weight: 600;
        font-size: 16px;
        line-height: 1.2;
        color: #181818;
        @media screen and (max-width: 767px) {
          font-size: 14px;
        }
      }

      &::before {
        content: '';
        position: absolute;
        inset: 0;
        padding: 1px; /* border thickness */
        border-radius: inherit;
        background: linear-gradient(90deg, #fd03c2 0%, #8605ff 100%);
        -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
      }
    }
  }

  &-2 {
    .#{$id}__description {
      border-radius: 5px;
      .description-container {
        position: relative;
        border-radius: 5px;
        background-color: #f9f0f7;
        padding: 20px 25px 20px 18px;
        overflow: hidden;

        @media screen and (max-width: 767px) {
          padding: 19px 12px 18px 13px;
        }
        p {
          font-family: Poppins;
          font-weight: 400;
          font-size: 16px;
          line-height: 1.2;
          color: #181818;
          margin: 0 0 8px;
          @media screen and (max-width: 767px) {
            font-size: 14px;
          }
        }

        .description-info {
          display: flex;
          align-items: center;
          gap: 20px;

          span:first-child {
            font-family: Poppins;
            font-weight: 600;
            font-size: 16px;
            line-height: 100%;
            color: #181818;
            @media screen and (max-width: 767px) {
              font-size: 14px;
            }
          }

          span:last-child {
          }
        }

        &::before {
          content: '';
          position: absolute;
          inset: 0;
          padding: 1px; /* border thickness */
          border-radius: inherit;
          background: linear-gradient(90deg, #fd03c2 0%, #8605ff 100%);
          -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
          -webkit-mask-composite: xor;
          mask-composite: exclude;
        }
      }
    }
  }
}
