@import './variables';
@import '../src/lib/shared/shared.scss';

body {
  //EXAMPLE ONE 
  .product__info-container{
    & .product-form__input-variants{
        & .product-form__input-variant{
            border: solid 2px transparent;
            transition: border-color 0.15s ease 0s;

            @media (max-width:749px) {
              &{
                border: unset;
                transition: unset;
                & span.form__label-image{
                  width:75px;
                  height: 75px;
                  border: solid 2px #DDDDDD;
                  border-radius: 50%;
                  transition: border-color 0.15s ease 0s;
                  overflow: hidden;
                  & img{
                      margin: 2px;
                  }
                }
              }
             
            }

            &.active{
                border-color: red;
                @media (max-width:749px) {
                  &{
                    border-color: unset;             
                      & span.form__label-image{
                          border-color:#002750;
                      }
      
                      & span.form__label-title{
                          color:#002750;
                      }                
                  }               
                }

                & span.form__label-title{
                    color:red;
                    @media (max-width:749px) {
                      color: #002750;
                    }
                }
            }
        }    
    }
  } 
}