@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
  .site-navigation {
    @media screen and (min-width: 1024px) {
      .navmenu-item.navmenu-id-sale {
        display: flex !important;
        align-items: center;
        padding-left: 15px;

        .navmenu-link {
          font-size: 15px;
          font-weight: 500;
          line-height: 18px;
          text-align: center;
          background: #d70102;
          color: #fff;
          padding: 2px 6px;
        }
      }
    }
  }
}
