@import './variables';
@import '../src/lib/shared/shared';

.#{$id} {
  #siteHeader {
    & .p-header-actions-item-inner {
      & .p-header-actions-icon--search {
        & .p-header-actions-icon-default {
          display: none;
        }
      }
    }

    & .#{$id}__searchBarHero {
      width: 100%;
      padding: 18px 24px;
      background: #181818;

      & .#{$id}__searchBarContainer {
        position: relative;
        width: 100%;

        & span {
          margin-top: 0;

          & svg {
            fill: #000;
          }
        }

        & input {
          width: 100%;
          margin: 0;
          padding: 0.6875rem 3rem 0.875rem;
          color: #181818;
          font-weight: 400;
          font-size: 1rem;
          background: #fff;
          background-clip: padding-box;
          border: none;
          border-radius: 0;
          outline: 0;
          transition: border-color 0.15s;
          appearance: none;

          &::placeholder {
            color: #747474;
            font-weight: 500;
            font-size: 12px;
            line-height: 20px;
            letter-spacing: 0.56px;
            text-transform: uppercase;
          }

          &[type='search']::-ms-clear {
            display: none;
            width: 0;
            height: 0;
          }

          &[type='search']::-ms-reveal {
            display: none;
            width: 0;
            height: 0;
          }

          &[type='search']::-webkit-search-decoration,
          &[type='search']::-webkit-search-cancel-button,
          &[type='search']::-webkit-search-results-button,
          &[type='search']::-webkit-search-results-decoration {
            display: none;
          }
        }
      }
    }
  }
}
