@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
    &__beforeAfterSection {
        background-color: #000;
    }

    &__beforeAfterCta {
        padding-bottom: 60px;
        background-color: #000;

        @include media-query(sm) {
            padding-bottom: 30px;
        }
    }

    &__livesChangeCountWrapper {
        width: 100%;
        padding: 16px 0 8px;
        background-color: #000;
    }

    &__livesChangeCount {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        width: 248px;
        padding: 6px 12px;
        color: #FF9900;
        background: #1C1C1C;
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0.67px;
        border-radius: 41px;
    }
}