@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
    &__hide {
        display: none !important;
    }

    &__addToCart {
        margin-bottom: 0 !important;
    }

    &__usps {
        margin: 18px 0 12px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include media-query(sm) {
            justify-content: center;
            align-items: flex-start;
        }

        .usp {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 4px;
        }

        .usp-icon {
            display: block;
            height: 60px;
            width: 60px;

            svg {
                height: 100%;
                width: 100%;
            }

            @include media-query(sm) {
                height: 50px;
                width: 50px;
            }
        }

        .usp-title {
            font-family: "Abril Fatface", serif;
            font-weight: 400;
            font-size: 11px;
            line-height: 15px;
            font-style: normal;
            color: #000 !important;
            text-align: center;
            
            @include media-query(sm) {
                min-width: 88px;
            }
        }
    }
}