@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
  &__bettingNumber {
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 24px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 12px;
    border-bottom-right-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
    background-color: #ffffff;
    color: #141414;
  }

  &__bettingCard {
    border-radius: 16px;
    .mui-1tvzmmu {
      border-bottom-right-radius: 16px;
      border-bottom-left-radius: 16px;
      & > div:not(.#{$id}__overlayWrapper) {
        @media screen and (max-width: 1080px) {
          grid-template: 1fr auto auto / 1fr;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          padding: 16px 16px 16px;
          gap: 0;
        }
      }
    }

    &:has(.#{$id}__promoCodeWrapper) {
      .mui-1tvzmmu {
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
      }
    }

    .MuiBox-root.mui-12j22j8 {
      display: none;
    }

    [data-type='logo'] {
      z-index: 2;
    }

    .mui-1pwqust {
      bottom: 16px;

      @media screen and (max-width: 1080px) {
        position: static;
        justify-content: flex-end;
      }
    }

    .#{$id}__promoCodeWrapper {
      border-top: 0;
      border-radius: 16px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;

      @media screen and (max-width: 899px) {
        flex-direction: row;
        align-items: center;
      }

      @media screen and (max-width: 375px) {
        flex-direction: column;
      }
    }
    .#{$id}__reviewContainer {
      display: flex;
      min-width: max-content;
      max-width: max-content;
      padding: 0;
      border: 0;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.2;
      letter-spacing: 0.17px;
      text-transform: capitalize;
      z-index: 2;

      @media screen and (max-width: 1080px) {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 5px;
      }

      &:hover {
        -webkit-text-decoration: none;
        text-decoration: none;
        background-color: unset;
        color: #fff;
        border: none;
      }

      span[role='img'] {
        padding-left: 8px;

        @media screen and (max-width: 1080px) {
          padding-top: 8px;
          padding-left: 0;
        }
      }
    }

    a[data-type='button'] {
      min-width: 130px;
      max-width: 130px;

      @media screen and (max-width: 1080px) {
        min-width: 100%;
        max-width: 100%;
      }
    }

    .mui-rpu3p3 {
      z-index: 12;
      @media (min-width: 1081px) {
        grid-template: 1fr auto/1fr 130px;
        padding: 20px 16px 16px;

        .mui-145n6gp {
          min-width: max-content;
        }
      }

      .mui-145n6gp {
        @media screen and (max-width: 1080px) {
          grid-column: 1 / -1;
          padding: 12px 0 8px;
        }
      }
    }

    .mui-1tvzmmu {
      position: relative;
      @media screen and (min-width: 1081px) {
        grid-template: 170px / 180px 1fr;
      }

      @media screen and (max-width: 1080px) {
        grid-template: 92px 1fr / 1fr;
      }
    }

    a[data-type='logo'] {
      @media screen and (max-width: 899px) {
        display: flex;
        align-items: center;
      }
    }

    .#{$id}__overlay {
      position: absolute;
      display: block;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
      background: linear-gradient(to right, transparent 10%, #262626 35%);

      @media screen and (max-width: 1080px) {
        background: linear-gradient(to bottom, transparent 13%, #262626 40%);
      }

      img {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        color: transparent;
        object-fit: cover;
        object-position: top right;
        max-height: 500px;
        opacity: 0.7;
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
        transform: rotateY(180deg);
        z-index: 0;
      }
    }
    .mui-kh8xvn {
      @media screen and (max-width: 899px) {
        height: 30px;
      }
    }
  }

  .mui-cucwis {
    align-items: flex-start;
    text-align: left;
    p {
      font-weight: 400;
      font-size: 12px;
      line-height: 150%;
      color: #aaaaaa;
    }

    span {
      font-weight: 600;
      //font-size: 20px;
      font-size: 18px;
      line-height: 130%;
      letter-spacing: 0%;
      text-align: left;
      vertical-align: middle;
    }
  }

  &__bettingInfoContainer {
    font-family: '__Poppins_2dbf9b', '__Poppins_Fallback_2dbf9b', Arial, sans-serif;
  }

  &__bettingInfo {
    display: flex;
    align-items: center;
    height: 100%;

    @media screen and (max-width: 1080px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__bettingInfoAdditional {
    padding-left: 16px;
    @media screen and (max-width: 1080px) {
      width: 100%;
      padding-top: 16px;
      padding-left: 0;
    }
  }
  &__additionalInfoWrapper {
    display: flex;
  }
  &__perk-container {
    display: flex;
    flex-direction: column;
    max-width: 70px;
    min-width: 70px;
    width: 100%;
    background: #ffffff0a;
    border-radius: 12px;
    padding: 8px;

    &:nth-child(2) {
      margin: 0 4px;

      @media screen and (max-width: 1080px) {
        margin: 0 8px;
      }
    }
    .value {
      font-weight: 600;
      font-size: 16px;
      line-height: 1.2;
      text-align: center;
      vertical-align: middle;
      color: #fff;
      padding-bottom: 6px;
    }

    .title {
      font-weight: 400;
      font-size: 10px;
      line-height: 1.2;
      text-align: center;
      vertical-align: middle;
      color: #fff;
    }

    @media screen and (max-width: 1080px) {
      max-width: calc(100% / 3);
      width: calc(100% / 3);
    }
  }

  .mui-1bslr8e {
    @media screen and (min-width: 900px) {
      text-align: center;
    }
  }
}
