@import './variables';
@import '../src/lib/shared/shared';

body {
  .product-page__content {
    .product-details {
      overflow: hidden;

      .#{$id}__Swiper {
        margin-top: 25px;

        & .swiper-slide {
          line-height: 13px;
          text-align: center;
          cursor: pointer;

          & div {
            margin-bottom: 5px;
          }

          & span {
            font-size: 13px;
          }
        }

        .swiper-button-prev {
          left: 0;
          background: #fff;
          border-radius: 50%;
          width: 2rem;
          height: 2rem;
          background-color: #fff;
          box-shadow: 0 4px 16px 1px rgb(0 0 0 / 20%);
          margin-top: calc(0px - (var(--swiper-navigation-size) / 1.7));
          @media (max-width: 425px) {
            & {
              width: 1.5rem;
              height: 1.5rem;
            }
          }
          &::after {
            position: absolute;
            top: -24%;
            left: 50%;
            display: block;

            height: 0.875rem;
            transform: translate(-50%, -50%);
            content: url('https://api.iconify.design/ep/arrow-left.svg?width=14&height=14&flip=vertical');

            @media (max-width: 425px) {
              & {
                top: -50%;
              }
            }
          }
        }

        .swiper-button-next {
          right: 0;
          background: #fff;
          border-radius: 50%;
          width: 2rem;
          height: 2rem;
          background-color: #fff;
          box-shadow: 0 4px 16px 1px rgb(0 0 0 / 20%);
          margin-top: calc(0px - (var(--swiper-navigation-size) / 1.7));

          @media (max-width: 425px) {
            & {
              width: 1.5rem;
              height: 1.5rem;
            }
          }

          &::after {
            position: absolute;
            top: -24%;
            left: 50%;
            display: block;

            height: 0.875rem;
            transform: translate(-50%, -50%);
            content: url('https://api.iconify.design/ep/arrow-left.svg?width=14&height=14&flip=horizontal');
            @media (max-width: 425px) {
              & {
                top: -50%;
              }
            }
          }
        }

        .swiper-button-disabled {
          display: none;
        }
      }

      options-selection {
        flex-direction: column;
        align-items: flex-start;

        .options-selection__select-wrapper {
          width: 100%;

          & + .options-selection__select-wrapper {
            order: -1;
          }
        }

        .#{$id}__colorSwatches {
          display: flex;
          flex-wrap: wrap;
          padding-left: 10px;
          margin-top: 10px;
          & .#{$id}__colorSwatcheItem {
            margin-top: 0;
            background-position: center;
            background-size: cover;
            border-color: #e2e2e2;
            border-style: solid;
            border-width: 1px !important;
            border-radius: 50%;
            width: 35px;
            height: 35px;
            box-shadow: 0 0 0 3px #fff, 0 0 0 4px #ccc;
            position: relative;
            cursor: pointer;
            &.active {
              box-shadow: 0 0 0 3px #fff, 0 0 0 4px #000;
              &::after {
                position: absolute;
                top: -24%;
                right: 0;
                left: 84%;
                content: url(https://api.iconify.design/teenyicons/tick-circle-solid.svg?color=green);
              }
            }
            &:not(:last-child) {
              margin-right: 15px;
              margin-bottom: 15px;
            }
          }
        }
      }

      .options-selection__select::after {
        display: none;
      }

      #data-variant-style {
        display: none;

        &::after {
          display: none;
        }
      }

      #data-variant-option-1 {
        display: none;
      }
    }
  }
}
