@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
  [id='16074761'],
  [id='16074762'],
  [id='16074763'],
  [id='16074760'] {
    display: none;
  }

  &__headerBannerWrapper {
    padding: 25px 1.28% 0px 1.28%;
    --zp-block-left-margin: 0px;
    --zp-block-right-margin: 0px;
    background-color: #fc5301;
  }

  &__headerBannerContainer {
    margin: 0 auto;
    @media screen and (min-width: 576px) {
      max-width: 540px;
    }
    @media screen and (min-width: 768px) {
      max-width: 740px;
    }
    @media screen and (min-width: 992px) {
      max-width: 960px;
    }
    @media screen and (min-width: 1200px) {
      max-width: 1140px;
    }

    @media screen and (min-width: 1440px) {
      max-width: 1380px;
    }

    @media screen and (min-width: 1540px) {
      max-width: 1440px;
    }
    @media screen and (min-width: 1740px) {
      max-width: 1700px;
    }
  }

  &__contentHero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 98px 1.28% 65px 1.28%;
  }

  &__logo {
    margin-left: 0 !important;
    padding: 0 1.28% 0px 1.28%;
  }

  &__msg {
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-size: 35px;
    line-height: 35px;
    color: #fff;
    margin: 0;
    padding-bottom: 24px;
  }

  &__title {
    font-family: 'Passion One';
    font-weight: 400;
    font-size: 100px;
    line-height: 100px;
    color: #fff;
    margin: 0;
    padding-bottom: 56px;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 535px;
    width: 100%;
    box-shadow: 0px 3px 3px 2px #00000033;
    border: none;
    background: #000000;
    padding: 4px;
    margin-bottom: 24px;
    .#{$id}__text {
      font-family: 'Inter';
      font-weight: 700;
      font-size: 22px;
      line-height: 60px;
      letter-spacing: -0.4px;
      text-align: center;
      vertical-align: middle;
      text-transform: uppercase;
      color: #fff;
    }
    .#{$id}__icon {
      margin-left: 16px;
      svg {
        width: 32px;
        height: 32px;
      }
    }
  }

  &__lists {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      display: flex;
      align-items: center;
      margin-right: 4px;
      &:last-child {
        margin-right: 0;
      }

      .#{$id}__itemIcon {
        display: flex;
      }

      .#{$id}__itemText {
        font-family: 'Inter';
        font-weight: 600;
        font-size: 15px;
        line-height: 24px;
        letter-spacing: 0%;
        vertical-align: middle;
        color: #000000;
        margin-left: 6px;
      }
    }
  }

  &__mobile {
    display: none;
  }

  &__videoWrapper {
    margin-left: 0 !important;
    margin-right: 0 !important;

    img {
      width: 100%;
    }
  }

  &__reviewsContainer {
    max-width: 530px;
    width: 100%;
    margin: 0 auto;
  }
  &__reviewcards {
    position: relative;
    margin-top: 25px;
    padding: 20px 0 15px;

    @media screen and (max-width: 767px) {
      margin-top: 20px;
    }
  }

  &__reviewcards-swiper {
    .swiper-slide {
    }

    .swiper-pagination {
      display: flex;
      align-items: center;
      justify-content: center;
      bottom: 0;

      .swiper-pagination-bullet {
        width: 6px;
        height: 6px;
        &.swiper-pagination-bullet-active {
          width: 8px;
          height: 8px;
          background: #fd689e;
        }
      }
    }
  }

  &__reviewcards-swrapper {
  }

  &__reviewCard {
    .#{$id}__review {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      margin-bottom: 10px;
    }

    .#{$id}__review-col1 {
      width: 100px;
      height: 100px;

      img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
      }

      @media screen and (max-width: 767px) {
        width: 80px;
        height: 80px;
      }
    }

    .#{$id}__review-col2 {
      width: calc(100% - 115px);
      margin-left: 15px;
      .row1 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        .reviewer-name {
          display: flex;
          align-items: center;
          .#{$id}__name {
            font-size: 18px;
            font-weight: 700;
            line-height: 22px;
            color: #fd689e;

            @media screen and (max-width: 767px) {
              font-size: 16px;
              line-height: 19px;
            }
            @media screen and (max-width: 390px) {
              font-size: 12px;
            }
          }

          .#{$id}__icon {
            display: flex;
            margin-left: 5px;
            @media screen and (max-width: 390px) {
              svg {
                width: 12px;
                height: 12px;
              }
            }
          }
        }

        .reviewer-ratings {
          .v1-color {
            color: #ff8302;
          }
        }

        @media screen and (max-width: 767px) {
          margin-bottom: 8px;
        }
      }

      .row2 {
        .review-msg {
          font-size: 15px;
          font-weight: 400;
          font-style: italic;
          line-height: 22px;
          text-align: left;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 4;
          overflow: hidden;
          text-overflow: ellipsis;

          @media screen and (max-width: 767px) {
            font-size: 12px;
            line-height: 18px;
          }
        }
      }

      @media screen and (max-width: 767px) {
        width: calc(100% - 90px);
        margin-left: 10px;
      }
    }
  }

  //}
}
