@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
  &-1 {
    site-header > div.min-h-header ul {
      gap: 20px;

      @include media-query(xl) {
        gap: 12px;
      }

      li > label,
      li > a {
        @include media-query(xl) {
          font-size: 16px;
        }
      }
    }

    #mega-menu-gifts-and-accessories-toggle:checked ~ #mega-menu-gifts-and-accessories {
      max-height: var(--visual-area);
    }

    #mega-menu-gifts-and-accessories-toggle:checked ~ div label[for="mega-menu-gifts-and-accessories-toggle"] {
      border-bottom-color: #414042;
    }

    .#{$id}__desktopMenuWrapper.#{$id}__desktopMenuWrapper-Gifts-Accessories {
      @include media-query(xl) {
        grid-template-columns: repeat(4, minmax(10px, 1fr));
      }
    }

    #mega-menu-shop {
      &:has(.#{$id}__desktopMenuWrapper) {
        overflow: hidden;
      }
    }
    .#{$id}__desktopMenuWrapper {
      display: grid;
      grid-template-columns: repeat(5, minmax(10px, 1fr));
      column-gap: 15px;

      .#{$id}__item {
        width: 220px;
      }

      li:has(.#{$id}__color) {
        a {
          display: grid;
          grid-template-columns: 16px auto;
          align-items: center;
          column-gap: 10px;
        }
      }

      .#{$id}__color {
        position: relative;
        width: 16px;
        height: 16px;

        &::after {
          content: '';
          position: absolute;
          bottom: 1px;
          left: 1px;
          right: 1px;
          opacity: 1;
          top: 1px;
          border-radius: 50%;
          background-image: var(--swatch-image, none);
          background-size: cover;
          background-color: var(--swatch-colour, transparent);
        }
      }
      & ~ div {
        display: none;
      }
    }

    .color-putty {
      &:has(.nav__sub.is-active) {
        & > div {
          overflow-x: hidden;
        }
      }
    }

    .#{$id}__mobileMenuWrapper {
      font-family: Goudy Oldstyle, Iowan Old Style, Apple Garamond, Baskerville, Times New Roman,
        Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji,
        Segoe UI Symbol;
      overflow-y: auto;
      & + li {
        display: none;
      }

      .nav,
      .nav__sub {
        margin: 0;
        list-style-type: none;
      }

      .nav {
        overflow: hidden;
      }

      .nav__link {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 22px;
        font-weight: 400;
        line-height: 26.4px;
        text-align: left;
        text-decoration: none;
        padding: 16px 0 16px;
        border-bottom: solid 1px #e3e2de;
        color: #414042;

        &.sub__close {
          background-color: #e8e5da;
          span {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            white-space: nowrap;
            color: #4d6947;
          }
        }
      }

      .nav__sub {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #fff;
        opacity: 0;
        visibility: hidden;
        transition: all 0.35s ease-in-out;
        transform: translateX(100%);
        z-index: 99;

        .nav__link {
          padding-left: 15px;
          padding-right: 15px;
        }

        .nav__item:first-child {
          padding: 0;
        }
      }

      .nav__sub.is-active {
        opacity: 1;
        visibility: visible;
        transform: translateX(0%);
      }

      [data-parent='Shop by colour'] {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        align-content: baseline;

        .nav__item:nth-child(odd) {
          padding: 0 15px 20px 5.5px;
        }

        .nav__item:nth-child(even) {
          padding: 0 5.5px 20px 15px;
        }
        .nav__item + .nav__item {
          flex: 1 1 50%;
          box-sizing: border-box;

          a {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            border-bottom: none;
            padding: 0;
            height: 100%;

            span {
              font-family: 'Gill Sans';
              font-size: 16px;
              font-weight: 400;
              line-height: 20.8px;
            }

            .#{$id}__imageWrapper {
              padding-bottom: 10px;
              height: 100%;

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
        }

        .nav__item:first-child {
          flex: 1 1 100%;
          margin-bottom: 15px;
          padding: 0;
        }
      }
    }
  }
}
