@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
  .#{$id}__colorSwatches {
    margin-bottom: 20px;
    .#{$id}__colorname {
      margin-top: 14px;
      margin-bottom: 10px;
      text-align: left;
      .#{$id}__title {
        font-size: 13px;
        font-weight: 500;
        line-height: 20px;
        color: #141416;
      }
      .#{$id}__color {
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;
        color: #000;
        text-transform: capitalize;
      }
    }
    .#{$id}__colorBox {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      grid-gap: 4px;

      .#{$id}__color-item {
        &.#{$id}__selected {
          img {
            border: solid 2px #ac6b78;
            border-radius: 11px;
          }
        }

        img {
          width: 38px;
          height: 53px;
          padding: 3px;
        }

        &.#{$id}__hide {
          display: none;
        }
      }
    }

    .#{$id}__icon {
      width: 30px;
      height: 30px;
      background: #fff;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }
}
