@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
    &__loggedInPdp .lf167__priceContainer .lf167__priceBox-price::before,
    &__loggedInPdp .lf167__priceContainer .lf167__priceBox-price::before {
        content: 'Trade Price ';
    }
    
    &__loggedInPdp .tax .price-wrapper .price::before {
        content: 'Retail ';
    }

    &__tradeDiscountsPage {
        .usps-main-footer:after {
            display: none;
        }

        #maincontent {
            padding: 0;

            .trade-container,
            >.columns {
                display: none;
            }
        }
    }

    &__tradeRegPage {
        #maincontent {
            >.columns {
                display: none;
            }
        }

        .trade-banner-container,
        .hs-richtext.hs-main-font-element {
            display: none;
        }

        .#{$id}__headerTitle {
            margin: 32px auto 0;
            font: normal normal normal 48px/60px Lucida Bright;
            color: #202020;
            text-align: center;

            @include media-query(lg) {
                font: normal normal normal 28px/36px Lucida Bright;
                margin: 12px auto 0;
            }
        }

        .#{$id}__formContainer {
            margin: 0 auto;
            max-width: 1024px;
            display: flex;
            justify-content: center;

            .#{$id}__columns {
                flex: 0 0 55%;
                padding-right: 48px;

                @include media-query(lg) {
                    padding-right: 0;
                    flex: 0 0 100%;
                }
            }

            .#{$id}__verticalUspContainer {
                margin-top: 28px;
                flex: 0 0 45%;

                @include media-query(lg) {
                    display: none;
                }
                
                &-title {
                    padding: 36px 0 30px;
                    font: normal normal normal 30px/40px Lucida Bright;
                    color: #2F2F2F;
                    text-align: center;
                    background: #F9F2E4;
                }

                .#{$id}__verticalUsps {
                    padding-bottom: 50px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    background: #F9F2E4;
                }

                .#{$id}__verticalUsp {
                    margin-bottom: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    // max-width: 230px;

                    p {
                        max-width: 140px;
                        margin-left: 20px;
                        font: normal normal 600 19px/25px Work Sans;
                        color: #374A53;
                    }
                }

                .usp-icon {
                    height: 110px;
                    width: 110px;

                    svg {
                        height: 100%;
                        width: 100%;
                    }
                }
            }
        }
    }

    &__semiBold {
        font-weight: 600;
    }

    &__subBanner {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 11px 10px 13px;
        background: #374A53;

        @include media-query(lg) {
            flex-direction: column;
        }

        span {
            font-family: 'Work Sans';
            font-size: 16px;
            line-height: 19px;
            color: #FFF;
            letter-spacing: 0.63px;

            @include media-query(lg) {
                font-size: 17px;
                line-height: 20px;
                letter-spacing: 0.67px;
            }
        }
    }

    &__lfClub {
        max-width: 682px;
        margin: 35px auto 37px;

        @include media-query(lg) {
            margin: 20px 20px 25px;
        }

        .#{$id}__lfClubText {
            margin: 35px auto 37px;
            font-family: 'Work Sans';
            font-size: 16px;
            line-height: 24px;
            color: #202020;
            text-align: center;
            letter-spacing: 0;

            @include media-query(lg) {
                font-size: 15px;
                line-height: 23px;
                margin: 0;
            }
        }
    }

    &__usps {
        margin: 0 auto;
        padding: 37px 10px 0;
        max-width: 1140px;
        display: flex;
        justify-content: space-evenly;

        @include media-query(md) {
            padding: 0 10px;
            gap: 20px;
            justify-content: center;
            max-height: max-content;
            flex-wrap: wrap;
        }

        @include media-query(xsm) {
            gap: 14px;
        }

        // @include media-query(xxxl) {
        //     margin: 20px 40px 40px;
        // }

        // @include media-query(xl) {
        //     margin: 20px 0px 40px;
        // }

        // @include media-query(lg) {
        //     justify-content: space-between;
        // }

        // @include media-query(md) {
        //     margin: 0 0 30px;
        //     display: grid;
        //     grid-template-columns: repeat(2, 1fr);
        //     row-gap: 16px;
        // }

        .#{$id}__usp {
            width: 208px;
            display: flex;
            align-items: center;
            flex-direction: column;

            @include media-query(md) {
                width: 116px;
            }

            @include media-query(xsm) {
                width: 105px;
            }

            // @include media-query(sm) {
            //     width: 90px;
            //     flex-direction: column;
            // }

            p {
                margin: 15px 0 0;
                max-width: 150px;
                font: normal normal normal 19px/25px Work Sans;
                font-weight: 600;
                color: #374A53;
                text-align: center;

                // @include media-query(xxxl) {
                //     margin: 0 0 0 10px;
                //     font: normal normal normal 14px/50px Work Sans;
                // }

                // @include media-query(lg) {
                //     margin: 0 0 0 10px;
                //     font: normal normal normal 13px/30px Work Sans;
                // }

                @include media-query(md) {
                    font: normal normal normal 16px/22px Work Sans;
                    font-weight: 600;
                }

                @include media-query(xsm) {
                    font: normal normal normal 14px/20px Work Sans;
                    font-weight: 600;
                }
            }

            // svg {
            //     @include media-query(xxxl) {
            //         max-width: 50px;
            //         max-height: 50px;
            //     }
            // }

            // &:nth-child(3) {
            //     p {
            //         margin: 0;
            //     }
            // }
        }

        .usp-icon {
            height: 138px;
            width: 138px;

            @include media-query(md) {
                width: 105px;
                height: 105px;
            }

            @include media-query(xsm) {
                width: 95px;
                height: 95px;
            }

            // @include media-query(sm) {
            //     width: 90px;
            //     height: 90px;
            // }

            svg {
                height: 100%;
                width: 100%;
            }
        }
    }

    &__authContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #707070;
        padding: 24px 20px 20px;
        max-width: 740px;
        margin: 45px auto 65px;

        @include media-query(lg) {
            margin: 30px 20px;
            flex-direction: column;
            padding: 30px 10px;
        }

        .divider {
            margin: 0 40px;
            height: 100px;
            width: 1px;
            background-color: #707070;

            @include media-query(lg) {
                display: none;
            }
        }

        .divider-horizontal {
            display: none;
            margin: 20px 0;
            width: 60%;
            // width: calc(100% - 40px);
            height: 1px;
            background-color: #707070;

            @include media-query(lg) {
                display: block;
            }
        }

        .#{$id}__registrationBox,
        .#{$id}__loginBox {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0 20px;

            p {
                margin-bottom: 10px;
                font-weight: 600;
                font-size: 15px;
            }

            .register-btn,
            .login-btn {
                width: 190px;
                padding: 14px 20px;
                font-size: 16px;
                color: #fff;
                border: none;
                cursor: pointer;
            }

            .register-btn {
                background-color: #b6955e;
            }

            .login-btn {
                background-color: #374A53;
            }
        }
    }

    &__faqContainer {
        width: 100%;
        background: #F9F2E4;

        .#{$id}__faqWrapper {
            width: 100%;
            max-width: 842px;
            margin: auto;
            padding: 50px 0;

            @include media-query(lg) {
                padding: 24px 20px;
            }
        }

        .#{$id}__faqTitle {
            font-family: 'Lucida Bright, Regular';
            font-size: 40px;
            line-height: 50px;
            color: #202020;
            text-align: center;
            margin: 0 auto 43px;

            @include media-query(lg) {
                font-size: 30px;
                line-height: 40px;
                margin: 0 auto 20px;
            }
        }

        .#{$id}__faqAccordion {
            border-bottom: 1px solid #C5C1B8;
            margin-bottom: 10px;
        }

        .#{$id}__faqAccordion:first-child {
            border-top: 1px solid #C5C1B8;
        }

        .#{$id}__faqAccordion-header {
            display: flex;
            justify-content: space-between;
            padding: 15px;
            // background-color: #f8f8f8;
            cursor: pointer;
            align-items: center;
        }

        .#{$id}__faqAccordion-title {
            font-family: 'Work Sans';
            font-size: 16px;
            font-weight: 600;
            line-height: 1.5;
            color: #0F0F0F;
        }

        .#{$id}__faqAccordion-content {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.5s ease-out;
        }

        .#{$id}__faqAccordion-content.open {
            max-height: 300px;
        }

        .#{$id}__faqAccordion-content p {
            padding: 15px;
            margin: 0;
            font-size: 15px;
            line-height: 1.5;
        }

        .#{$id}__faqAccordion-icon i {
            border: solid black;
            border-width: 0 2px 2px 0;
            display: inline-block;
            padding: 3px;
            transform: rotate(45deg);
            transition: transform 0.5s ease-out;
        }

        .#{$id}__faqAccordion-icon i.down {
            transform: rotate(-135deg);
        }
    }
}