@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
    &__textMsg {
        margin-top: 8px;
        padding: 7px 15px;
        max-width: max-content;
        font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
        font-weight: 600;
        font-size: 14px;
        color: #333;
        background: #f1b215;
        cursor: pointer;
        border: 0;
        border-radius: 3px;
        box-sizing: border-box;
    }
}