/* stylelint-disable font-family-no-missing-generic-family-keyword */
@import './variables';
@import '../src/lib/shared/shared';

.#{$id} {
    &__cartmsg {
        padding: 10px 0 0;
        font-weight: 600;
        font-size: 15px;
        font-family: "Avenir Next";
        text-align: center;
    }

    &__payoptions{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 26px;

        svg{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 48px;
            height: auto;
        }
    }

    &__trustbadge {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        height: auto;
        margin-top: 14px;
        text-align: center;

        &>div{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }

        img{
            height: auto;
        }

        &--secure{
            img{
                width: 20px;
            }
        }

        &--gurantee{
            img{
                width: 28px;
            }
        }

        &--fastship{
            img{
                width: 32px;
                margin-bottom: 2px;
            }
        }

        p{  
            margin-top: 10px;
            margin-bottom: 0;
            color: #c19574;
            font-size: 14px;
            line-height: 1;
        }
    }
}