@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
  .#{$id}__modalOpen {
    .#{$id}__validateUserModal {
      &-overlay {
        position: fixed;
        width: 100%;
        height: 100vh;
        opacity: 0.5;
        background: #000;
        z-index: 999;
        top: 0;
      }
      &-container {
        &-content {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
          max-width: 335px;
          background: #fff;
          padding: 30px 12px 12px;
          height: max-content;
          z-index: 9999;
          opacity: 0;
          animation: scaleUp 2s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
          .#{$id}__closeIcon {
            position: absolute;
            top: 6px;
            right: 12px;
            cursor: pointer;
          }

          &-step-1 {
            text-align: center;
            display: none;
            &.#{$id}__show {
              display: block;
            }
            h1 {
              font-size: 16px;
              font-weight: 600;
              line-height: 19px;
              color: #222222;
              margin-bottom: 8px;
            }
            p {
              font-size: 14px;
              font-weight: 400;
              line-height: 20px;
              margin-bottom: 36px;
            }
            .#{$id}__buttonsWrapper {
              display: flex;
              align-items: center;
              justify-content: center;
              .#{$id}__noThanksBtn {
                width: 50%;
                color: #0081b8;
                border: solid 2px #0081b8;
                border-radius: 2px;
              }
              .#{$id}__continue {
                width: 50%;
                color: #fff;
                background-color: #0081b8;
                border: solid 2px #0081b8;
                border-radius: 2px;
                margin-left: 8px;
              }
            }

            .#{$id}__button {
              font-size: 14px;
              line-height: 21px;
              font-weight: 400;
            }
          }
          &-step-2 {
            display: none;
            &.#{$id}__show {
              display: block;
            }
            .#{$id}__formWrapper {
              margin-top: 12px;
              .#{$id}__form-field {
                input {
                  width: 100%;
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 21px;
                  padding: 8px 7px;
                  border: solid 1px #94a3b8;
                  border-radius: 2px;
                }
              }

              .#{$id}__name {
                margin-bottom: 8px;
              }

              .#{$id}__email {
                margin-bottom: 25px;
              }
              .#{$id}__creditCradNumber {
              }
              .#{$id}__cxprationCvc {
                display: flex;
                align-items: center;
                margin: 8px 0;
                #cxprationCvc {
                  width: calc(100% - 104px);
                }
                #cvc {
                  width: 96px;
                  margin-left: 4px;
                }
                // #expiring-date {
                //   width: calc(100% - 104px);
                // }

                // #cvc {
                //   width: 96px;
                //   margin-left: 8px;
                // }
              }

              .#{$id}__subscribeBtn {
                width: 100%;
                font-size: 14px;
                font-weight: 400;
                line-height: 21px;
                background-color: #0081b8;
                color: #fff;
                padding: 8px 0;
                margin-top: 8px;
                border: solid 1px #0081b8;
                border-radius: 2px;
              }

              .#{$id}__message {
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
                color: #222222;
                padding: 32px 0 0;
                margin-bottom: 0;
              }
            }

            small {
              color: #e75c3c;
              margin-top: 5px;
              display: none;
            }

            .error small {
              display: block;
            }

            .error input {
              border-color: #e75c3c;
            }

            .success input {
              border-color: #2ecc71 !important;
            }
          }
          &-step-3 {
            display: none;
            &.#{$id}__show {
              display: block;
            }
            h2 {
              font-size: 16px;
              font-weight: 600;
              line-height: 19px;
              color: #222222;
              text-align: center;
            }

            .#{$id}__firstMsg {
              font-size: 14px;
              font-weight: 400;
              line-height: 20px;
              margin-bottom: 30px;
            }
            .#{$id}__secondMsg {
              font-size: 14px;
              font-weight: 400;
              line-height: 20px;
              margin-bottom: 8px;
            }

            .#{$id}__form-field {
              margin-bottom: 8px;
              input {
                width: 100%;
                font-size: 14px;
                font-weight: 400;
                line-height: 21px;
                padding: 8px 7px;
                border: solid 1px #94a3b8;
                border-radius: 2px;
              }
            }
            .#{$id}__thirdMsg {
              font-size: 14px;
              font-weight: 700;
              line-height: 20px;
              margin-top: 42px;
              margin-bottom: 0;
              text-align: center;
            }
            .#{$id}__forthMsg {
              font-size: 14px;
              font-weight: 400;
              line-height: 20px;
              text-align: center;
            }

            .#{$id}__submitBtn {
              width: 100%;
              font-size: 14px;
              font-weight: 400;
              line-height: 21px;
              background-color: #0081b8;
              color: #fff;
              padding: 8px 0;
              margin-top: 8px;
              border: solid 1px #0081b8;
              border-radius: 2px;
            }
          }
        }
      }

      .toggle__agree {
        display: flex;
        align-items: center;

        input {
          width: 20px;
          height: 19px;
        }

        .toggle__button {
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
          margin-left: 8px;
        }
      }
    }
  }

  @keyframes fadein {
    0% {
      background: rgba(0, 0, 0, 0);
    }

    100% {
      background: rgba(0, 0, 0, 0.7);
    }
  }

  @keyframes scaleUp {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
