@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
  .#{$id}__wrapper {
    &-header {
      font-family: Montserrat;
      font-size: 42px;
      font-weight: 700;
      line-height: 32.5px;
      text-align: center;
      margin-bottom: 60px;
    }

    &-contents {
      display: flex;
      justify-content: center;
      margin: 0 auto;
      .#{$id}__wrapper-products {
        display: flex;
        .#{$id}__bundleWrapper-content {
          display: flex;
          flex-direction: column;
          position: relative;
          max-width: 170px;
          width: 100%;
          padding: 4px;
          //margin: 0 auto 18px;
          margin-right: 20px;
          border: 1px solid #135d4b;
          border-radius: 8px;

          &:last-child {
            margin-right: 0;
          }
          &-image {
            margin-bottom: 5px;
          }

          &-text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h2 {
              //font-family: Montserrat;
              font-size: 14px;
              font-weight: 600;
              line-height: 20px;
              letter-spacing: 0.5px;
              text-align: left;
              margin-bottom: 5px;
              height: 56px;

              @media screen and (max-width: 1023px) {
                font-size: 14px;
                line-height: 19px;
              }
            }
            p {
              // font-family: Montserrat;
              font-size: 14px;
              font-weight: 400;
              line-height: 19px;
              letter-spacing: 0.47999998927116394px;
              text-align: left;
              margin-bottom: 5px;
            }

            .priceWrapper {
              display: flex;
              align-items: center;
              flex-wrap: wrap;
              .price {
                //font-family: Montserrat;
                font-size: 14px;
                font-weight: 600;
                line-height: 17px;
                letter-spacing: 0.41999998688697815px;
                text-align: left;
                color: #cf5729;
                margin-top: 2px;
              }
              .original-price {
                // font-family: Montserrat;
                font-size: 14px;
                font-weight: 400;
                line-height: 17px;
                letter-spacing: 0.41999998688697815px;
                text-align: left;
                color: #707070;
                margin-top: 2px;
                margin-left: 5px;
                margin-right: 5px;
                text-decoration: line-through;
              }
              .discount {
                // font-family: Montserrat;
                font-size: 14px;
                font-weight: 700;
                line-height: 17px;
                text-align: left;
                background-color: #d8b47f;
                color: #fff;
                padding: 4px 8px;
                border-radius: 90px;
                //margin-left: 5px;

                @media screen and (max-width: 1023px) {
                  font-size: 12px;
                  line-height: 15px;
                }
              }
            }
          }

          @media screen and (max-width: 1023px) {
            flex-direction: column;
            padding: 12px 8px 17px;
            margin: 0 auto 19px;
          }

          @media screen and (max-width: 768px) {
            max-width: 230px;
          }
        }
      }
    }

    .#{$id}__wrapper-total {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-left: 68px;
      p {
        //font-family: Montserrat;
        font-size: 24px;
        font-weight: 400;
        line-height: 35px;
        text-align: left;
        color: #686868;
        margin-bottom: 14px;

        span {
          font-family: Montserrat;
          font-size: 24px;
          font-weight: 400;
          line-height: 35px;
          text-align: left;
          color: #686868;
        }
        .price {
          color: #e04c0e;
        }
        .original-price {
          text-decoration: line-through;
        }
      }

      button {
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 700;
        line-height: 27.5px;
        background-color: #135d4b;
        color: #fff;
        padding: 12px 36px 13px;
        border-radius: 5px;
        box-shadow: 3px 3px 4px 0px #808080;
      }
    }

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
    .checkbox__checkmark {
      position: absolute;
      top: 10px;
      right: 11px;
      height: 24px;
      width: 24px;
      //background-color: #eee;
      transition: background-color 0.25s ease;
      border: 1px solid #959595;
      border-radius: 4px;

      &::after {
        content: '';
        position: absolute;
        left: 8px;
        top: 4px;
        width: 5px;
        height: 10px;
        border: solid #fff;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        opacity: 0;
        transition: opacity 0.25s ease;
      }
    }
    .checkbox {
      cursor: pointer;
    }

    .checkbox input:checked ~ .checkbox__checkmark:after {
      opacity: 1;
    }

    .checkbox input:checked ~ .checkbox__checkmark {
      background-color: #135d4b;
    }
  }
}
