@import './variables';
@import '../src/lib/shared/shared';

.#{$id} {
  &__fieldContent {
    display: flex;
    padding-bottom: 20px;
    border-bottom: 1px solid #dddd;

    @media only screen and (max-width: 767px) {
      // do something
      & {
        flex-direction: column;
        padding-bottom: 24px;
        padding-left: 15%;
        padding-right: 15%;
      }
    }

    & .#{$id}__fieldItem {
      display: flex;
      align-items: center;
      margin-right: 10px;

      @media only screen and (max-width: 767px) {
        // do something
        & {
          margin-right: 0;
          margin-bottom: 15px;
        }

        &:last-child {
          margin-bottom: 10px;
        }
      }

      & .#{$id}__svgContainer {
        margin-right: 10px;
      }

      &:last-child {
        margin-right: 0;
      }

      & .#{$id}__text {
        color: #666;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
      }
    }
  }

  &__orderPlaced {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;

    h1.mtb0to1 {
      font-weight: 600;
    }

    @media only screen and (max-width: 767px) {
      // do something
      & {
        width: 90%;
        /* stylelint-disable-next-line shorthand-property-no-redundant-values */
        margin: 50px auto 50px auto;
        text-align: center;
      }
    }

    & p {
      margin: 4px 0;
    }

    & .#{$id}__orderNumberContainer {
      margin-top: 20px;
    }
    @media only screen and (max-width: 767px) {
      // do something
      & .mtb0to1 {
        margin: 16px 0 !important;
      }
    }
  }

  .progressbar {
    display: none;

    & + .pad {
      display: none;
    }

    & + .p0-5 {
      display: none;
    }

    & ~ .fixedwidth {
      & > .pad {
        display: flex;
        justify-content: center;
        width: 100%;

        @media only screen and (max-width: 767px) {
          // do something
          & {
            flex-direction: column;
          }
        }
        & .#{$id}__firstParent {
          flex-basis: 75%;
          margin-right: 24px;

          & .#{$id}__mtb21 {
            margin-top: 0 !important;
          }
          @media only screen and (max-width: 767px) {
            // do something
            & {
              flex-basis: 100%;
              margin-right: 0;
            }
          }

          & .#{$id}__mtb {
            font-weight: 400;
            font-size: 15px;
            line-height: 19px;
            margin-top: 8px !important;
          }

          /* stylelint-disable-next-line selector-id-pattern */
          & form#Createmember {
            width: 93%;
            @media only screen and (max-width: 767px) {
              // do something
              & {
                width: 100%;
              }
            }

            #passwordstrength {
              display: flex;
              align-items: center;
              justify-content: space-between;

              .passStrengthify {
                & > div {
                  margin-bottom: 3px;

                  span {
                    color: #282828;
                    font-weight: 400;
                    font-size: 14px !important;
                    font-family: 'Open Sans';
                    font-style: normal;
                    line-height: 17px;

                    & span {
                      font-family: 'Open Sans';
                      font-style: normal;
                      font-weight: 700;
                      font-size: 14px !important;
                      line-height: 17px;
                    }
                  }
                }
              }

              @media only screen and (max-width: 767px) {
                // do something
                & {
                  flex-direction: column;
                  align-items: flex-start;
                }
              }

              & input {
                width: 83px !important;
                margin-top: 0;
                margin-bottom: 0;
                padding: 10px;

                @media only screen and (max-width: 767px) {
                  // do something
                  & {
                    margin-top: 16px;
                  }
                }
              }
            }
            @media only screen and (max-width: 767px) {
              // do something
              & + div {
                display: none;
              }
            }
          }

          & form {
            & label.long {
              color: #000;
              font-weight: 400;
              font-size: 16px;
              line-height: 19px;
              white-space: nowrap;
            }
          }

          & .mtb2:last-child {
            border: 1px solid #dddd;
            border-radius: 4px;
            box-shadow: 0 2px 4px rgb(132 132 132 / 16%);

            & > h3 {
              display: none;
            }

            & .#{$id}__orderDetails {
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding: 10px 22px;

              & .#{$id}__orderText {
                color: #282828;
                font-weight: 600;
                font-size: 15px;
                line-height: 19px;
              }

              & .#{$id}__orderPrintContainer {
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                & .#{$id}__printText {
                  color: #4f7e51;
                  font-weight: 600;
                  font-size: 14px;
                  line-height: 17px;
                }

                & .#{$id}__printSvg {
                  padding-top: 5px;
                  padding-left: 7px;
                }
              }
            }

            & .#{$id}__Container {
              display: flex;
              padding-left: 10px;

              @media only screen and (max-width: 767px) {
                // do something
                & {
                  flex-direction: column;
                  margin-right: -8px;
                  margin-left: -8px;
                  padding-left: 0;
                }
              }

              & .#{$id}__address {
                flex-basis: 60%;
                border-right: solid 1px #dddd;

                @media only screen and (max-width: 767px) {
                  // do something
                  & {
                    padding-left: 15px;
                    border-top: solid 1px #dddd;
                    border-right: none;
                    padding-right: 15px;
                  }
                }

                & .bd-xlight {
                  border-top: 0;
                  @media only screen and (max-width: 767px) {
                    // do something
                    & {
                      display: flex;

                      & > div:first-child {
                        h3 {
                          margin-bottom: 5px;
                          font-size: 14px;
                        }
                      }

                      & > div:last-child {
                        padding-left: 6px;

                        h3 {
                          margin-bottom: 5px;
                          font-size: 14px;
                        }
                      }
                    }
                  }

                  & > div {
                    & > h3 {
                      margin-bottom: 5px;
                      font-weight: 600;
                    }
                  }
                }
              }

              & .#{$id}__priceInfo {
                flex-basis: 40%;
                padding: 20px 0 0 20px;

                @media only screen and (max-width: 767px) {
                  // do something
                  & {
                    padding: 10px 8px 4px 0;
                  }
                }

                @media only screen and (max-width: 767px) {
                  // do something
                  & {
                    order: -1;
                  }
                }

                & > div:last-child {
                  & > div:last-child {
                    & > div {
                      & > div:not(.#{$id}__special) {
                        display: none !important;
                      }
                    }
                  }
                }

                & .#{$id}__specialPrice {
                  font-size: 15px;
                }

                & > div {
                  display: flex;
                  justify-content: flex-end;
                  width: 100%;

                  & > div:first-child {
                    display: none;
                  }

                  & > div:last-child {
                    flex-basis: 100%;
                    padding-right: 0;

                    & > div:first-child {
                      display: flex;
                      width: 100%;

                      & div:first-child {
                        display: none !important;
                        width: 0%;
                      }

                      & div.align-right {
                        flex-basis: 50%;
                        padding-right: 0;
                      }

                      @media only screen and (max-width: 767px) {
                        // do something
                        & {
                          width: 100%;
                        }
                      }
                    }

                    & > div:nth-child(2) {
                      width: 60%;
                      font-weight: 600;
                      @media only screen and (max-width: 767px) {
                        // do something
                        & {
                          width: 75%;
                        }
                      }
                    }
                  }
                }

                /* stylelint-disable-next-line no-duplicate-selectors */
                & > div:last-child {
                  /* stylelint-disable-next-line no-duplicate-selectors */
                  & > div:last-child {
                    & > div:first-child {
                      font-weight: 600;
                    }
                  }
                }
              }
            }

            & .bd-xlight {
              margin-top: 0 !important;
              margin-bottom: 0 !important;
              padding-bottom: 0 !important;

              & > .plr0-5 {
                & > div:not(.#{$id}__Container) {
                  padding: 0 14px;

                  & div:last-child {
                    & div {
                      & > div:first-child {
                        text-align: right;
                      }
                    }
                  }
                }

                & > div.bd-color5:not(.f-color3) {
                  margin-bottom: 0 !important;
                  padding-bottom: 16px !important;

                  &:not(:first-child) {
                    margin-top: 16px !important;
                  }

                  & > div:first-child {
                    & > div.container-1-3 {
                      & > div:first-child {
                        @media (max-width: 767px) {
                          & {
                            padding-right: 0;
                            padding-left: 0;
                          }
                        }
                      }
                      & > div:last-child {
                        & span {
                          display: inline-block;
                          margin-bottom: 5px;
                        }
                      }
                    }
                  }
                  @media only screen and (max-width: 767px) {
                    // do something
                    & {
                      display: flex;

                      & > div:first-child {
                        width: 40%;
                        padding-right: 0;
                      }

                      & > div:last-child {
                        width: 60%;

                        & > div {
                          & > div:first-child {
                            text-align: right;
                          }
                        }

                        /* stylelint-disable-next-line no-duplicate-selectors */
                        & > div {
                          & .showonnarrow {
                            & > span {
                              display: none;
                            }
                          }
                        }
                      }
                    }
                  }

                  & > div:first-child {
                    & > div {
                      margin-bottom: 0 !important;
                    }
                  }
                }
              }
            }
          }

          & .mb2.bg-color5 + .mtb2 {
            & > h3 {
              display: none;
            }
          }
        }

        & .#{$id}__secondParent {
          flex-basis: 25%;
        }

        & .mb2:first-child {
          display: none;
        }

        & .mb2.bg-color5 {
          background: #fbfff4;
          border: 1px solid #4f7e51;
          border-radius: 4px;

          & > h3 {
            padding-top: 24px;
            color: #74963d;
            font-weight: 700;
          }

          & .mtb.f-14:not(.#{$id}__mtb) {
            display: none;
          }
        }
      }
    }
  }

  & .#{$id}__mtb20 {
    display: none;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    & .#{$id}__displayNone {
      display: none;
    }
  }

  &__passwordContainer {
    & ~ .fullwidthonnarrow {
      input {
        display: none;
      }
    }

    & ~ .long.hideonnarrow {
      display: none !important;
    }

    & ~ .fullwidthonnarrow.mb0 {
      display: none !important;
    }

    & .#{$id}__newPassword {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      @media only screen and (max-width: 767px) {
        // do something
        & {
          flex-direction: column;
          align-items: flex-start;
        }
      }

      & .fullwidthonnarrow {
        width: calc(100% - 142px) !important;
        @media only screen and (max-width: 767px) {
          // do something
          & {
            width: 100% !important;
          }
        }
      }
    }

    & .#{$id}__confirmPassword {
      display: flex;
      align-items: center;
      @media only screen and (max-width: 767px) {
        // do something
        & {
          flex-direction: column;
          align-items: flex-start;
        }
      }

      & .fullwidthonnarrow {
        width: calc(100% - 142px) !important;
        @media only screen and (max-width: 767px) {
          // do something
          & {
            width: 100% !important;
          }
        }
      }
    }
  }

  &__forgetSomething {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #61862e;

    & p {
      margin-top: 20px;
      color: #fff;
      font-weight: 700;
      font-size: 24px;
      line-height: 24px;
      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        // do something in this width range.
        & {
          font-size: 25px;
        }
      }
    }

    & span {
      margin-bottom: 20px;
      padding: 0 21px;
      color: #aac08a;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      text-align: center;
    }

    & a {
      margin-bottom: 20px;
      padding: 15px 46px;
      color: #ffff;
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
      text-transform: uppercase;
      background: #2f4a17;
      border-radius: 5px;

      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        // do something in this width range.
        & {
          padding: 15px;
        }
      }
    }
  }

  &__imageContainer {
    & img {
      width: 100%;
    }
  }

  &__image02 {
    margin-top: 24px;
  }

  #overlay-footer {
    & + .fullwidth {
      display: none;
    }
  }
  @media only screen and (min-width: 768px) {
    & .#{$id}__itemDetails {
      display: none !important;
    }
  }

  @media only screen and (max-width: 767px) {
    // do something
    & .#{$id}__itemDetails {
      display: flex;
      font-size: 12px;
      & .#{$id}__itemFirst {
        width: 40%;
        padding-right: 0;
      }

      & .#{$id}__itemSecond {
        width: 60%;
        & .#{$id}__container-3x1 {
          & .#{$id}__firstItem {
            text-align: right;
          }
          & .#{$id}__secondItem {
            padding: 0;
            white-space: nowrap;
          }
        }
      }
    }
  }

  & .#{$id}__account-creation {
    background: #83a253;
    padding: 0 16px;
    margin-bottom: 24px;

    @media (min-width: 768px) {
      & {
        display: none;
      }
    }
    & .#{$id}__account-title {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #ffffff;
      /* padding: 0 20px; */
      margin-bottom: 0px;
    }

    & .#{$id}__account-link {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
      color: #ffffff;
      margin-bottom: 8px;
      display: inline-block;
      text-decoration: underline;
    }
  }

  & .#{$id}__details-info {
    background: #eeeeee;
    padding-bottom: 24px;

    @media (min-width: 768px) {
      & {
        display: none;
      }
    }
    & .#{$id}__details-title {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      padding: 16px 16px 0 16px;
      /* or 121% */

      color: #74963d;
    }
    & .#{$id}__details-list {
      list-style-type: inherit;
      padding: 0 16px 0 44px;
      & .#{$id}__details-item {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        /* or 121% */

        color: #666666;
      }
    }

    & + .fullwidth {
      margin-top: 0 !important;
    }
  }
}
